Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

test: web condition was not being called by tests
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

test: remove wrapping describe
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

fix: typo on ==
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

refactor: move web-only checks inside the Platform.OS web condition
  packages/react-native-tab-view/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

fix: typo on !=
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

refactor: move web-only checks inside the Platform.OS web condition (#12161)
  packages/react-native-tab-view/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

test: mock ScreenContentWrapper to fix tests
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

chore: bump react-native-screens version in native stack to v4
  packages/native-stack/package.json
Due: types, test

Rename stackPresentation -> presentation
  packages/native-stack/src/types.tsx
Due: lint, types, test

Update docs for sheetAllowedDetents
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: bump screens in bottom tabs
  packages/bottom-tabs/package.json
Due: types, test

chore: change dependency version of screens to ">= 4.0.0" in native-stack
  packages/native-stack/package.json
Due: types, test

chore: bump screens version in js-stack
  packages/stack/package.json
Due: types, test

chore: bump screens in example app
  example/package.json
Due: types, test

chore: (possible rever) update yarn lock
  yarn.lock
Due: none

chore: bump screens version in drawer
  packages/drawer/package.json
Due: types, test

chore: update lockfiles again
  yarn.lock
Due: none

fix: stub the tyep change
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: remove unused ts-expect-error
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: bump screens to 4.0.0-beta.2
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump screens to 4.0.0-beta.3
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump react-native-screens version to 4-beta for v7 (#12179)
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

test: update description of test block
  packages/bottom-tabs/src/__tests__/index.test.tsx
Due: lint, types, test

test: emit keyboard event
  packages/bottom-tabs/src/__tests__/index.test.tsx
Due: lint, types, test

test: improve comments
  packages/bottom-tabs/src/__tests__/index.test.tsx
Due: lint, types, test

fix: handlePress type coercion
  packages/react-native-tab-view/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

refactor: move web-only checks inside web condition
  packages/elements/src/PlatformPressable.tsx
  packages/elements/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

test: button undefined
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

chore: mocks for screens are no longer needed
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

chore: remove duplicated union values from formsheet props
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat(header): add accessibility label to drawer menu button
  packages/drawer/src/views/DrawerToggleButton.tsx
Due: lint, types, test

refactor!: add "index" suffix to selected sheet related props and update types
  packages/native-stack/src/types.tsx
Due: lint, types, test

refactor!: update types for sheet props & docs on error handling
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: bump screens to 4.0.0-beta.5
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

chore: bump screens version to 4.0.0-beta.5 (#12186)
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

Test changes in config styles
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

Remove flex: 1 from subview child
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

Fixes for iOS
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

refactor: remove 7.x from error link for stable
  packages/native/src/createStaticNavigation.tsx
Due: lint, types, test

refactor!: rename `isStable` -> `stable` on react-navigation layer
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
