Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

ci: skip ios runner prepare on cache hit
  .github/workflows/e2e-ios.yml
Due: none

test: assert preload route before loaded state
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/stack-preload-flow.yml
Due: none

chore: update agent-device to 0.16.13
  .github/workflows/e2e-ios.yml
  package.json
Due: types, test, dependencies

ci: use agent-device prepare retry package
  .github/workflows/e2e-ios.yml
  tools/agent-device-0.16.13-codex.tgz
Due: none

chore: use agent-device 0.16.14
  package.json
  tools/agent-device-0.16.13-codex.tgz
Due: types, test, dependencies

test: restore maestro flow semantics
  example/e2e/maestro/bottom-tabs-preload-flow.yml
  example/e2e/maestro/libraries-drawer-layout.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/native-stack-header-customization.yml
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/stack-header-customization.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/src/Screens/BottomTabsPreloadFlow.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
Due: lint, types, test

chore: update agent-device to 0.17
  package.json
Due: types, test, dependencies

ci: shard agent-device e2e like maestro
  scripts/agent-device.ts
Due: lint, types, test

chore: update agent-device to 0.17.1
  package.json
Due: types, test, dependencies

chore: update agent-device to 0.17.2
  package.json
Due: types, test, dependencies

chore: update agent-device to 0.17.3
  package.json
Due: types, test, dependencies

test: clean up focused CI experiment
  .github/agent-device-local.tgz
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/measure-typescript.yml
  scripts/agent-device.ts
Due: lint, types, test

test: widen material top tabs CI waits
  .github/workflows/e2e-android.yml
  example/e2e/maestro/material-top-tabs.yml
  scripts/agent-device.ts
Due: lint, types, test

test: focus Android agent-device CI repro
  .github/agent-device-local.tgz
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/measure-typescript.yml
  scripts/agent-device.ts
Due: lint, types, test

chore: update agent-device to 0.17.4
  package.json
Due: types, test, dependencies

chore: update agent-device to 0.17.5
  package.json
Due: types, test, dependencies

chore: tweaks
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  example/.gitignore
  scripts/agent-device.ts
Due: lint, types, test

chore: update agent-device to 0.17.6
  package.json
Due: types, test, dependencies

ci: preserve required e2e check names
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
Due: none

chore: update agent-device to 0.18.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: types, test, dependencies

feat: implement new native stack
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
Due: lint, types, test

feat(elements): support custom asset-catalog icons via image & sfSymbol
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/Header/HeaderIcon.tsx
  packages/elements/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native/ios/ReactNavigationSFSymbolView.swift
Due: lint, types, test

test: test more scenarios for async server rendering
  packages/core/src/__tests__/concurrent.test.tsx
  packages/native/src/server/__tests__/index.test.tsx
Due: lint, types, test

feat(bottom-tabs): per-tab icon size & active-indicator sizing on the native tab bar
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

fix: properly handle required props in navigators
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

test: add tests and typechecks for standard navigator integration
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  package.json
  packages/native/src/__tests__/createStandardNavigationFactories.test.tsx
  packages/native/src/createStandardNavigationFactories.tsx
Due: lint, types, test, dependencies

test: add tests for state persistence
  packages/native/src/__tests__/NavigationContainer.test.tsx
Due: lint, types, test

test: add more tests for browser history integration
  packages/native/src/__tests__/useLinking.test.tsx
Due: lint, types, test

test: add tests for linking on native
  packages/native/src/__tests__/useLinking.native.test.tsx
Due: lint, types, test

test: add tests for missing cases in navigation builder
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

test: add tests for missing cases in tab and stack routers
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

test: add tests for `useLinkTo`
  packages/native/src/__tests__/useLinkTo.test.tsx
Due: lint, types, test

feat(native-stack): add options to disable inset application for header
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

refactor(native-stack): wrap insets in config obj and care about backward compat.
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore(native-stack): apply review suggestions
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: wrap navigations in startTransition by default
  example/e2e/tests/maestro.test.ts
  example/src/Showcase/NativeStackShowcase.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/__tests__/concurrent.test.tsx
  packages/core/src/useNavigationCache.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native-stack/src/views/FooterComponent.tsx
  packages/native/src/useLinking.tsx
  packages/react-native-tab-view/src/TabBarItemLabel.tsx
Due: lint, types, test

feat: wrap navigations in startTransition by default (#13171)
  example/e2e/tests/maestro.test.ts
  example/src/Showcase/NativeStackShowcase.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/__tests__/concurrent.test.tsx
  packages/core/src/useNavigationCache.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native-stack/src/views/FooterComponent.tsx
  packages/native/src/useLinking.tsx
  packages/react-native-tab-view/src/TabBarItemLabel.tsx
Due: lint, types, test

feat: Phase 1 of data loading (#13001)
  example/src/Screens/LoaderDemo.tsx
  example/src/screens.tsx
  packages/core/src/DataLoading.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
Due: lint, types, test

feat: phase 2 init
  example/package.json
  example/src/Screens/LoaderDemo.tsx
  example/src/Shared/ErrorBoundary.tsx
  example/src/index.tsx
  example/src/queryClient.ts
  packages/core/src/DataLoading.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/StaticNavigationContext.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
  packages/core/src/__tests__/useOnActionLoader.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnAction.tsx
  pnpm-lock.yaml
Due: lint, types, test
