Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

feat: align tab bar with latest material design guidelines
  example/src/Screens/TabView/CustomIndicator.tsx
  example/src/Screens/TabView/ScrollableTabBar.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/react-native-tab-view/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/ScrollViewAdapter.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/TabBarItemLabel.tsx
  packages/react-native-tab-view/src/__tests__/index.test.tsx
  packages/react-native-tab-view/src/constants.tsx
  packages/react-native-tab-view/src/useLayoutWidths.tsx
Due: lint, types, test

fix: fix tab view in RTL
  packages/react-native-tab-view/src/PagerViewAdapter.native.tsx
  packages/react-native-tab-view/src/ScrollViewAdapter.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

fix: fix tab bar item with icon
  packages/react-native-tab-view/src/TabBarItem.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: add prop for disabling default top inset application to outermost header
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix: bind screens prop with headerTopInsetEnabled
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: add prop for disabling default top inset application (#13114)
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: implement new native stack
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
Due: lint, types, test

feat: rework server rendering API
  eslint.config.mjs
  example/e2e/tests/server.test.ts
  example/server/index.tsx
  example/src/Screens/ScreenLayout.tsx
  packages/core/src/CurrentRenderContext.tsx
  packages/core/src/index.tsx
  packages/core/src/useCurrentRender.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/package.json
  packages/native/src/ServerContainer.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/native/src/index.tsx
  packages/native/src/server/ServerContext.tsx
  packages/native/src/server/__tests__/index.test.tsx
  packages/native/src/server/index.tsx
  packages/native/src/types.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

feat: rework server rendering API (#13118)
  eslint.config.mjs
  example/e2e/tests/server.test.ts
  example/server/index.tsx
  example/src/Screens/ScreenLayout.tsx
  packages/core/src/CurrentRenderContext.tsx
  packages/core/src/index.tsx
  packages/core/src/useCurrentRender.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/package.json
  packages/native/src/ServerContainer.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/native/src/index.tsx
  packages/native/src/server/ServerContext.tsx
  packages/native/src/server/__tests__/index.test.tsx
  packages/native/src/server/index.tsx
  packages/native/src/types.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: fix static screen params for Record-based configsi
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

fix: fix static screen params for Record-based configsi (#13119)
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix various issues with path generation with automatic paths
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

fix: remove support for linking at group level
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

chore: add a heavy component for testing
  example/src/Shared/HeavyComponent.tsx
Due: lint, types, test

fix: default lazy to true for native tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/utils/useDeferredRouteKeys.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

refactor: defer each screen individually
  packages/bottom-tabs/src/utils/useDeferredRouteKeys.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/Deferred.tsx
Due: lint, types, test

fix: default lazy to true for native tabs to avoid flicker
  packages/bottom-tabs/src/unstable/Deferred.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: upgrade dependencies
  .github/workflows/ci.yml
  example/package.json
  lefthook.yml
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  scripts/dependency-versions.mjs
  yarn.lock
Due: types, test, dependencies

chore: upgrade dependencies (#13120)
  .github/workflows/ci.yml
  example/package.json
  lefthook.yml
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  scripts/dependency-versions.mjs
  yarn.lock
Due: types, test, dependencies

chore: add typecheck for declarations
  .github/workflows/ci.yml
  lefthook.yml
  package.json
Due: types, test, dependencies

feat: add createXScreen helpers to navigators
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.native.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/index.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

fix(bottom-tabs): dispatch popToTopOnBlur even when tab transition is interrupted
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

feat: add standard navigation compatibility
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: add standard navigation compatibility
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

refactor: tweak types for static navigation
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

refactor: tweak types for static navigation (#13125)
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

refactor: drop internal use of UnhandledLinkingContext
  packages/native/src/NavigationContainer.tsx
  packages/native/src/UnhandledLinkingContext.tsx
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

feat: migrate stack and drawer to gesture handler 3
  example/package.json
  packages/drawer/package.json
  packages/drawer/src/types.tsx
  packages/material-top-tabs/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.tsx
  packages/react-native-drawer-layout/src/views/GestureHandlerNative.tsx
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  packages/stack/src/index.tsx
  packages/stack/src/utils/GestureHandlerContext.tsx
  packages/stack/src/utils/GestureHandlerRefContext.tsx
  packages/stack/src/utils/gestureActivationCriteria.tsx
  packages/stack/src/utils/useGestureHandler.tsx
  packages/stack/src/utils/useGestureHandlerRef.tsx
  packages/stack/src/views/GestureHandler.tsx
  packages/stack/src/views/GestureHandlerNative.tsx
  packages/stack/src/views/Stack/Card.tsx
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

chore: use agent-device for native e2e tests
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  CONTRIBUTING.md
  example/package.json
  package.json
  scripts/agent-device.ts
  scripts/maestro.ts
  yarn.lock
Due: lint, types, test, dependencies

fix: pass agent-device test flags before flows
  scripts/agent-device.ts
Due: lint, types, test

fix: run maestro flows through agent-device replay
  scripts/agent-device.ts
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
