Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

fix: split updating state to batches on long lists (#11046)
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

chore: add contributors in release notes
  lerna.json
Due: types, test

chore: bump all packages to patch to force new release
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
Due: types, test

fix__pass text component to label renderer
  packages/bottom-tabs/src/views/BottomTabItem.tsx
Due: lint, types, test

refactor: revert drawerstatuscontext
  packages/drawer/src/utils/DrawerStatusContext.tsx
Due: lint, types, test

Fix useScrollToTop not scrolling when nesting multiple tab navigators
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

chore: drop react-native-flipper-plugin
  .github/ISSUE_TEMPLATE/bug-report-version-4.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-labels.yml
  .github/workflows/versions.yml
  README.md
  example/package.json
  example/src/index.tsx
  packages/devtools/package.json
  packages/devtools/src/index.tsx
  packages/devtools/src/useFlipper.tsx
  packages/drawer/src/types.tsx
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/LICENSE
  packages/flipper-plugin-react-navigation/README.md
  packages/flipper-plugin-react-navigation/babel.config.js
  packages/flipper-plugin-react-navigation/package.json
  packages/flipper-plugin-react-navigation/src/LinkingTester.tsx
  packages/flipper-plugin-react-navigation/src/Logs.tsx
  packages/flipper-plugin-react-navigation/src/RouteMap.tsx
  packages/flipper-plugin-react-navigation/src/Sidebar.tsx
  packages/flipper-plugin-react-navigation/src/Typography.tsx
  packages/flipper-plugin-react-navigation/src/index.tsx
  packages/flipper-plugin-react-navigation/src/plugin.tsx
  packages/flipper-plugin-react-navigation/src/types.tsx
  packages/flipper-plugin-react-navigation/src/useStore.tsx
  packages/flipper-plugin-react-navigation/tsconfig.json
  scripts/check-prebuild.js
  tsconfig.json
  yarn.lock
Due: lint, types, test

fix: bump query-string version
  packages/core/package.json
  yarn.lock
Due: types, test

refactor: use consistent naming for useBottomTabBarHeight
  packages/bottom-tabs/src/utils/useBottomTabBarHeight.tsx
Due: lint, types, test

refactor: use consistent naming for useBottomTabBarHeight (#11073)
  packages/bottom-tabs/src/utils/useBottomTabBarHeight.tsx
Due: lint, types, test

fix: bump query-string version (#11069)
  packages/core/package.json
  yarn.lock
Due: types, test

Update packages/native/src/useScrollToTop.tsx
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

ci: fix pull requests not triggering CI
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: none

fix: drawerstatuscontext should be exported (#11041)
  packages/drawer/src/index.tsx
Due: lint, types, test

Change variable name and fix TS by declaring explicit type
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

fix: keep hash/fragment section for initial render and hash only changes
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

fix: keep hash/fragment section un URLs on web (#11078)
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

fix: fix incorrect comments
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

feat: make useScrollToTop work when nesting multiple tab navigators (#11063)
  package.json
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

feat: expose the original label in children prop for custom label functions in tab navigators
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

chore: add build to the release script
  package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: fix lint issues
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

chore: configure lerna for prerelease
  lerna.json
Due: types, test

chore: upgrade bob & typescript
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

refactor!: improve the API for Link component
  example/e2e/tests/Link.test.ts
  example/src/Screens/LinkComponent.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__mocks__/createStackNavigator.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/__tests__/useLinkTools.test.tsx
  packages/native/src/index.tsx
  packages/native/src/useLinkProps.tsx
  packages/native/src/useLinkTo.tsx
  packages/native/src/useLinkTools.tsx
Due: lint, types, test

chore: remove yarn 1 config
  .yarnrc
Due: none

ci: configure github actions for 7.x
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/expo.yml
Due: none

fix: fix overlay not receiving clicks on web
  packages/drawer/src/views/modern/Overlay.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
