Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: avoid deprecated shadow style on web in stack (#13246)
  packages/stack/src/TransitionConfigs/CardStyleInterpolators.tsx
Due: lint, types, test

feat: add tab bar badge support to MaterialTopTabs
  example/src/Screens/MaterialTopTabs.tsx
  packages/material-top-tabs/src/__tests__/index.test.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: emit bottomAccessoryPlacementChange event from native bottom tabs
  example/__typechecks__/common.check.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix: stop mobile address bar collapse from flickering
  packages/native-stack/src/utils/__tests__/useFillsWindow.web.test.tsx
  packages/native-stack/src/utils/useFillsWindow.ts
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/views/Stack/CardContent.tsx
  packages/stack/src/views/Stack/__tests__/CardContent.web.test.tsx
Due: lint, types, test

docs: fix typos in native-stack header option JSDoc (#13232)
  packages/native-stack/src/types.tsx
Due: lint, types, test

docs: clarify default animationTypeForReplace is push (#13233)
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: use a render callback for custom navigators (#13238)
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.native.tsx
  packages/core/README.md
  packages/core/src/PreventRemoveProvider.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/__tests__/NavigationIndependentTree.test.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/createNavigationContainerRef.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/theming.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/useFocusEffect.test.tsx
  packages/core/src/__tests__/useIsFocused.test.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useNavigationCache.test.tsx
  packages/core/src/__tests__/useNavigationState.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/__tests__/useRoute.test.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/usePreventRemoveContext.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/NavigationContainer.test.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/native/src/__tests__/createStaticNavigation.test.tsx
  packages/native/src/__tests__/hydration.test.tsx
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/createStandardNavigationFactories.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

refactor: replace query-string with own implementation
  jest.config.js
  packages/core/package.json
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/__tests__/queryString.test.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/queryString.ts
  pnpm-lock.yaml
Due: lint, types, test

refactor: replace query-string with own implementation
  packages/core/package.json
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/__tests__/queryString.test.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/queryString.ts
  yarn.lock
Due: lint, types, test, dependencies

feat: add badge support to Material Top Tabs with customizable styles
  example/src/Screens/MaterialTopTabs.tsx
  packages/material-top-tabs/src/__tests__/index.test.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/TabBarItemBadge.tsx
  packages/react-native-tab-view/src/__tests__/index.test.tsx
  packages/react-native-tab-view/src/constants.tsx
  packages/react-native-tab-view/src/types.tsx
Due: lint, types, test

fix: handle AGP9's built-in kotlin support
  packages/native/android/build.gradle
Due: none

refactor: remove unnecessary shortid from core
  packages/core/package.json
  packages/core/src/PreventRemoveProvider.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/usePreventRemove.tsx
  packages/core/src/useRegisterNavigator.tsx
  packages/devtools/package.json
  pnpm-lock.yaml
Due: lint, types, test

fix(stack): clip inactive cards inside Card so their shadow stays visible
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore(stack): shorten the overflow comment
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

chore(stack): drop the history from the overflow comment
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

chore: add a workflow to check visual evidence and description length in PRs
  .github/workflows/check-pull-request.yml
Due: none

refactor: remove unnecessary nanoid from core (#13253)
  packages/core/package.json
  packages/core/src/PreventRemoveProvider.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/usePreventRemove.tsx
  packages/core/src/useRegisterNavigator.tsx
  packages/devtools/package.json
  pnpm-lock.yaml
Due: lint, types, test

wip
  packages/core/src/__tests__/__fixtures__/MockRouter.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/routers/package.json
  packages/routers/src/BaseRouter.tsx
  packages/routers/src/DrawerRouter.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/TabRouter.tsx
  packages/routers/src/__tests__/BaseRouter.test.tsx
  packages/routers/src/__tests__/DrawerRouter.test.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
  packages/routers/src/createRouteFromAction.tsx
  packages/routers/src/types.tsx
  pnpm-lock.yaml
Due: lint, types, test

fix: measure frame size in layout effect
  example/package.json
  jest.config.js
  jest/setup.native.js
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/elements/src/SafeAreaProviderCompat.tsx
  packages/elements/src/useFrameSize.tsx
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test

fix: seed the native stack header height from the platform, not a table
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: handle AGP9's built-in kotlin support (#13252)
  packages/native/android/build.gradle
Due: none

fix: measure frame size in layout effect (#13251)
  example/package.json
  jest.config.js
  jest/setup.native.js
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/elements/src/SafeAreaProviderCompat.tsx
  packages/elements/src/useFrameSize.tsx
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test

fix: ensure overflow: hidden doesn't hide any shadow
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

fix: clip shadow visible for inactive cards in stack (#13255)
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: measure frame size in layout effect (#13251)
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/src/SafeAreaProviderCompat.tsx
  packages/elements/src/useClientLayoutEffect.tsx
  packages/elements/src/useFrameSize.tsx
  packages/material-top-tabs/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

fix: clip shadow visible for inactive cards in stack (#13255)
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: use the header height screens lays out, without adding the top inset
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: give drawer onOpen and onClose a stable identity
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/__tests__/index.test.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  pnpm-lock.yaml
Due: lint, types, test

test: cover the drawer open and close callbacks being invoked
  packages/react-native-drawer-layout/src/__tests__/index.test.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

test: drop the assertion on memo recomputation
  packages/react-native-drawer-layout/src/__tests__/index.test.tsx
Due: lint, types, test

chore: remove implementation detail tests
  packages/native-stack/src/utils/__tests__/useFillsWindow.web.test.tsx
  packages/stack/package.json
  packages/stack/src/views/Stack/__tests__/CardContent.web.test.tsx
  pnpm-lock.yaml
Due: lint, types, test

refactor: simplify card content for stack
  packages/stack/src/views/Stack/CardContent.tsx
Due: lint, types, test

refactor: simplify page overflow for native stack
  packages/elements/src/Screen.tsx
  packages/native-stack/src/utils/useFillsWindow.ts
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

fix: fix slow layout on safari on iOS 27
  packages/elements/src/Container.tsx
Due: lint, types, test

fix: remove height workaround on chrome so address bar can collapse
  example/src/index.tsx
  packages/stack/src/views/Stack/CardContent.tsx
Due: lint, types, test
