Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

Fix undefined fonts issue in useHeaderConfigProps
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

refactor: use context instead of screenRefs
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: bump react-native-screens to beta 16
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

chore: revert peerDep to beta.16
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump react-native-screens to beta 17 (#12228)
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

feat!: change default value for fullScreenGestureShadowEnabled to true
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat(native-stack,iOS)!: change default value of `fullScreenGestureShadowEnabled` to `true` (#12232)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat!: update default animation duration to 500ms in native-stack
  packages/native-stack/src/types.tsx
Due: lint, types, test

docs(native-stack): update JSDoc on default animation duration (#12233)
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: bump react-native-screens to stable
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: configure lerna for stable release
  lerna.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: use 6.x tag for 6.x versions on npm
  lerna.json
Due: types, test

chore: update README and issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
Due: none

fix: fix custom tab bar label and style not working for material top tabs
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/TabBarItemLabel.tsx
  packages/react-native-tab-view/src/types.tsx
Due: lint, types, test

chore: publish
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

chore(devtools): have proper colors in dark mode for the logger
  packages/devtools/src/useLogger.tsx
Due: lint, types, test

chore: replace old colors with colors that work on light and dark modes
  packages/devtools/src/useLogger.tsx
Due: lint, types, test

fix(devtools): have proper colors in dark mode for the logger (#12243)
  packages/devtools/src/useLogger.tsx
Due: lint, types, test

chore: added optional chaining back on Gesture.Pan()
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: fix `None of the callbacks in the gesture are worklets` on Drawer
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix(drawer): fix gesture handler warnings to mark worklets explicitly (#12240)
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

chore: publish
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
Due: types, test

fix: add missing screenLayout prop to the bottom tabbar navigator
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
Due: lint, types, test

fix: add missing screenLayout prop to the bottom tab navigator (#12246)
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
Due: types, test

Fix: cannot remove child at index
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: shadow styles warning on web
  packages/stack/src/utils/__tests__/getShadowStyles.test.tsx
  packages/stack/src/utils/getShadowStyles.ts
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

fix: move rest of shadow styles to platform specific styles
  example/src/Screens/TabView/Coverflow.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackground.tsx
  packages/react-native-tab-view/src/TabBar.tsx
Due: lint, types, test

fix: added default values for web
  packages/stack/src/utils/getShadowStyles.ts
Due: lint, types, test

fix: fix tearing of useNavigationState & useIsFocused on route names change
  packages/core/src/__tests__/__fixtures__/MockRouter.tsx
  packages/core/src/__tests__/useIsFocused.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

refactor: remove unnecessary logic from getState
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

test: update platform pressable tests
  packages/elements/src/__tests__/PlatformPressable.test.tsx
  packages/react-native-tab-view/src/__tests__/PlatformPressable.test.tsx
Due: lint, types, test

test: use jest.replaceProperty instead of manual assignment
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

refactor: move sheet rendering to react-native-screens
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

refactor: move unstable_sheetFooter rendering to `react-native-screens` (#12258)
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Add failing test for reset within nested navigator
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

Fix the warning about key prop with spread operator
  packages/react-native-tab-view/src/TabView.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
