Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: add masked-view to peerDependencies
  packages/elements/package.json
  yarn.lock
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix drawer animation when reduceMotion enabled. closes #1198
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: fix drawer animation when reduceMotion enabled. closes #1198
  packages/drawer/src/views/modern/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
Due: lint, types, test

fix: fix incorrect import from gesture handler
  packages/drawer/src/views/GestureHandler.tsx
  packages/drawer/src/views/modern/Drawer.tsx
Due: lint, types, test

chore: publish
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
Due: types, test

fix: bump use-latest-callback to fix require
  packages/core/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

Emit sheetDetentChange event via navigation event pipeline
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Add sheetDetentChange event to types
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: support theming in NavigationContainer fallback
  packages/native/src/NavigationContainer.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: set default fullScreenGestureShadowEnabled value during destructing options
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: remove @ts-expect-error causing CI fails
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: add fullScreenSwipeShadowEnabled prop to NativeStackView (#12053)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

refactor: move @ts-expect-error to the end
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: remove transition listeners in effect cleanup
  packages/react-native-drawer-layout/src/views/Drawer.tsx
Due: lint, types, test

refactor: remove 1.5x drawer icons
  packages/drawer/src/views/assets/toggle-drawer-icon@1.5x.android.png
  packages/drawer/src/views/assets/toggle-drawer-icon@1.5x.ios.png
Due: none

feat: add fullScreenSwipeShadowEnabled prop to NativeStackView
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: add fullScreenSwipeShadowEnabled prop to NativeStackView (#12070)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: fix type inference for params. closes #12071
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

chore: move to maintained npm-run-all2
  example/package.json
  package.json
  yarn.lock
Due: types, test

chore: fix some imports in example app
  example/src/Screens/DynamicTabs.tsx
  example/src/Screens/StackPreloadFlow.tsx
  example/src/Screens/TabPreloadFlow.tsx
  example/src/index.tsx
Due: lint, types, test

chore: upgrade bob
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: use strict mode js for running the example app
  example/babel.config.js
  example/metro.config.js
  example/package.json
  yarn.lock
Due: lint, types, test

chore: restrict internal files from being imported
  .eslintrc.js
Due: lint, types, test

chore: tweak eslint config
  .eslintrc.js
Due: lint, types, test

fix: fix useAnimatedHeaderHeight on web for native stack
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

chore: restrict gesture-handler and reanimated from being added on web
  example/App.tsx
  example/gesture-handler.native.tsx
  example/gesture-handler.tsx
  example/index.js
  example/metro.config.js
  example/package.json
  example/server/resolve-hooks.tsx
  example/src/Screens/DrawerView.tsx
  example/src/Shared/DrawerProgress.native.tsx
  example/src/Shared/DrawerProgress.tsx
  yarn.lock
Due: lint, types, test

chore: restrict gesture-handler and reanimated from being added on web (#12074)
  example/App.tsx
  example/gesture-handler.native.tsx
  example/gesture-handler.tsx
  example/index.js
  example/metro.config.js
  example/package.json
  example/server/resolve-hooks.tsx
  example/src/Screens/DrawerView.tsx
  example/src/Shared/DrawerProgress.native.tsx
  example/src/Shared/DrawerProgress.tsx
  yarn.lock
Due: lint, types, test

chore: fix port for local testing with playwright
  example/e2e/playwright.config.ts
Due: lint, types, test

fix: fix wrong header height for translucent header on Android
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: remove unused file
  packages/core/utils/usePrevious.tsx
Due: lint, types, test
