Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

wip
  example/app.config.ts
  example/package.json
  scripts/expo.ts
  scripts/maestro.ts
Due: lint, types, test

chore: configure local build cache for expo
  example/app.json
  example/package.json
  yarn.lock
Due: types, test, dependencies

ci: install dependencies before they are used
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

fix: preserve navigator state with <Activity mode="hidden">
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnAction.tsx
  packages/core/src/useOnRouteFocus.tsx
Due: lint, types, test

ci: verify template
  .github/workflows/template.yml
Due: none

feat: update screens to 4.24.0
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add support for images in nested header menus
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: add entry to example
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

chore: make vite shortcuts single press without enter
  example/vite.config.mjs
Due: none

fix: tweaks to better work inside `<Activity mode="hidden">`
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: tweaks to better work inside `<Activity mode="hidden">` (#12985)
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: clear nested params after state is updated
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: don't use as for types
  example/src/Screens/NativeStack.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat(native-stack): add support for images in nested header menus (#12987)
  example/package.json
  example/src/Screens/NativeStack.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat(native-stack): add support for images in nested header menus (#12987)
  example/assets/icons/message-circle.png
  example/assets/icons/message-circle@2x.png
  example/assets/icons/message-circle@3x.png
  example/package.json
  example/src/Screens/NativeStack.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: fix example on web
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

feat: mark params as used instead of cleaning up
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

feat: mark params as used instead of cleaning up (#12988)
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

ci: remove expo related workflows since we don't use Expo Go
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/snackager.yml
Due: none

chore: upgarde expo to sdk 55
  example/App.tsx
  example/app.json
  example/package.json
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

chore: upgarde expo to sdk 55 (#12981)
  example/App.tsx
  example/app.json
  example/package.json
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: keep inactive content visible with `Activity`
  example/src/Screens/ActivityModes.tsx
  example/src/Shared/SegmentedPicker.tsx
  example/src/screens.tsx
  packages/elements/src/ActivityView.native.tsx
  packages/elements/src/ActivityView.tsx
  packages/elements/src/Container.tsx
  packages/elements/src/internal.tsx
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
Due: lint, types, test

feat: add a component that uses `Activity` but keeps content visible (#12980)
  example/src/Screens/ActivityModes.tsx
  example/src/Shared/SegmentedPicker.tsx
  example/src/screens.tsx
  packages/elements/src/ActivityView.native.tsx
  packages/elements/src/ActivityView.tsx
  packages/elements/src/Container.tsx
  packages/elements/src/internal.tsx
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
Due: lint, types, test

refactor: tweak how consumption of nested params is tracked
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

feat: add corner insets API
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.h
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.mm
  packages/native/ios/ReactNavigationCornerInsetViewState.h
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

fix: remove the always 8px size from corner insets
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/src/native/CornerInset.ios.tsx
Due: lint, types, test

fix: relayout the insets after transition end
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/src/index.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

refactor: mark CornerInset as unstable
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/src/index.tsx
Due: lint, types, test

refactor: remove baseline only if no traffic lights
  package.json
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
  yarn.lock
Due: lint, types, test, dependencies

feat: handle traffic lights on iOS with new `UNSTABLE_CornerInset` component (#12978)
  package.json
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.h
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.mm
  packages/native/ios/ReactNavigationCornerInsetViewState.h
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
  yarn.lock
Due: lint, types, test, dependencies
