Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

fix: don't require route for DrawerItem
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

fix: adjust tab bar colors
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
Due: lint, types, test

chore: add demo items for home drawer
  example/src/index.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
Due: types, test

docs: fix prerelease process docs
  CONTRIBUTING.md
Due: none

feat: add package.json exports field
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix published files
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: upgrade bob
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: use imports for assets for esm support
  .gitignore
  packages/drawer/index.d.ts
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/elements/index.d.ts
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/index.tsx
Due: lint, types, test

fix: upgrade use-latest-callback for esm compat
  packages/core/package.json
  packages/drawer/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

fix: add missing exports entry to package.json
  packages/elements/package.json
  packages/react-native-drawer-layout/package.json
Due: types, test

fix: use a stylesheet for workaround to avoid overwriting style
  packages/stack/src/views/Stack/CardSheet.tsx
Due: lint, types, test

fix: pass correct tint color to header icons
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

chore: keep the native theme in sync with the app theme
  example/src/index.tsx
Due: lint, types, test

chore: use Text import from elements
  .eslintrc.json
  example/src/Screens/CustomLayout.tsx
  example/src/Screens/Layouts.tsx
  example/src/Screens/LinkingScreen.tsx
  example/src/Screens/NotFound.tsx
  example/src/Screens/StackPreloadFlow.tsx
  example/src/Screens/TabPreloadFlow.tsx
  example/src/Screens/TabView/Coverflow.tsx
  example/src/Screens/TabView/CustomIndicator.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Article.tsx
  example/src/Shared/Chat.tsx
  example/src/Shared/Contacts.tsx
  example/src/Shared/NewsFeed.tsx
  example/src/index.tsx
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/src/MissingIcon.tsx
  packages/elements/src/Text.tsx
  packages/material-top-tabs/src/__tests__/index.test.tsx
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/useUnhandledLinking.test.tsx
  packages/stack/src/__tests__/index.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: add changes from code review, update react-native-screens to 3.32.0
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  yarn.lock
Due: lint, types, test

chore: update dependencies
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  yarn.lock
Due: types, test

chore: fix react-native-screens resolutions
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

chore: change safe-area-context dependency after merge
  example/package.json
  yarn.lock
Due: types, test

chore: revert screens to 3.31.1
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

feat: add fullScreenSwipeShadowEnabled prop to NativeStackView
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: remove unused type
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: bump use-latest-callback to fix require
  packages/core/package.json
  packages/drawer/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

refactor: move focus and state hooks to useSyncExternalStore
  packages/core/package.json
  packages/core/src/useIsFocused.tsx
  packages/core/src/useNavigationState.tsx
  yarn.lock
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: preserve order when reading screens and groups
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: Change context to Screen with forwarded ref
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: add ts-expect-error to fullScreenSwipeShadowEnabled prop
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: upgrade react-native-builder-bob
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: import from /native instead of /core
  example/src/Screens/NativeStackPreventRemove.tsx
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

chore: add lint rule to prevent /core import
  .eslintrc.js
  .eslintrc.json
  packages/native/src/Link.tsx
  packages/native/src/__tests__/useUnhandledLinking.test.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
