Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

test: add failing test case
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

fix: cleanup nested screen and state after state update
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

fix: fix navigator trying to handle params with screens or state again (#12264)
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

refactor: drop useUnhandledLinking
  example/src/Screens/LinkingScreen.tsx
  example/src/index.tsx
  example/src/screens.tsx
  packages/native/src/__tests__/useUnhandledLinking.test.tsx
  packages/native/src/index.tsx
  packages/native/src/useUnhandledLinking.tsx
Due: lint, types, test

fix: batch and schedule updates to run them in correct order
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useSyncState.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: remove leftover maestro test
  example/e2e/maestro/linking-screen.yml
Due: none

Update types.tsx
  packages/elements/src/types.tsx
Due: lint, types, test

fix: `displayMode` description (#12265)
  packages/elements/src/types.tsx
Due: lint, types, test

fix: add default a11y label to drawer toggle button
  packages/drawer/src/views/DrawerToggleButton.tsx
Due: lint, types, test

refactor: refactor shadows
  example/src/Screens/TabView/Coverflow.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackground.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/stack/src/utils/__tests__/getShadowStyles.test.tsx
  packages/stack/src/utils/getShadowStyle.tsx
  packages/stack/src/utils/getShadowStyles.ts
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

fix: fix deprecation warning for shadow styles on react-native-web (#12253)
  example/src/Screens/TabView/Coverflow.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackground.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/stack/src/utils/__tests__/getShadowStyles.test.tsx
  packages/stack/src/utils/getShadowStyle.tsx
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

docs: add drawer-layout to README
  README.md
  packages/react-native-drawer-layout/README.md
Due: none

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: add ref to header search bar
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: upgrade example to expo 52
  .eslintrc.js
  babel.config.js
  example/app.json
  example/package.json
  example/src/Shared/DrawerProgress.native.tsx
  jest/setup.js
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/elements/src/Header/Header.tsx
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/utils/useFakeSharedValue.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/Overlay.native.tsx
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

fix: remove background from stack
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: revert back to how updates were scheduled in 6.x
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useScheduleUpdate.tsx
  packages/core/src/useSyncState.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

test: add CI jobs for maestro tests
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

chore: use edge-to-edge for example app on android
  example/app.json
  example/package.json
  example/src/Screens/BottomTabs.tsx
  example/src/index.tsx
  yarn.lock
Due: lint, types, test

feat(accessibility): support large content viewer on iOS
  example/src/Screens/BottomTabs.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
Due: lint, types, test

chore: lint fix
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
Due: lint, types, test

fix: animate rearranging screens as push
  example/src/Screens/NativeStack.tsx
  example/src/Screens/SimpleStack.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

test: fix tests to match example app
  example/e2e/maestro/native-stack.yml
  example/e2e/maestro/simple-stack.yml
Due: none

fix: fix incorrect dep array when clearing state
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: fix getState returning outdated state when handling action
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationCache.tsx
  packages/core/src/useNavigationHelpers.tsx
Due: lint, types, test

chore: update action for repro comment
  .github/workflows/check-repro.yml
Due: none

chore: add drawer-layout to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-labels.yml
  .github/workflows/versions.yml
  example/tsconfig.json
  package.json
Due: types, test

chore: remove version checks for 4.x
  .github/workflows/versions.yml
Due: none

refactor: move tintColor to props to avoid react-native-web warnings
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderIcon.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

refactor: remove shadowColor from example to avoid react-native-web warning
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

refactor: disable native driver warnings on web to avoid warnings
  packages/bottom-tabs/src/views/Badge.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

fix: provide correct navigation and route objects to header
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test
