Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: update contributing link to the correct course
  CONTRIBUTING.md
Due: none

docs: update link to GitHub contribution guide (#12909)
  CONTRIBUTING.md
Due: none

chore: rename example app to React Navigation Example
  .github/workflows/e2e-ios.yml
  example/app.json
Due: types, test

chore: rename example app to React Navigation Example
  example/app.json
Due: types, test

refactor: simplify corner insets code
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewState.h
Due: none

refactor: rework corner insets implementation
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.mm
  packages/native/ios/ReactNavigationCornerAdaptivityViewShadowNode.cpp
  packages/native/ios/ReactNavigationCornerAdaptivityViewShadowNode.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewState.h
  packages/native/ios/ReactNavigationCornerInsetView.h
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.mm
  packages/native/ios/ReactNavigationCornerInsetViewState.h
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native-module/CornerAdaptivityView.ios.tsx
  packages/native/src/native-module/CornerAdaptivityView.tsx
  packages/native/src/native-module/ReactNavigationCornerAdaptivityViewNativeComponent.ts
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

feat: add edge prop to CornerInsets
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.mm
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

feat: add a SFSymbol component
  packages/bottom-tabs/package.json
  packages/native-stack/package.json
  packages/native/ReactNavigation.podspec
  packages/native/ios/ReactNavigationSFSymbolView.h
  packages/native/ios/ReactNavigationSFSymbolView.mm
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/ReactNavigationSFSymbolViewNativeComponent.ts
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbol.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: add a SFSymbol component (#12917)
  packages/bottom-tabs/package.json
  packages/native-stack/package.json
  packages/native/ReactNavigation.podspec
  packages/native/ios/ReactNavigationSFSymbolView.h
  packages/native/ios/ReactNavigationSFSymbolView.mm
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/ReactNavigationSFSymbolViewNativeComponent.ts
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbol.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: support sfSymbol icon in custom tabs
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/native/ios/ReactNavigationSFSymbolView.mm
Due: lint, types, test

feat: support drawableResource icon in custom tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

refactor: tweak corner insets code
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
Due: none

fix: split useLinkBuilder to minimize re-renders
  packages/native/src/useLinkBuilder.tsx
  packages/native/src/useLinkTo.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add options to hide left and right item backgrounds
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderButtonBackground.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

refactor: update bottom tabs to match renames in screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: update bottom-tabs/unstable to match renames in screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: add a ~meta property to navigation object
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: add a ~meta property to navigation object (#12931)
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

chore: bump node to latest LTS
  .nvmrc
Due: none

refactor: make all props required for SFSymbol native view
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbolViewNativeComponent.ts
Due: lint, types, test

chore: add a screen with SF Symbol icons
  example/src/Screens/SFSymbols.tsx
  example/src/screens.tsx
  example/src/sf-symbol-names.ts
  scripts/generate-sf-symbol-names.ts
  scripts/package.json
Due: lint, types, test

refactor: remove ~meta property from navigation object (#12931)"
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: handle popToRoot natively in native tabs
  example/src/Screens/NativeBottomTabs.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/core/src/NavigationMetaContext.tsx
  packages/core/src/index.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
Due: lint, types, test

feat: handle popToRoot natively in native tabs
  example/src/Screens/NativeBottomTabs.native.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/core/src/NavigationMetaContext.tsx
  packages/core/src/index.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add a MaterialSymbol component
  example/src/Screens/MaterialSymbols.tsx
  example/src/Shared/SegmentedPicker.tsx
  example/src/material-symbol-names.ts
  example/src/screens.tsx
  packages/native/android/build.gradle
  packages/native/android/gradle.properties
  packages/native/android/src/main/AndroidManifest.xml
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolViewManager.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
  packages/native/assets/fonts/MaterialSymbolsOutlined.codepoints
  packages/native/assets/fonts/MaterialSymbolsOutlined.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp.ttf
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/NativeMaterialSymbolModule.ts
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbol.tsx
  packages/native/src/native/types.tsx
  scripts/update-material-symbols.ts
Due: lint, types, test

feat: add support for material symbols (#12926)
  example/src/Screens/MaterialSymbols.tsx
  example/src/Shared/SegmentedPicker.tsx
  example/src/material-symbol-names.ts
  example/src/screens.tsx
  packages/native/android/build.gradle
  packages/native/android/gradle.properties
  packages/native/android/src/main/AndroidManifest.xml
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolViewManager.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
  packages/native/assets/fonts/MaterialSymbolsOutlined.codepoints
  packages/native/assets/fonts/MaterialSymbolsOutlined.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp.ttf
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/NativeMaterialSymbolModule.ts
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbol.tsx
  packages/native/src/native/types.tsx
  scripts/update-material-symbols.ts
Due: lint, types, test

refactor: update bottom-tabs/unstable to match renames in screens (#12930)
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: use 'auto' instead of 'automatic' for native tabs
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: upgrade lerna-lite
  package.json
  yarn.lock
Due: types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

refactor: update bottom tabs to match renames in screens (#12929)
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

chore: use stable version of react-native-screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

refactor: use 'auto' instead of 'automatic' for native tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

chore: ignore private packages for lerna lite
  example/package.json
  lerna.json
Due: types, test
