Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: fix replace and popTo not updating params
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: handle errors in parsing query params gracefully
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: fix linking prefix matching host with additional characters
  packages/native/src/__tests__/extractPathFromURL.test.tsx
  packages/native/src/extractPathFromURL.tsx
Due: lint, types, test

fix: strip reserved param names from the URL
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

ci: fix bugs in actions
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/closed-issue.yml
Due: none

ci: add proper permission for workflows
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

ci: pin github actions to SHA
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/snackager.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

ci: remove expo related workflows since we don't use Expo Go
  .github/workflows/expo-preview.yml
  .github/workflows/expo.yml
Due: none

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

ci: verify SHA for maestro downloads
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

chore: handle refs better when constructing git command
  scripts/measure-typescript.ts
Due: lint, types, test

ci: add proper permission for workflows
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/e2e-web.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/measure-typescript.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

ci: pin github actions to SHA
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/measure-typescript.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

feat: add fallback material themes for older Android
  packages/native/src/theming/MaterialFallbackTheme.tsx
  packages/native/src/theming/MaterialTheme.android.tsx
  packages/native/src/theming/MaterialTheme.tsx
Due: lint, types, test

fix: don't log error for URL parsing
  packages/native/src/useLinking.native.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: remove snack from repro list
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-repro.yml
  .github/workflows/triage.yml
Due: none

feat: add new implementation for native stack
  example/__typechecks__/common.check.tsx
  example/package.json
  example/src/Screens/NativeStackNext.tsx
  example/src/Screens/StackBasic.tsx
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
  packages/native-stack/src/types.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: update native tabs to new provenance model
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: add ability to prevent tab bar selection
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: implement unstable_toolbarItems for stack navigator
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: update native tabs to use the new API in react-native-screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: update native tabs to use the new API in react-native-screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: add ability to prevent tab bar selection
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

fix: default `multiselectable` to `undefined`
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: default `multiselectable` to `undefined`
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: 🐛 update solution to be for CardContent instead
  packages/stack/src/views/Stack/CardContent.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

docs: ✏️ update comment
  packages/stack/src/views/Stack/CardContent.tsx
Due: lint, types, test

fix: 🐛 add height clamp on web cardstack
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

Enable native driver for Android platform
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

ci: remove semantic pr title and first pr workflows
  .github/workflows/first-pull-request.yml
  .github/workflows/pull-request-title.yml
Due: none

fix: correctly set header height for mode: 'screen'
  packages/stack/src/views/Header/HeaderContainer.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test
