Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: fix checking for modal presentation in stack
  packages/stack/src/utils/findLastIndex.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix headerBackVisible type annotation (#11220)
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: support adding listeners in the config
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

refactor: move tab-view to direct dependency of material-top-tabs
  example/package.json
  packages/material-top-tabs/package.json
  yarn.lock
Due: types, test

fix: split updating state to batches on long lists (#11046)
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

ci: use nvmrc for setting up node
  .github/actions/setup/action.yml
  .nvmrc
Due: none

chore: bump all packages to patch to force new release
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
Due: types, test

refactor: drop react-native-flipper-plugin
  .github/ISSUE_TEMPLATE/bug-report-version-4.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-labels.yml
  .github/workflows/versions.yml
  README.md
  example/package.json
  example/src/index.tsx
  packages/devtools/package.json
  packages/devtools/src/index.tsx
  packages/devtools/src/useFlipper.tsx
  packages/drawer/src/types.tsx
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/LICENSE
  packages/flipper-plugin-react-navigation/README.md
  packages/flipper-plugin-react-navigation/babel.config.js
  packages/flipper-plugin-react-navigation/package.json
  packages/flipper-plugin-react-navigation/src/LinkingTester.tsx
  packages/flipper-plugin-react-navigation/src/Logs.tsx
  packages/flipper-plugin-react-navigation/src/RouteMap.tsx
  packages/flipper-plugin-react-navigation/src/Sidebar.tsx
  packages/flipper-plugin-react-navigation/src/Typography.tsx
  packages/flipper-plugin-react-navigation/src/index.tsx
  packages/flipper-plugin-react-navigation/src/plugin.tsx
  packages/flipper-plugin-react-navigation/src/types.tsx
  packages/flipper-plugin-react-navigation/src/useStore.tsx
  packages/flipper-plugin-react-navigation/tsconfig.json
  scripts/check-prebuild.js
  tsconfig.json
  yarn.lock
Due: lint, types, test

chore: add contributors in release notes
  lerna.json
Due: types, test

chore: configure lerna for prerelease
  lerna.json
Due: types, test

refactor: use consistent naming for useBottomTabBarHeight (#11073)
  packages/bottom-tabs/src/utils/useBottomTabBarHeight.tsx
Due: lint, types, test

chore: remove yarn 1 config
  .yarnrc
Due: none

refactor!: improve the API for Link component
  example/e2e/tests/Link.test.ts
  example/src/Screens/LinkComponent.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__mocks__/createStackNavigator.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/__tests__/useLinkTools.test.tsx
  packages/native/src/index.tsx
  packages/native/src/useLinkProps.tsx
  packages/native/src/useLinkTo.tsx
  packages/native/src/useLinkTools.tsx
Due: lint, types, test

chore: upgrade bob & typescript
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

ci: fix pull requests not triggering CI
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: none

ci: configure github actions for 7.x
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/expo.yml
Due: none

fix: drawerstatuscontext should be exported (#11041)
  packages/drawer/src/index.tsx
Due: lint, types, test

fix: bump query-string version (#11069)
  packages/core/package.json
  yarn.lock
Due: types, test

fix: fix overlay not receiving clicks on web
  packages/drawer/src/views/modern/Overlay.tsx
Due: lint, types, test

fix: keep hash/fragment section un URLs on web (#11078)
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

feat: expose the original label in children prop for custom label functions in tab navigators
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

chore: add build to the release script
  package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

feat: make useScrollToTop work when nesting multiple tab navigators (#11063)
  package.json
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

fix: remove defaultScreenOptions from default navigator options
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: enforce same dependency versions across the repo
  .github/workflows/ci.yml
  package.json
  packages/native/package.json
  yarn.lock
Due: types, test

chore: upgrade dependencies (#11090)
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/package.json
  example/src/Screens/MasterDetail.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/native/src/useLinking.native.tsx
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/types.tsx
  packages/routers/package.json
  packages/stack/package.json
  packages/stack/src/types.tsx
  packages/stack/src/utils/conditional.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  scripts/check-types-path.js
  yarn.lock
Due: lint, types, test

fix: support dispatching action to child without 'navigationInChildEnabled' if 'target' is specified
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

ci: use newer version of check-versions-action
  .github/workflows/versions.yml
Due: none

feat: extract drawer to a separate package
  .eslintrc.json
  example/src/Screens/DrawerView.tsx
  example/src/screens.tsx
  package.json
  packages/core/README.md
  packages/drawer/src/index.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/drawer/tsconfig.json
  packages/react-native-drawer-layout/LICENSE
  packages/react-native-drawer-layout/README.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/constants.tsx
  packages/react-native-drawer-layout/src/index.tsx
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/utils/DrawerGestureContext.tsx
  packages/react-native-drawer-layout/src/utils/DrawerProgressContext.tsx
  packages/react-native-drawer-layout/src/utils/useDrawerProgress.tsx
  packages/react-native-drawer-layout/src/views/Drawer.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.android.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.ios.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.tsx
  packages/react-native-drawer-layout/src/views/GestureHandlerNative.tsx
  packages/react-native-drawer-layout/src/views/legacy/Drawer.tsx
  packages/react-native-drawer-layout/src/views/legacy/Overlay.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Overlay.tsx
  packages/react-native-drawer-layout/tsconfig.build.json
  packages/react-native-drawer-layout/tsconfig.json
  packages/react-native-tab-view/README.md
  packages/routers/README.md
  tsconfig.json
  yarn.lock
Due: lint, types, test

fix: don't modify browser history on re-render
  packages/native/src/useLinking.tsx
Due: lint, types, test

chore: upgrade expo webpack config to remove NODE_OPTIONS
  example/package.json
  netlify.toml
  yarn.lock
Due: types, test

fix: handle merge: true with NAVIGATION_DEPRECATED in TabRouter
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

chore: update the messaging when no repro is present
  .github/workflows/check-repro.yml
  .github/workflows/closed-issue.yml
  .github/workflows/first-pull-request.yml
Due: none

refactor: reuse element for descriptor.render()
  packages/core/src/useDescriptors.tsx
Due: lint, types, test

fix: make headerBackground visible with transparent header (#11109)
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

fix: fix type of setOptions and mark data passed to callbacks as Readonly
  example/types.check.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationCache.tsx
Due: lint, types, test

feat: add support to override pager's overScrollMode (#11194)
  packages/react-native-tab-view/README.md
  packages/react-native-tab-view/src/TabView.tsx
Due: lint, types, test

fix: added close drawer accessibility tap area (#11184)
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/legacy/Drawer.tsx
  packages/react-native-drawer-layout/src/views/legacy/Overlay.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Overlay.tsx
Due: lint, types, test

feat: add testID and accessibilityLabel to DrawerItem (#11168)
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test
