Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: handle navigationKey on nested groups
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: fall back to first route if initial route isn't present when rehydrating
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

test: suppress expected duplicate screen name warning in link test
  packages/native/src/__tests__/Link.test.tsx
Due: lint, types, test

fix: don't revert reset when dispatching another action immediately after
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

fix: don't ignore navigation from layout effects when screens change
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

fix: validate navigator type for state passed in params
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: don't overwrite state changes made by 'beforeRemove' listeners
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

refactor: add more options for native stack next
  example/src/Screens/NativeStackNext.tsx
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/index.tsx
  packages/native-stack/src/next/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/next/views/CardContent.tsx
  packages/native-stack/src/next/views/CardGroup.tsx
  packages/native-stack/src/next/views/HeaderConfig.android.tsx
  packages/native-stack/src/next/views/HeaderConfig.ios.tsx
  packages/native-stack/src/next/views/HeaderConfig.tsx
  packages/native-stack/src/next/views/HeaderConfigShared.tsx
  packages/native-stack/src/next/views/NativeStackView.tsx
  packages/native-stack/src/next/views/NativeStackViewState.ts
  packages/native-stack/src/next/views/RouteGroupShared.ts
  packages/native-stack/src/next/views/RouteGroupTree.ts
  packages/native-stack/src/next/views/SheetGroup.tsx
  packages/native-stack/src/next/views/__tests__/NativeStackViewState.test.ts
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: preserve static param list inference with TypeScript 7 (or typescript 6 with --stableTypeOrdering)
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/types.tsx
Due: lint, types, test

test: move static param list check to typechecks
  example/__typechecks__/static.check.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

fix: preserve static param list inference with TypeScript 7 (#13188)
  example/__typechecks__/static.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

chore: enable stableTypeOrdering to ensure TS7 compat
  tsconfig.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: prevent hidden stack screens from receiving keyboard focus on web
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/__tests__/CardA11yWrapper.test.tsx
Due: lint, types, test

chore: initial server rendering implementation
  example/App.tsx
  example/assets.d.ts
  example/e2e/playwright.config.ts
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/index.html
  example/package.json
  example/server.tsx
  example/server/babel.config.js
  example/server/env.tsx
  example/server/index.tsx
  example/server/resolve-hooks.tsx
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/BottomTabsDynamic.tsx
  example/src/Screens/ComponentsButton.tsx
  example/src/Screens/ComponentsHeaders.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeStack.tsx
  example/src/Screens/NativeStackHeaderCustomization.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  example/src/Screens/TabView/CustomIndicator.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Screens/TabView/TabBarIcon.tsx
  example/src/Shared/MiniPlayer.tsx
  example/src/Shared/NewsFeed.tsx
  example/src/Showcase/BottomTabsShowcase.tsx
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
  example/src/assets.d.ts
  example/src/index.tsx
  example/vite.config.mjs
  pnpm-lock.yaml
Due: lint, types, test

chore: migrate to @react-native-vector-icons from @expo/vector-icons
  example/App.tsx
  example/package.json
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/BottomTabsDynamic.tsx
  example/src/Screens/ComponentsButton.tsx
  example/src/Screens/ComponentsHeaders.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeStack.tsx
  example/src/Screens/NativeStackHeaderCustomization.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  example/src/Screens/TabView/CustomIndicator.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Screens/TabView/TabBarIcon.tsx
  example/src/Shared/MiniPlayer.tsx
  example/src/Shared/NewsFeed.tsx
  example/src/Showcase/BottomTabsShowcase.tsx
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
  example/src/assets.d.ts
  example/src/index.tsx
  pnpm-lock.yaml
Due: lint, types, test

fix: handle linking with streaming rendering and hydration
  package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useKeyedChildListeners.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnGetState.tsx
  packages/core/src/useOnPreventRemove.tsx
  packages/native/src/server/__tests__/hydration.test.tsx
  packages/native/src/useLinking.tsx
  pnpm-lock.yaml
Due: lint, types, test, dependencies

chore: upgrade eslint config
  eslint.config.mjs
  example/src/Screens/ActivityModes.tsx
  package.json
  packages/core/src/useDescriptors.tsx
  packages/stack/src/views/Stack/StackView.tsx
  pnpm-lock.yaml
  scripts/maestro.ts
Due: lint, types, test, dependencies

fix: fix state events and url when navigator mounts later
  babel.config.js
  package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/__tests__/hydration.test.tsx
  packages/native/src/useLinking.tsx
  pnpm-lock.yaml
Due: lint, types, test, dependencies

chore: upgrade eslint config
  eslint.config.mjs
  example/src/Screens/TabView/Coverflow.tsx
  package.json
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/useDescriptors.tsx
  packages/devtools/src/useDevToolsBase.tsx
  packages/native/src/Link.tsx
  packages/native/src/useBackButton.native.tsx
  packages/react-native-drawer-layout/src/views/Overlay.native.tsx
  packages/routers/src/StackRouter.tsx
  packages/stack/src/views/Stack/CardContent.tsx
  packages/stack/src/views/Stack/StackView.tsx
  yarn.lock
Due: lint, types, test, dependencies

fix: fix state events and url when navigator mounts later
  babel.config.js
  package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/__tests__/hydration.test.tsx
  packages/native/src/useLinking.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: update Node.js to 24.13.0
  .github/workflows/snackager.yml
  .nvmrc
  package.json
Due: types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: setup server rendering with vite
  example/App.tsx
  example/assets.d.ts
  example/e2e/playwright.config.ts
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/index.html
  example/package.json
  example/server.tsx
  example/server/babel.config.js
  example/server/env.tsx
  example/server/index.tsx
  example/server/resolve-hooks.tsx
  example/src/index.tsx
  example/vite.config.mjs
  pnpm-lock.yaml
Due: lint, types, test

fix: update correct route params in tab history
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

fix: update route on repeated preload instead of replacing
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: filter preloaded routes on route config changes
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: prevent popTo from matching routes above source
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: create fresh route object when key changes in tab
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

fix: match preloaded stack routes by exact ID
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: update history params when switching tabs
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

fix: focus preloaded and retained routes when child is focused
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: fix param type for history object in route
  packages/routers/src/types.tsx
Due: lint, types, test

fix: update route params in tab history on preload
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test
