Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

fix: propagate layout direction to sf symbols
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/native/ios/ReactNavigationSFSymbolView.mm
  packages/native/ios/ReactNavigationSFSymbolView.swift
  pnpm-lock.yaml
Due: lint, types, test

fix: correctly set size for material symbol
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
Due: none

chore: upgrade react-native-screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: types, test

feat: add visibilityPriority and submenu description to header items
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat: add a tabBarRole option for search tab on iOS 27
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Showcase/BottomTabsShowcase.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
