Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix bottom tab bar layout
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
Due: types, test

docs: add more info about relasing in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: make NavigationContainerRef.getCurrentRoute type safe (#11525)
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

chore: remove tab bar border from bottom tabs example
  example/src/Screens/BottomTabs.tsx
Due: lint, types, test

fix: fix header title margin if there's no left button
  example/src/index.tsx
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: tweak button effects on android & web
  packages/elements/src/Button.tsx
Due: lint, types, test

fix: fix types for Link & Button components
  example/__typechecks__/common.check.tsx
  packages/elements/src/Button.tsx
  packages/native/src/Link.tsx
  packages/native/src/index.tsx
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: tweak spacing for drawer & bottom tabs sidebar
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
Due: types, test

fix: fix ripple effect overflow in tab bar on Android
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
Due: lint, types, test

feat: add hoverEffect prop to Pressable
  packages/elements/src/Button.tsx
  packages/elements/src/PlatformPressable.tsx
Due: lint, types, test

fix: add hover effect to drawer and tab sidebar on web
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix type error with listeners for static config
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: add a workaround for incorrect inference #12041
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

fix: adjust header shadow color on iOS
  example/src/index.tsx
  packages/elements/src/Header/HeaderBackground.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix UIKit interpolation style for header
  packages/stack/src/TransitionConfigs/HeaderStyleInterpolators.tsx
Due: lint, types, test

fix: stop using react-native field in package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
Due: types, test

chore: fix aliasing monorepo packages for react-native
  example/babel.config.js
Due: lint, types, test

chore: move to metro for web bundling
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  example/.gitignore
  example/app.json
  example/e2e/playwright.config.ts
  example/package.json
  example/webpack.config.js
  netlify.toml
  yarn.lock
Due: lint, types, test

chore: move to metro for web bundling (#12042)
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  example/.gitignore
  example/app.json
  example/e2e/playwright.config.ts
  example/package.json
  example/webpack.config.js
  netlify.toml
  yarn.lock
Due: lint, types, test

fix: drop leftover empty string for headerBackTitleVisible
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/stack/package.json
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: make example app scrollable on web
  example/src/index.tsx
Due: lint, types, test

chore: redirect deployed site on netlify to index.html
  netlify.toml
Due: none

chore: fix image styling on expo web
  example/src/Shared/Albums.tsx
  example/src/Shared/NewsFeed.tsx
Due: lint, types, test

fix: fix tab bar styling for compact, material, ipad etc.
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

fix: fix drawer item styling
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

chore: fix fast refresh on web for example app
  example/App.tsx
Due: lint, types, test

feat: add a tabBarVariant option
  example/src/Screens/BottomTabs.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

feat: add a tabBarVariant option (#12045)
  example/src/Screens/BottomTabs.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
