Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: fix material bottom tabs not respecting safeAreaInsets prop
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
Due: lint, types, test

feat: allow users to pass `android_ripple` config in TabView (#11203)
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
Due: lint, types, test

chore: drop material-bottom-tabs package
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-labels.yml
  .github/workflows/versions.yml
  README.md
  example/package.json
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/DynamicTabs.tsx
  example/src/Screens/MaterialBottomTabs.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  example/src/index.tsx
  example/src/screens.tsx
  example/tsconfig.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/LICENSE
  packages/material-bottom-tabs/README.md
  packages/material-bottom-tabs/package.json
  packages/material-bottom-tabs/src/__tests__/index.test.tsx
  packages/material-bottom-tabs/src/index.tsx
  packages/material-bottom-tabs/src/navigators/createMaterialBottomTabNavigator.tsx
  packages/material-bottom-tabs/src/types.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/material-bottom-tabs/tsconfig.build.json
  packages/material-bottom-tabs/tsconfig.json
  yarn.lock
Due: lint, types, test

fix: Check cardStyleInterpolator name to allow for custom animation as well (#11209)
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: add `ScrollView` type to 'getScrollResponder' (#11112)
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

docs: update broken link regarding GH_TOKEN
  CONTRIBUTING.md
Due: none

feat: support statically confguring navigation tree (#11144)
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  example/src/Screens/Static.tsx
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/createNavigatorFactory.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/getActionFromState.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/createStaticNavigation.tsx
  packages/native/src/index.tsx
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

fix: fix checking for modal presentation in stack
  packages/stack/src/utils/findLastIndex.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: fix headerBackVisible type annotation (#11220)
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: align react-native-tab-view version with npm
  packages/react-native-tab-view/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: update branch names to main
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/expo.yml
  lerna.json
Due: types, test

chore: update branch names to 6.x
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/expo.yml
  lerna.json
Due: types, test

refactor: use useContext in 'safeAreaProviderCompat'
  packages/elements/src/SafeAreaProviderCompat.tsx
Due: lint, types, test

fix: handle getId in tab and drawer routers
  packages/routers/src/TabRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: PathConfigMap type error: Type 'T' does not satisfy the constraint '{}'
  packages/core/src/types.tsx
Due: lint, types, test

feat: gesture and transition events to drawer
  example/__typechecks__/common.check.tsx
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/legacy/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
Due: lint, types, test

refactor: switch useCallback for use-latest-callback
  packages/drawer/package.json
  packages/drawer/src/views/DrawerView.tsx
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
  yarn.lock
Due: lint, types, test

feat: add gesture and transition events to drawer (#11240)
  example/__typechecks__/common.check.tsx
  packages/drawer/package.json
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/legacy/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
  yarn.lock
Due: lint, types, test

fix: properly export types to avoid webpack warning
  packages/core/src/index.tsx
Due: lint, types, test

fix: fix paths in sourcemap files
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix paths in sourcemap files
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: add animation prop
  packages/stack/src/TransitionConfigs/TransitionPresets.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

feat: finish animation prop
  packages/stack/src/TransitionConfigs/CardStyleInterpolators.tsx
  packages/stack/src/TransitionConfigs/TransitionPresets.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

fix: remove simple_push animation option
  packages/stack/src/TransitionConfigs/TransitionPresets.tsx
  packages/stack/src/types.tsx
Due: lint, types, test

feat: add ability to customize the fonts with the theme
  packages/bottom-tabs/src/views/Badge.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderTitle.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native/src/theming/DarkTheme.tsx
  packages/native/src/theming/DefaultTheme.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/types.tsx
Due: lint, types, test

feat: add ability to customize the fonts with the theme (#11243)
  packages/bottom-tabs/src/views/Badge.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderTitle.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native/src/theming/DarkTheme.tsx
  packages/native/src/theming/DefaultTheme.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/types.tsx
Due: lint, types, test

refactor: use useContext in 'safeAreaProviderCompat' (#11233)
  packages/elements/src/SafeAreaProviderCompat.tsx
Due: lint, types, test

feat: support a top-level path configuration in linking config
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/validatePathConfig.tsx
  packages/native/src/types.tsx
Due: lint, types, test

chore: consolidate check-repro and needs-repro jobs
  .github/workflows/check-repro.yml
  .github/workflows/triage.yml
Due: none

Create react-navigation
  example/react-navigation
Due: none

chore: link to react navigation website for tab-view and drawer-layout docs
  packages/react-native-drawer-layout/README.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/README.md
  packages/react-native-tab-view/package.json
Due: types, test

chore: rename type files from .tsx to .ts
  packages/elements/src/types.ts
  packages/material-top-tabs/src/types.ts
  packages/native-stack/src/types.ts
  packages/native/src/types.ts
  packages/react-native-drawer-layout/src/types.ts
  packages/react-native-tab-view/src/types.ts
  packages/routers/src/types.ts
  packages/stack/src/types.ts
Due: lint, types, test

Update types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: add animation presets to bottom tab navigation
  example/src/Screens/BottomTabs.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/utils/useAnimatedValueArray.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test
