Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: pass path to getId
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

feat!: add a dismiss action to stack to dismiss a specific screen
  example/__typechecks__/common.check.tsx
  packages/core/src/BaseNavigationContainer.tsx
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

refactor: add more options for native stack next
  example/src/Screens/NativeStackNext.tsx
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/index.tsx
  packages/native-stack/src/next/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/next/views/CardContent.tsx
  packages/native-stack/src/next/views/CardGroup.tsx
  packages/native-stack/src/next/views/HeaderConfig.android.tsx
  packages/native-stack/src/next/views/HeaderConfig.ios.tsx
  packages/native-stack/src/next/views/HeaderConfig.tsx
  packages/native-stack/src/next/views/HeaderConfigShared.tsx
  packages/native-stack/src/next/views/NativeStackView.tsx
  packages/native-stack/src/next/views/NativeStackViewState.ts
  packages/native-stack/src/next/views/RouteGroupShared.ts
  packages/native-stack/src/next/views/RouteGroupTree.ts
  packages/native-stack/src/next/views/SheetGroup.tsx
  packages/native-stack/src/next/views/__tests__/NativeStackViewState.test.ts
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: implement new native stack
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
Due: lint, types, test

refactor: mark next options as unstable
  example/src/Screens/NativeStackNext.tsx
  packages/native-stack/src/next/index.tsx
  packages/native-stack/src/next/views/CardScreen.tsx
  packages/native-stack/src/next/views/useHeaderConfig.android.tsx
  packages/native-stack/src/next/views/useHeaderConfig.ios.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: always read latest state when performing operations
  packages/native-stack/src/next/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/next/views/CardContent.tsx
  packages/native-stack/src/next/views/NativeStackView.native.tsx
Due: lint, types, test

chore: upgrade to screens 5 alpha
  example/package.json
  example/src/Screens/NativeStackNext.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/native-stack/src/next/views/CardContent.tsx
  packages/native-stack/src/next/views/CardGroup.tsx
  packages/native-stack/src/next/views/CardScreen.tsx
  packages/native-stack/src/next/views/HeaderConfig.android.tsx
  packages/native-stack/src/next/views/HeaderConfig.tsx
  packages/native-stack/src/next/views/HeaderConfigShared.tsx
  packages/native-stack/src/next/views/NativeStackView.native.tsx
  packages/native-stack/src/next/views/NativeStackView.tsx
  packages/native-stack/src/next/views/NativeStackViewState.ts
  packages/native-stack/src/next/views/RouteGroupShared.ts
  packages/native-stack/src/next/views/RouteGroupTree.ts
  packages/native-stack/src/next/views/SheetGroup.tsx
  packages/native-stack/src/next/views/SheetScreen.tsx
  packages/native-stack/src/next/views/__tests__/NativeStackViewState.test.ts
  packages/native-stack/src/next/views/__tests__/NativeStackViewState.test.tsx
  packages/native-stack/src/next/views/useHeaderConfig.android.tsx
  packages/native-stack/src/next/views/useHeaderConfig.ios.tsx
  packages/native-stack/src/next/views/useHeaderConfig.tsx
  packages/native-stack/src/types.tsx
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test

refactor: update according to main
  packages/native-stack/src/next/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/next/views/NativeStackView.native.tsx
  packages/native-stack/src/next/views/__tests__/NativeStackViewState.test.tsx
  packages/native-stack/src/next/views/useHeaderConfig.android.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: add filled glyphs material symbols and reduce size
  eslint.config.mjs
  example/src/material-symbol-names.ts
  package.json
  packages/native/android/build.gradle
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/assets/fonts/MaterialSymbols.codepoints
  packages/native/assets/fonts/MaterialSymbolsOutlined_100.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_200.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_300.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_400.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_500.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_600.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_700.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded_100.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_200.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_300.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_400.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_500.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_600.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_700.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp_100.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_200.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_300.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_400.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_500.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_600.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_700.ttf
  packages/native/src/native/MaterialSymbolData.tsx
  pnpm-lock.yaml
  scripts/update-material-symbols.ts
Due: lint, types, test, dependencies

feat(native-stack): add sheetRef option for form sheets
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: add font assets to exports
  packages/material-symbols/package.json
Due: types, test

chore: update example for material symbols
  example/src/Screens/ComponentsMaterialSymbols.tsx
Due: lint, types, test

docs: fix typos in JSDoc and code comments (#13268)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/native/src/useLinkProps.tsx
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

docs: fix broken documentation link in native-stack README (#13269)
  packages/native-stack/README.md
Due: none

docs: fix grammar in JSDoc and comments (#13270)
  example/__typechecks__/common.check.tsx
  packages/core/src/getStateFromPath.tsx
  packages/drawer/src/types.tsx
  packages/elements/src/types.tsx
  packages/material-top-tabs/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

Update packages/native-stack/src/__tests__/index.test.tsx
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

feat: add options to hide left and right item backgrounds
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

refactor: specify label position adjustment per tab bar item layout
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat(elements): add aspectRatio to image icons for non-square rendering
  packages/elements/src/PlatformIcon.tsx
  packages/elements/src/types.tsx
Due: lint, types, test

feat(bottom-tabs): per-tab icon size & active-indicator sizing on the native tab bar
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

refactor(bottom-tabs): rename drawableIconSize to iconSize and drop drawable tinting
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix(bottom-tabs): accept undefined for the icon size and active indicator size options
  packages/bottom-tabs/src/types.tsx
Due: lint, types, test

refactor(bottom-tabs): pass the active indicator size to Tabs.Host
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix(bottom-tabs): map only bare uri names to Android drawables
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

refactor(bottom-tabs): pass the icon and active indicator sizes per tab in standardAppearance
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat(elements): add renderingMode to sfSymbol icons
  packages/elements/src/PlatformIcon.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

refactor(native)!: rename SFSymbol renderingMode 'multicolor' to 'original'
  example/src/Screens/ComponentsSFSymbols.tsx
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/src/native/types.tsx
Due: lint, types, test

feat(bottom-tabs): support image icon tinting on Android in the native tab bar
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix: pass explicit headerTintColor to header bar button items
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix: correctly set size for material symbol
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
Due: none

fix: fallback to images when material symbols are not available
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/native/NativeMaterialSymbolModule.ts
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
