Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: bump reanimated to fix broken drawer in strict mode
  example/package.json
  packages/drawer/package.json
  packages/react-native-drawer-layout/package.json
  yarn.lock
Due: types, test

fix: fix title not being accessible for headerTransparent
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: update default header height values for iOS 26
  eslint.config.mjs
  example/assets/misc/balloons.jpg
  example/assets/misc/water.jpg
  example/package.json
  example/server/babel.config.js
  example/src/Screens/Headers.tsx
  example/src/Screens/MixedHeaderMode.tsx
  example/src/Screens/SimpleStack.tsx
  example/src/assets.d.ts
  example/src/index.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/elements/package.json
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderBackground.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderButtonBackground.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
  packages/elements/src/LiquidGlassView.ios.tsx
  packages/elements/src/LiquidGlassView.tsx
  packages/elements/src/MaskedView.android.tsx
  packages/elements/src/MaskedView.ios.tsx
  packages/elements/src/MaskedView.tsx
  packages/elements/src/MaskedViewNative.tsx
  packages/elements/src/PlatformColor.native.tsx
  packages/elements/src/PlatformColor.tsx
  packages/elements/src/internal.tsx
  packages/elements/src/types.tsx
  packages/native/src/theming/DefaultTheme.tsx
  packages/stack/src/TransitionConfigs/HeaderStyleInterpolators.tsx
  packages/stack/src/TransitionConfigs/TransitionPresets.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  yarn.lock
Due: lint, types, test

feat: rework header design to resemble latest iOS (#12873)
  eslint.config.mjs
  example/assets/misc/balloons.jpg
  example/assets/misc/water.jpg
  example/package.json
  example/server/babel.config.js
  example/src/Screens/Headers.tsx
  example/src/Screens/MixedHeaderMode.tsx
  example/src/Screens/SimpleStack.tsx
  example/src/assets.d.ts
  example/src/index.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/elements/package.json
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderBackground.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderButtonBackground.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
  packages/elements/src/LiquidGlassView.ios.tsx
  packages/elements/src/LiquidGlassView.tsx
  packages/elements/src/MaskedView.android.tsx
  packages/elements/src/MaskedView.ios.tsx
  packages/elements/src/MaskedView.tsx
  packages/elements/src/MaskedViewNative.tsx
  packages/elements/src/PlatformColor.native.tsx
  packages/elements/src/PlatformColor.tsx
  packages/elements/src/internal.tsx
  packages/elements/src/types.tsx
  packages/native/src/theming/DefaultTheme.tsx
  packages/stack/src/TransitionConfigs/HeaderStyleInterpolators.tsx
  packages/stack/src/TransitionConfigs/TransitionPresets.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  yarn.lock
Due: lint, types, test

refactor: rename headerLargeTitle to headerLargeTitleEnabled (#12855)
  example/src/Screens/NativeStack.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/types.ts
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

refactor: improve style organization in header
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
Due: lint, types, test

fix: update back & search icons for latest iOS
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/assets/back-icon-mask.png
  packages/elements/src/assets/back-icon.ios.svg
  packages/elements/src/assets/back-icon@1x.ios.png
  packages/elements/src/assets/back-icon@2x.ios.png
  packages/elements/src/assets/back-icon@3x.ios.png
  packages/elements/src/assets/back-icon@4x.ios.png
  packages/elements/src/assets/search-icon-legacy.png
  packages/elements/src/assets/search-icon-legacy@1x.ios.png
  packages/elements/src/assets/search-icon-legacy@2x.ios.png
  packages/elements/src/assets/search-icon-legacy@3x.ios.png
  packages/elements/src/assets/search-icon-legacy@4x.ios.png
  packages/elements/src/assets/search-icon.ios.svg
  packages/elements/src/assets/search-icon@1x.ios.png
  packages/elements/src/assets/search-icon@2x.ios.png
  packages/elements/src/assets/search-icon@3x.ios.png
  packages/elements/src/assets/search-icon@4x.ios.png
  packages/elements/src/index.tsx
Due: lint, types, test

fix: tweak header styling
  example/src/Screens/Headers.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

fix: adjust header spacing on Android
  example/src/Screens/Headers.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
Due: lint, types, test

ci: tweak retry logic in github actions
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

fix: fix font scaling and back title
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

fix: measure frame size without an additional view
  packages/elements/src/SafeAreaProviderCompat.tsx
  packages/elements/src/useFrameSize.tsx
Due: lint, types, test

fix: measure frame size without an additional view (#12882)
  packages/elements/src/SafeAreaProviderCompat.tsx
  packages/elements/src/useFrameSize.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: allow more style properties on header
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: always clear nested navigator params. fixes #12876
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: always clear nested navigator params. fixes #12876 (#12885)
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: only clear params for screen which has navigator
  packages/core/src/SceneView.tsx
Due: lint, types, test

feat: add staticXScreen types
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: add staticXScreen type to improve defining screens (#12886)
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

refactor: improve type tests
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: typecheck parse and stringify in linking for static config
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/getActionFromState.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: make sure route type is not any
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/utilities.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

refactor: export AdapterProps in tab view
  packages/react-native-tab-view/src/index.tsx
Due: lint, types, test

chore: update eslint config
  eslint.config.mjs
  example/package.json
  package.json
  yarn.lock
Due: types, test

chore: move more things to elements/internal
  example/src/Shared/Chat.tsx
  example/src/Shared/NewsFeed.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/NativeScreen/useHeaderConfig.tsx
  packages/bottom-tabs/src/views/ScreenContent.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/elements/package.json
  packages/elements/src/index.tsx
  packages/elements/src/internal.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

chore: align elements version in monorepo
  lefthook.yml
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

refactor: remove redundant check for state change
  packages/core/src/useSyncState.tsx
Due: lint, types, test

feat: add a ~meta property to navigation object
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: infer params type based on linking and screen
  example/__typechecks__/static.check.tsx
  example/src/Screens/FullHistoryTabs.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/core/src/utilities.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: infer params type based on linking and screen (#12888)
  example/__typechecks__/static.check.tsx
  example/src/Screens/FullHistoryTabs.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/core/src/utilities.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

fix: add more checks on how path param is parsed
  example/__typechecks__/static.check.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/core/src/utilities.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

ci: bump maestro version
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none
