Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: upgrade bob
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: export createNormalizedConfigs
  packages/core/src/getActionFromState.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/index.tsx
Due: lint, types, test

fix: fix incorrect condition due to bad merge
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

useLinkTo exported
  packages/native/src/index.tsx
Due: lint, types, test

fix: add missing useLinkTo export (#12081)
  packages/native/src/index.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: enable preload in NativeStackView and add hiddenFromStack prop
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

chore: fix image resize to fit on web for example
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/NativeStackHeaderCustomization.tsx
Due: lint, types, test

fix: fix incorrect value from useHeaderHeight for stack
  example/src/Screens/NativeStack.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

chore: remove unused files
  example/src/Shared/BlurView.native.tsx
  example/src/Shared/BlurView.tsx
Due: lint, types, test

feat: add new backButtonDisplayMode functionality
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

Update packages/native-stack/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: fallback to backTitleVisible on ios < 14
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

refactor: update types
  packages/native-stack/src/types.tsx
Due: lint, types, test

refactor: improve readibility
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

feat: enable NativeStackView preloading on web
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/screens.tsx
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

feat: add headerBackButtonDisplayMode for native stack (#12089)
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

feat: add headerBackButtonDisplayMode for stack
  example/src/Screens/StackHeaderCustomization.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/types.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
Due: lint, types, test

feat: add headerBackButtonDisplayMode for stack (#12090)
  example/src/Screens/StackHeaderCustomization.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/types.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
Due: lint, types, test

Allow undefined in path config validation
  packages/core/src/validatePathConfig.tsx
Due: lint, types, test

fix: allow undefined in path config validation (#12085)
  packages/core/src/validatePathConfig.tsx
Due: lint, types, test

chore: ensure semantic pr title
  .github/workflows/pull-request-title.yml
Due: none

chore: remove hiddenFromStack prop
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: match push and jumpTo types to navigate
  packages/routers/src/StackRouter.tsx
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

fix: improve how navigate and other methods are typed
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/useLinkProps.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

fix: improve how navigate and other methods are typed (#12093)
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/useLinkProps.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

fix: add more fallbacks for headerBackButtonDisplayMode
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

chore: build new versions on snackager on publish
  .github/workflows/snackager.yml
Due: none

ci: build new versions on snackager on publish (#12095)
  .github/workflows/snackager.yml
Due: none

Update packages/native-stack/src/views/HeaderConfig.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

fix: add more fallbacks for headerBackButtonDisplayMode (#12094)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

ci: change trigger for snackager workflow
  .github/workflows/snackager.yml
Due: none

fix: use pointer cursor only on web & iOS
  packages/elements/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

fix: improve custom header in native stack & stack
  example/src/Screens/NativeStackHeaderCustomization.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  packages/elements/src/Header/Header.tsx
  packages/elements/src/Screen.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/types.tsx
Due: lint, types, test
