Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

chore: upgrade expo and related deps
  example/package.json
  example/src/Screens/MasterDetail.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/native/src/useLinking.native.tsx
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/types.tsx
  packages/stack/package.json
  packages/stack/src/types.tsx
  packages/stack/src/utils/conditional.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  scripts/check-types-path.js
  yarn.lock
Due: lint, types, test

chore: upgrade more dependencies
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

chore: upgrade dependencies (#11090)
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/package.json
  example/src/Screens/MasterDetail.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/native/src/useLinking.native.tsx
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/types.tsx
  packages/routers/package.json
  packages/stack/package.json
  packages/stack/src/types.tsx
  packages/stack/src/utils/conditional.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  scripts/check-types-path.js
  yarn.lock
Due: lint, types, test

chore: upgrade bob
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix(drawer): fix drawer toggle race condition
  packages/drawer/src/views/modern/Drawer.tsx
Due: lint, types, test

fix: fix drawer toggle race condition (#11036)
  packages/drawer/src/views/modern/Drawer.tsx
Due: lint, types, test

fix: allow complex children in HeaderTitle
  packages/elements/src/Header/HeaderTitle.tsx
Due: lint, types, test

Prevent font scaling on tab bar item badge
  packages/bottom-tabs/src/views/Badge.tsx
Due: lint, types, test

fix: allow complex children in HeaderTitle (#11100)
  packages/elements/src/Header/HeaderTitle.tsx
Due: lint, types, test

fix: code cleanup
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
Due: lint, types, test

fix: add unstable_pressDelay to fix onPress delay on android
  packages/react-native-tab-view/src/TabBarItem.tsx
Due: lint, types, test

fix: replace PlatformPressable with shared one
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/tsconfig.json
  yarn.lock
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: make headerBackground visible with transparent header
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

fix: add `ScrollView` type to 'getScrollResponder'
  packages/native/src/useScrollToTop.tsx
Due: lint, types, test

chore: remove macos hack
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

feat: wrapper option, to wrap screen content with suspense and error boundaries
  packages/bottom-tabs/src/types.tsx
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/material-bottom-tabs/src/types.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabView.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

chore: enforce same dependency versions across the repo
  .github/workflows/ci.yml
  example/package.json
  package.json
  packages/native-stack/package.json
  packages/native/package.json
  yarn.lock
Due: types, test

chore: enforce same dependency versions across the repo
  .github/workflows/ci.yml
  package.json
  packages/native/package.json
  yarn.lock
Due: types, test

ci: use newer version of check-versions-action
  .github/ISSUE_TEMPLATE/bug-report-version-4.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/versions.yml
Due: none

ci: use newer version of check-versions-action
  .github/workflows/versions.yml
Due: none

fix: remove defaultScreenOptions from default navigator options
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

Add optional name to Group
  packages/core/src/types.tsx
Due: lint, types, test

Do not change layout state on empty width or height
  packages/react-native-tab-view/src/TabBar.tsx
Due: lint, types, test

feat: add testID and accessibilityLabel to DrawerItem
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

fix: support dispatching action to child without 'navigationInChildEnabled' if 'target' is specified
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

feat: add tabBarInitialLayout to TabBar component
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabView.tsx
Due: lint, types, test

fix: handle merge: true with NAVIGATION_DEPRECATED in TabRouter
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

feat: add tabBarShown option to bottom tab navigation bar
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

fix code comment
  packages/bottom-tabs/src/types.tsx
Due: lint, types, test

chore: upgrade expo webpack config to remove NODE_OPTIONS
  example/package.json
  netlify.toml
  yarn.lock
Due: types, test

docs: fix typo
  packages/stack/src/types.tsx
Due: lint, types, test

docs: fix typo (#11134)
  packages/stack/src/types.tsx
Due: lint, types, test

feat: extract drawer to a separate package
  .eslintrc.json
  example/src/Screens/DrawerView.tsx
  example/src/screens.tsx
  package.json
  packages/core/README.md
  packages/drawer/src/index.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/drawer/tsconfig.json
  packages/react-native-drawer-layout/LICENSE
  packages/react-native-drawer-layout/README.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/constants.tsx
  packages/react-native-drawer-layout/src/index.tsx
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/utils/DrawerGestureContext.tsx
  packages/react-native-drawer-layout/src/utils/DrawerProgressContext.tsx
  packages/react-native-drawer-layout/src/utils/useDrawerProgress.tsx
  packages/react-native-drawer-layout/src/views/Drawer.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.android.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.ios.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.tsx
  packages/react-native-drawer-layout/src/views/GestureHandlerNative.tsx
  packages/react-native-drawer-layout/src/views/legacy/Drawer.tsx
  packages/react-native-drawer-layout/src/views/legacy/Overlay.tsx
  packages/react-native-drawer-layout/src/views/modern/Drawer.tsx
  packages/react-native-drawer-layout/src/views/modern/Overlay.tsx
  packages/react-native-drawer-layout/tsconfig.build.json
  packages/react-native-drawer-layout/tsconfig.json
  packages/react-native-tab-view/README.md
  packages/routers/README.md
  tsconfig.json
  yarn.lock
Due: lint, types, test

fix: don't modify browser history on re-render
  packages/native/src/useLinking.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
