Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: use agent-device suite runner in ci
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  scripts/agent-device.ts
Due: lint, types, test

fix: configure agent-device state via env
  scripts/agent-device.ts
Due: lint, types, test

fix: fail fast on agent-device daemon startup
  .github/workflows/e2e-android.yml
  scripts/agent-device.ts
Due: lint, types, test

feat: migrate stack and drawer to gesture handler 3 (#13104)
  example/package.json
  packages/drawer/package.json
  packages/drawer/src/types.tsx
  packages/material-top-tabs/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/GestureHandler.tsx
  packages/react-native-drawer-layout/src/views/GestureHandlerNative.tsx
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  packages/stack/src/index.tsx
  packages/stack/src/utils/GestureHandlerContext.tsx
  packages/stack/src/utils/GestureHandlerRefContext.tsx
  packages/stack/src/utils/gestureActivationCriteria.tsx
  packages/stack/src/utils/useGestureHandler.tsx
  packages/stack/src/utils/useGestureHandlerRef.tsx
  packages/stack/src/views/GestureHandler.tsx
  packages/stack/src/views/GestureHandlerNative.tsx
  packages/stack/src/views/Stack/Card.tsx
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

fix: use agent-device maestro suite runner
  scripts/agent-device.ts
Due: lint, types, test

fix: upgrade agent-device to 0.16.1
  package.json
  yarn.lock
Due: types, test, dependencies

ci: cache agent-device iOS runner
  .github/workflows/e2e-ios.yml
Due: none

ci: reuse native e2e build artifacts
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

ci: factor e2e workflow helpers
  .github/actions/calculate-expo-fingerprint/action.yml
  .github/actions/install-maestro/action.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

fix: upgrade agent-device to 0.16.2
  package.json
  yarn.lock
Due: types, test, dependencies

chore: upgrade agent-device to 0.16.4
  package.json
  yarn.lock
Due: types, test, dependencies

chore: upgrade agent-device to 0.16.5
  package.json
  yarn.lock
Due: types, test, dependencies

test: update agent-device to 0.16.6
  package.json
  yarn.lock
Due: types, test, dependencies

test: update agent-device to 0.16.7
  package.json
  yarn.lock
Due: types, test, dependencies

test: use semantic coverflow swipes
  example/e2e/maestro/tab-view-coverflow.yml
Due: none

ci: guard agent-device e2e diagnostics
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  scripts/agent-device.ts
Due: lint, types, test

test: add unit test for strict mode issue
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

feat: add support for shared screens
  example/e2e/maestro/showcase-bottom-tabs.yml
  example/e2e/tests/maestro.test.ts
  example/src/Showcase/BottomTabsShowcase.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/getActionFromState.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getPatternParts.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/types.tsx
  packages/core/src/validatePathConfig.tsx
  packages/native/src/__tests__/useLinkBuilder.test.tsx
  packages/native/src/getStateFromHref.tsx
  packages/native/src/useLinkBuilder.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: fix initial state getting dropped if root navigator render is delayed in StrictMode (#13121)
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: add a workaround for false positive with multiple linking error
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.native.tsx
Due: lint, types, test

feat: add support for shared URLs in linking config (#13131)
  example/e2e/maestro/showcase-bottom-tabs.yml
  example/e2e/tests/maestro.test.ts
  example/src/Showcase/BottomTabsShowcase.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/getActionFromState.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getPatternParts.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/types.tsx
  packages/core/src/validatePathConfig.tsx
  packages/native/src/__tests__/useLinkBuilder.test.tsx
  packages/native/src/getStateFromHref.tsx
  packages/native/src/useLinkBuilder.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: flash while switching native bottom tabs
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

Reuse direct navigation list
  packages/core/src/types.tsx
Due: lint, types, test

Move nested fallback into helper
  packages/core/src/types.tsx
Due: lint, types, test

Guard static screen mapping
  packages/core/src/types.tsx
Due: lint, types, test

perf: skip empty static screen branches
  packages/core/src/types.tsx
Due: lint, types, test

perf: reuse static config type
  packages/core/src/types.tsx
Due: lint, types, test

perf: read stored navigation list first
  packages/core/src/types.tsx
Due: lint, types, test

perf: read stored param list first
  packages/core/src/types.tsx
Due: lint, types, test

perf: reuse navigation prop storage
  packages/core/src/types.tsx
Due: lint, types, test

perf: simplify parent navigation check
  packages/core/src/types.tsx
Due: lint, types, test

perf: use stored navigator types
  packages/core/src/types.tsx
Due: lint, types, test

perf: constrain stored param list
  packages/core/src/types.tsx
Due: lint, types, test

perf: skip broad route filtering
  packages/core/src/types.tsx
Due: lint, types, test

perf: check static screens first
  packages/core/src/types.tsx
Due: lint, types, test

perf: filter static groups inside map
  packages/core/src/types.tsx
Due: lint, types, test

perf: simplify static group guard
  packages/core/src/types.tsx
Due: lint, types, test

perf: simplify static screen guard
  packages/core/src/types.tsx
Due: lint, types, test

perf: avoid nested key default
  packages/core/src/useNavigation.tsx
Due: lint, types, test
