Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

fix: handle non-capturing groups in path regex
  packages/core/src/__tests__/getPatternParts.test.tsx
  packages/core/src/getPatternParts.tsx
Due: lint, types, test

refactor: skip path config validation in production
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

refactor: skip impossible path regex matches
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

refactor: reduce serializable check allocations
  packages/core/src/checkSerializable.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: treat malformed URL as unmatched and simplify
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

feat: add support for extending SFSymbol name types
  packages/elements/src/types.tsx
  packages/native/src/native/types.tsx
  packages/native/src/types.tsx
Due: lint, types, test

fix: run maestro flows through agent-device replay
  scripts/agent-device.ts
Due: lint, types, test

fix: pass agent-device test flags before flows
  scripts/agent-device.ts
Due: lint, types, test

fix: use agent-device suite runner in ci
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  scripts/agent-device.ts
Due: lint, types, test

fix: fail fast on agent-device daemon startup
  .github/workflows/e2e-android.yml
  scripts/agent-device.ts
Due: lint, types, test

fix: use agent-device maestro suite runner
  scripts/agent-device.ts
Due: lint, types, test

chore: use agent-device for native e2e tests
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  CONTRIBUTING.md
  example/package.json
  package.json
  scripts/agent-device.ts
  scripts/maestro.ts
Due: lint, types, test, dependencies

test: use semantic coverflow swipes
  example/e2e/maestro/tab-view-coverflow.yml
Due: none

ci: cache agent-device iOS runner
  .github/workflows/e2e-ios.yml
Due: none

fix: configure agent-device state via env
  scripts/agent-device.ts
Due: lint, types, test

chore: use --verbose flag for agent-device CI tests
  scripts/agent-device.ts
Due: lint, types, test

test: rely on default Maestro visibility waits
  example/e2e/maestro/bottom-tabs-preload-flow.yml
  example/e2e/maestro/libraries-drawer-layout.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
Due: none

ci: guard agent-device e2e diagnostics
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  scripts/agent-device.ts
Due: lint, types, test

test: avoid preload reset label assertion
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
Due: lint, types, test

test: stabilize agent-device e2e checks
  .github/workflows/e2e-ios.yml
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
Due: lint, types, test

ci: give iOS runner prewarm enough time
  .github/workflows/e2e-ios.yml
Due: none

test: shorten preload readiness delay
  example/src/Screens/BottomTabsPreloadFlow.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
Due: lint, types, test

ci: prewarm iOS runner through replay timeout
  .github/workflows/e2e-ios.yml
Due: none

ci: tolerate denied TypeScript perf comments
  .github/workflows/measure-typescript.yml
Due: none

ci: align agent-device iOS daemon timeout
  .github/workflows/e2e-ios.yml
Due: none

ci: run iOS prewarm through test timeout
  .github/workflows/e2e-ios.yml
Due: none

ci: skip redundant iOS prewarm close
  .github/workflows/e2e-ios.yml
Due: none

ci: prewarm iOS runner with app launch
  .github/workflows/e2e-ios.yml
Due: none

test: wait for drawer transitions in maestro flow
  example/e2e/maestro/drawer-master-detail.yml
Due: none

ci: upgrade agent-device to 0.16.11
  .github/workflows/e2e-ios.yml
  package.json
Due: types, test, dependencies

test: assert visible header titles before navigation
  example/e2e/maestro/native-stack-header-customization.yml
  example/e2e/maestro/stack-header-customization.yml
Due: none

ci: allow cold agent-device iOS runner builds
  .github/workflows/e2e-ios.yml
Due: none

test: limit drawer animation waits to android
  example/e2e/maestro/drawer-master-detail.yml
Due: none

Revert "test: stabilize android maestro flows"
  example/e2e/launch.yml
  example/e2e/maestro/native-bottom-tabs-custom-tab-bar.yml
  example/e2e/maestro/native-bottom-tabs.yml
  example/e2e/maestro/showcase-drawer.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/stack-retain.yml
Due: none

test: restore drawer maestro flow
  example/e2e/maestro/drawer-master-detail.yml
Due: none

test: stabilize android maestro flows
  example/e2e/launch.yml
  example/e2e/maestro/native-bottom-tabs-custom-tab-bar.yml
  example/e2e/maestro/native-bottom-tabs.yml
  example/e2e/maestro/showcase-drawer.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/stack-retain.yml
Due: none

ci: align agent-device e2e timeout
  scripts/agent-device.ts
Due: lint, types, test

ci: restore maestro e2e check names
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

ci: keep ios runner prepare before e2e
  .github/workflows/e2e-ios.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
