Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

chore(types): add spec for ParamsForScreenComponent change
  example/__typechecks__/static.check.tsx
Due: lint, types, test

feat: add support for disabling overrideScrollViewContentInsetAdjustmentBehavior
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: add an __unsafe_event__ event to container ref
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/types.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

feat: log events in logger devtools
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationBuilderContext.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/devtools/src/useDevToolsBase.tsx
  packages/devtools/src/useLogger.tsx
Due: lint, types, test

feat: show deep links in dev tools
  packages/devtools/src/useDevToolsBase.tsx
  packages/devtools/src/useLogger.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/useLinking.native.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: don't ship build artifacts with npm package
  packages/native/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: add support for disabling overrideScrollViewContentInsetAdjustmentBehavior
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

refactor: tweak how deep links are logged in devtools
  packages/devtools/src/useDevToolsBase.tsx
  packages/devtools/src/useLogger.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/useLinking.native.tsx
Due: lint, types, test

chore: support next tag for version checking
  .github/workflows/versions.yml
Due: none

fix: support xcasset for native tabs
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: add support for xcasset for icons in native tabs
  example/package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: fix incorrect type aliases for bottom tab icons
  packages/bottom-tabs/src/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: improve handling for PlatformColor
  example/src/theme.native.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/elements/src/Badge.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/Color.tsx
  packages/elements/src/PlatformColor.native.tsx
  packages/elements/src/PlatformColor.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: upgarde expo to sdk 55
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

wip
  example/package.json
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: use Activity for JS stack
  example/app.json
  packages/elements/src/ScreenContent.tsx
  packages/elements/src/internal.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: fix broken animation during replace
  example/app.json
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

fix: fix broken animation during replace (#12950)
  example/app.json
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

fix: fix broken animation during replace (#12950)
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

fix: fix replace animation on fast transitions
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: fix minor code style issue
  packages/elements/src/Color.tsx
Due: lint, types, test

feat: support materialSymbol & sfSymbol for header back icon
  example/src/Screens/StackHeaderCustomization.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
Due: lint, types, test

refactor: don't use IIFE for theme colors
  example/src/theme.native.tsx
Due: lint, types, test

fix: follow material guidelines for bottom tabs if possible
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/elements/src/Color.tsx
Due: lint, types, test

feat: export MaterialLightTheme and MaterialDarkTheme
  example/src/index.tsx
  example/src/theme.native.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/index.tsx
  packages/native/src/theming/LightTheme.tsx
  packages/native/src/theming/MaterialTheme.android.tsx
  packages/native/src/theming/MaterialTheme.tsx
Due: lint, types, test

fix: add a workaround for false positive with multiple linking error
  example/src/index.tsx
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.native.tsx
Due: lint, types, test

fix(drawer-layout): respect drawerType='back' in animated zIndex
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: default to outlined if multiple material symbols are used
  example/package.json
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
Due: types, test

chore: tweak native bottom tabs example
  example/src/Screens/NativeBottomTabs.tsx
Due: lint, types, test

fix: fix material symbol not implementing the native interface
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolViewManager.kt
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
