Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: print the maestro command that's about to run
  scripts/maestro.ts
Due: lint, types, test

fix: fix incorrect type for reset action
  packages/core/src/BaseNavigationContainer.tsx
  packages/routers/src/CommonActions.tsx
Due: lint, types, test

chore: add memory diagnostics before running maestro
  .github/workflows/e2e-ios.yml
Due: none

chore: upload simulator logs
  .github/workflows/e2e-ios.yml
Due: none

chore: upload xctestrunner logs
  .github/workflows/e2e-ios.yml
Due: none

chore: upload additional simulator logs
  .github/workflows/e2e-ios.yml
Due: none

feat: support standard schema for parsing paths
  example/__typechecks__/static.check.tsx
  example/package.json
  package.json
  packages/core/package.json
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/utilities.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: make it possible to require query params with schema
  example/__typechecks__/static.check.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

test: test for query param behavior
  packages/core/src/__tests__/getStateFromPath.test.tsx
Due: lint, types, test

refactor: rework how non-string params are handled when parsing
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

feat: support standard schema for parsing paths (#12993)
  example/__typechecks__/static.check.tsx
  example/package.json
  package.json
  packages/core/package.json
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/utilities.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: bump macOS runner and maestro version
  .github/workflows/e2e-ios.yml
Due: none

Revert "chore: add memory diagnostics before running maestro"
  .github/workflows/e2e-ios.yml
Due: none

test: add tests for child navigator in <Activity mode
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

ci: update maestro version and runner for stability (#12991)
  .github/workflows/e2e-ios.yml
  scripts/maestro.ts
Due: lint, types, test

test: test suspense with params
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

fix(bottom-tabs): include background color and blur effect in scrollEdgeAppearance
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

refactor: align web and native ActivityView structure
  packages/elements/src/ActivityView.native.tsx
  packages/elements/src/ActivityView.tsx
Due: lint, types, test

refactor: use Activity for JS stack
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

refactor: use Activity for Drawer
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
Due: lint, types, test

refactor: use Activity for JS stack (#12983)
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

refactor: use Activity for Drawer (#12984)
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
Due: lint, types, test

fix(stack): use correct previous focused route when preloaded routes exist
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

feat: phrase 1
  example/src/Screens/LoaderDemo.tsx
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/index.tsx
Due: lint, types, test

test(stack): add previousFocusedRouteKey to StackView test state
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

test: test suspense with navigate
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

fix: run focus effects after navigation transition
  packages/core/src/__tests__/useFocusEffect.test.tsx
  packages/core/src/useFocusEffect.tsx
  packages/stack/src/__tests__/index.test.tsx
Due: lint, types, test

feat: better example
  example/src/Screens/LoaderDemo.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

feat: better example
  example/src/Screens/LoaderDemo.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

Revert "test: test suspense with params"
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

feat: better example
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

fix: ts
  example/src/Screens/LoaderDemo.tsx
Due: lint, types, test

refactor: keep preloaded screens visible
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

refactor: defer pausing activity views
  packages/elements/src/ActivityView.native.tsx
  packages/elements/src/ActivityView.tsx
Due: lint, types, test

test: tweak preload test
  example/e2e/maestro/stack-preload-flow.yml
Due: none

test: add unit tests for activity behavior
  example/e2e/maestro/native-stack-preload-flow.yml
  packages/drawer/src/__tests__/index.test.tsx
  packages/stack/src/__tests__/index.test.tsx
Due: lint, types, test

ci: update maestro version for android
  .github/workflows/e2e-android.yml
Due: none
