Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

feat: add a helper to define linking config in type-safe way
  example/__typechecks__/common.check.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/native/src/createLinkingConfig.tsx
  packages/native/src/index.tsx
Due: lint, types, test

wip
  example/__typechecks__/common.check.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/native/src/createLinkingConfig.tsx
Due: lint, types, test

refactor: rework path parsing and serialization for less overhead
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/validatePathConfig.tsx
Due: lint, types, test

refactor: rework path parsing and serialization for less overhead (#13157)
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/validatePathConfig.tsx
Due: lint, types, test

chore: use a custom condition for source code
  example/metro.config.js
  example/package.json
  example/server/babel.config.js
  example/vite.config.mjs
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

chore: update gradle setup
  packages/native/android/build.gradle
Due: none

feat: update material symbol fonts
  example/src/material-symbol-names.ts
  packages/native/assets/fonts/MaterialSymbolsOutlined.codepoints
  packages/native/assets/fonts/MaterialSymbolsOutlined_100.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_200.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_300.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_400.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_500.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_600.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_700.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded_100.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_200.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_300.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_400.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_500.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_600.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_700.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp_100.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_200.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_300.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_400.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_500.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_600.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_700.ttf
  packages/native/src/native/MaterialSymbolData.tsx
Due: lint, types, test

feat: let dynamic navigators specify child navigator types
  .github/workflows/ci.yml
  example/__typechecks__/standalone/dynamic/assets.d.ts
  example/__typechecks__/standalone/dynamic/index.check.tsx
  example/__typechecks__/standalone/dynamic/tsconfig.json
  example/__typechecks__/standalone/static/assets.d.ts
  example/__typechecks__/standalone/static/index.check.tsx
  example/__typechecks__/standalone/static/tsconfig.json
  lefthook.yml
  package.json
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/types.tsx
  packages/routers/src/types.tsx
  scripts/measure-typescript.ts
Due: lint, types, test, dependencies

feat: let dynamic navigators specify child navigator types (#13160)
  .github/workflows/ci.yml
  example/__typechecks__/standalone/dynamic/assets.d.ts
  example/__typechecks__/standalone/dynamic/index.check.tsx
  example/__typechecks__/standalone/dynamic/tsconfig.json
  example/__typechecks__/standalone/static/assets.d.ts
  example/__typechecks__/standalone/static/index.check.tsx
  example/__typechecks__/standalone/static/tsconfig.json
  lefthook.yml
  package.json
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/types.tsx
  packages/routers/src/types.tsx
  scripts/measure-typescript.ts
Due: lint, types, test, dependencies

chore: migrate native stack example to static config
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

chore: migrate native stack example to static config (#13161)
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

refactor: simplify liquid glass view types
  packages/elements/src/Badge.tsx
  packages/elements/src/Header/HeaderButtonBackground.tsx
  packages/elements/src/LiquidGlassView.ios.tsx
  packages/elements/src/LiquidGlassView.tsx
  packages/elements/src/Screen.tsx
Due: lint, types, test

feat: align modal presentation style for stack on with iOS 27
  packages/stack/src/TransitionConfigs/CardStyleInterpolators.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: fix modal detection being incorrect on Android
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: migrate to pnpm
  .gitattributes
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/measure-typescript.yml
  .gitignore
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  example/README.md
  example/__typechecks__/standalone/dynamic/index.check.tsx
  example/__typechecks__/standalone/static/index.check.tsx
  example/e2e/playwright.config.ts
  example/metro.config.js
  example/package.json
  example/src/index.tsx
  lefthook.yml
  lerna.json
  netlify.toml
  package.json
  packages/bottom-tabs/src/utils/useAnimatedHashMap.tsx
  packages/core/package.json
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/native/package.json
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/useBackButton.native.tsx
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/stack/src/views/Stack/CardContent.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/measure-typescript.ts
  yarn.lock
Due: lint, types, test, dependencies

chore: migrate to pnpm (#13162)
  .gitattributes
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/measure-typescript.yml
  .gitignore
  .yarn/releases/yarn-4.10.3.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  example/README.md
  example/__typechecks__/standalone/dynamic/index.check.tsx
  example/__typechecks__/standalone/static/index.check.tsx
  example/e2e/playwright.config.ts
  example/metro.config.js
  example/package.json
  example/src/index.tsx
  lefthook.yml
  lerna.json
  netlify.toml
  package.json
  packages/bottom-tabs/src/utils/useAnimatedHashMap.tsx
  packages/core/package.json
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/native/package.json
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/useBackButton.native.tsx
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/stack/src/views/Stack/CardContent.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/measure-typescript.ts
  yarn.lock
Due: lint, types, test, dependencies

fix: prevent optional linking params from making all params optional
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

chore: enable exact optional property types
  example/__typechecks__/common.check.tsx
  example/e2e/playwright.config.ts
  example/src/Screens/ComponentsHeaders.tsx
  example/src/Screens/LibrariesDrawerLayout.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/types.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/SFSymbolViewNativeComponent.ts
  packages/native/src/useLinkProps.tsx
  packages/stack/src/utils/__tests__/useKeyboardManager.test.tsx
  tsconfig.json
Due: lint, types, test

chore: enable exact optional property types (#13165)
  example/__typechecks__/common.check.tsx
  example/e2e/playwright.config.ts
  example/src/Screens/ComponentsHeaders.tsx
  example/src/Screens/LibrariesDrawerLayout.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/types.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/SFSymbolViewNativeComponent.ts
  packages/native/src/useLinkProps.tsx
  packages/stack/src/utils/__tests__/useKeyboardManager.test.tsx
  tsconfig.json
Due: lint, types, test

chore: enable more strict typescript options
  .github/workflows/measure-typescript.yml
  example/__typechecks__/standalone/dynamic/tsconfig.json
  example/__typechecks__/standalone/static/tsconfig.json
  example/src/Screens/ScreenLayout.tsx
  example/src/Shared/ErrorBoundary.tsx
  packages/core/src/index.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
  scripts/measure-typescript.ts
  tsconfig.json
Due: lint, types, test

refactor: minor simplifications to types
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: make static screen route.params read-only
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

chore: upgrade to TypeScript 7
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/measure-typescript.ts
Due: lint, types, test, dependencies

fix: pop tab history when pop: true for navigate
  packages/routers/src/TabRouter.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

refactor: make useNavigationState work with concurrent features
  packages/core/package.json
  packages/core/src/NavigationIndependentTree.tsx
  packages/core/src/NavigationProvider.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useNavigationState.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationState.tsx
  pnpm-lock.yaml
Due: lint, types, test

chore: configure jest to use prettier 2
  package.json
  pnpm-lock.yaml
Due: types, test, dependencies

test: add tests to validate concurrent rendering
  packages/core/src/__tests__/concurrent.test.tsx
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

refactor: keep stateRef scoped to its only usage site
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
Due: lint, types, test

chore: improve time taken for unit tests
  packages/material-top-tabs/src/__tests__/index.test.tsx
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native/src/__tests__/NavigationContainer.test.tsx
  packages/native/src/__tests__/createStaticNavigation.test.tsx
  packages/native/src/__tests__/useLinking.test.tsx
Due: lint, types, test

chore: remove special preloaded handling in useNavigation
  packages/core/src/NavigationIndependentTree.tsx
  packages/core/src/NavigationProvider.tsx
  packages/core/src/useNavigation.tsx
Due: lint, types, test

chore: fix react-native-web resolution for test server
  example/server/babel.config.js
Due: lint, types, test

chore: remove dead netlify function for expo go
  netlify/functions/expo/expo.js
Due: lint, types, test

fix: handle non-capturing groups in path regex
  packages/core/src/__tests__/getPatternParts.test.tsx
  packages/core/src/getPatternParts.tsx
Due: lint, types, test

refactor: skip path config validation in production
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

refactor: skip impossible path regex matches
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
Due: lint, types, test

refactor: serialize focused path branch only to reduce work
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/getPathFromState.tsx
Due: lint, types, test

refactor: avoid slicing routes for getting action
  packages/core/src/getActionFromState.tsx
Due: lint, types, test

refactor: reduce serializable check allocations
  packages/core/src/checkSerializable.tsx
Due: lint, types, test
