Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

fix: fix `navigationRef.getRootState()` returning an incomplete state during render
  packages/core/src/useOnGetState.tsx
Due: lint, types, test

fix: jumping back button in native stack (#12500)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix: handle undefined event in useLinkProps
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

feat: add an API to get a minimal state to build a path
  packages/core/src/NavigationFocusedRouteStateContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/index.tsx
  packages/core/src/useStateForPath.tsx
  packages/native/src/useLinkBuilder.tsx
Due: lint, types, test

fix: always create link regardless of linking enabled status
  packages/core/src/useStateForPath.tsx
  packages/native/src/useLinkBuilder.tsx
  packages/native/src/useLinkTo.tsx
Due: lint, types, test

feat: add a useRoutePath hook
  packages/native/src/__tests__/useRoutePath.test.tsx
  packages/native/src/useRoutePath.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: fix buildHref returning incorrect path
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/native/src/__tests__/useLinkBuilder.test.tsx
  packages/native/src/useLinkBuilder.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: upgrade bob
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: revert always create link regardless of linking enabled
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/native/src/useLinkBuilder.tsx
  packages/native/src/useRoutePath.tsx
Due: lint, types, test

fix: make buildHref work inside screens of a navigator
  packages/native/src/__tests__/useLinkBuilder.test.tsx
  packages/native/src/useLinkBuilder.tsx
Due: lint, types, test

fix: make buildHref work inside route context
  packages/core/src/NavigationFocusedRouteStateContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/findFocusedRoute.tsx
  packages/native/src/__tests__/useLinkBuilder.test.tsx
  packages/native/src/useLinkBuilder.tsx
Due: lint, types, test

chore: refactor useLinkBuilder tests
  packages/native/src/__tests__/useLinkBuilder.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: don't add undefined to path for optional params. fixes #12528
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/getPathFromState.tsx
Due: lint, types, test

chore: upgrade lerna-lite and skip bump only releases
  lerna.json
  package.json
  yarn.lock
Due: types, test

fix: drop commonjs module to avoid dual package hazard
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: fix most peer dep warnings
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: update engines and nvmrc
  .nvmrc
  package.json
Due: types, test

fix: add types field back to support legacy moduleResolution
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
Due: types, test

docs: add deprecation message to some status/navigation bar related props
  packages/native-stack/src/types.tsx
Due: lint, types, test

docs: add deprecation message to some status/navigation bar related props (#12539)
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: Disable screen reading for stacked transparentModal screens for improved accessibility
  packages/elements/src/Screen.tsx
Due: lint, types, test

feat: remove headerBackTitle check and update description
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix(ui): adding inert
  packages/elements/src/Screen.tsx
Due: lint, types, test

Update packages/native-stack/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: fix lint
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix(native-stack): align headerBackTitle with iOS behavior (#12543)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

Create SubliAnny
  example/SubliAnny
Due: none

Update Screen.tsx
  packages/elements/src/Screen.tsx
Due: lint, types, test

feat: add options parameter to layout and screenLayout
  packages/core/src/types.tsx
  packages/core/src/useDescriptors.tsx
Due: lint, types, test

fix(types): refactor screenLayout prop to use ScreenLayoutProps type
  packages/core/src/types.tsx
Due: lint, types, test

fix: going back to the right history entry
  packages/native/src/useLinking.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
