Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: support materialSymbol icon in bottom tabs
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeBottomTabsCustom.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

chore: update icons in bottom tab example
  example/src/Screens/BottomTabs.tsx
Due: lint, types, test

refactor: rework how screens are preloaded
  example/e2e/maestro/native-stack-preload-flow.yml
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useNavigationCache.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationCache.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/types.tsx
  packages/stack/src/__tests__/index.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

refactor: rework how screens are preloaded (#12934)
  example/e2e/maestro/native-stack-preload-flow.yml
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useNavigationCache.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationCache.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/types.tsx
  packages/stack/src/__tests__/index.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: tweak bottom tabs examples
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeBottomTabsCustom.tsx
Due: lint, types, test

refactor: simplify material symbol module
  packages/native/android/build.gradle
  packages/native/android/gradle.properties
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/package.json
Due: types, test

refactor: improve parameter checks in SceneView component
  packages/core/src/SceneView.tsx
Due: lint, types, test

refactor: tweak kotlin package
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
Due: none

refactor: only include outline variant for material fonts by default
  example/src/Screens/MaterialSymbols.tsx
  packages/native/assets/fonts/MaterialSymbolsOutlined.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp.ttf
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/types.tsx
  scripts/update-material-symbols.ts
Due: lint, types, test

refactor: add support for font weights
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/assets/fonts/MaterialSymbolsOutlined_400.ttf
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/NativeMaterialSymbolModule.ts
  scripts/update-material-symbols.ts
Due: lint, types, test

feat: add support for testId and accessibilityLabel to native tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: add support for xcasset for icons in bottom tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

docs: add JSDoc to react-native-tab-view
  packages/react-native-tab-view/src/TabView.tsx
Due: lint, types, test

wip
  example/src/Screens/TabView/ScrollAdapter.tsx
  packages/react-native-tab-view/src/CSSAdapter.tsx
  packages/react-native-tab-view/src/index.tsx
Due: lint, types, test

wip
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

Add sheetDefaultResizeAnimationEnabled
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Remove expect-error as screens were already bumped
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Drop default from name
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: add sheetResizeAnimationEnabled prop (#12942)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

feat: add missing options for formSheet
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: update sheetLargestUndimmedDetentIndex doc for keyboard handling
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: add platform information
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: rephrase
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: fix typo
  packages/native-stack/src/types.tsx
Due: lint, types, test

docs: update sheetLargestUndimmedDetentIndex doc for keyboard handling (#12945)
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: add support for specifying material fonts
  packages/native/android/build.gradle
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/assets/fonts/MaterialSymbolsOutlined_100.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_200.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_300.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_500.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_600.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_700.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded_100.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_200.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_300.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_400.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_500.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_600.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_700.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp_100.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_200.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_300.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_400.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_500.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_600.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_700.ttf
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/NativeMaterialSymbolModule.ts
  scripts/update-material-symbols.ts
Due: lint, types, test

feat: add support for specifying material fonts (#12947)
  packages/native/android/build.gradle
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
  packages/native/assets/fonts/MaterialSymbolsOutlined_100.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_200.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_300.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_500.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_600.ttf
  packages/native/assets/fonts/MaterialSymbolsOutlined_700.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded.codepoints
  packages/native/assets/fonts/MaterialSymbolsRounded_100.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_200.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_300.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_400.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_500.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_600.ttf
  packages/native/assets/fonts/MaterialSymbolsRounded_700.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp.codepoints
  packages/native/assets/fonts/MaterialSymbolsSharp_100.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_200.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_300.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_400.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_500.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_600.ttf
  packages/native/assets/fonts/MaterialSymbolsSharp_700.ttf
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/MaterialSymbolData.tsx
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/NativeMaterialSymbolModule.ts
  scripts/update-material-symbols.ts
Due: lint, types, test

feat: add more customization options for SFSymbols
  example/src/Screens/SFSymbols.tsx
  example/src/Shared/SegmentedPicker.tsx
  packages/native/ios/ReactNavigationSFSymbolView.mm
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/src/index.tsx
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbolViewNativeComponent.ts
  packages/native/src/native/types.tsx
Due: lint, types, test

feat: add more customization options for SFSymbols
  example/src/Screens/SFSymbols.tsx
  example/src/Shared/SegmentedPicker.tsx
  packages/native/ios/ReactNavigationSFSymbolView.mm
  packages/native/ios/ReactNavigationSFSymbolView.swift
  packages/native/src/native/SFSymbol.ios.tsx
  packages/native/src/native/SFSymbolViewNativeComponent.ts
  packages/native/src/native/constants.tsx
  packages/native/src/native/types.tsx
Due: lint, types, test

feat: add support for variant and weight to material symbol
  example/src/Screens/MaterialSymbols.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/native/src/native/MaterialSymbol.android.tsx
  packages/native/src/native/constants.tsx
  packages/native/src/native/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix material symbol not getting updated when name changes
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolView.kt
Due: none

fix: handle variant and weight for material symbol in native tabs
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix(static): add navigation screen prop
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test
