Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

refactor: improve typecheck performance (#13140)
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
  packages/core/src/utilities.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

feat: add getter support to screens for lazy requires
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

chore: measure tsserver latency in the benchmark script
  .github/workflows/measure-typescript.yml
  scripts/measure-typescript.ts
Due: lint, types, test

chore: measure tsserver latency in the benchmark script (#13142)
  .github/workflows/measure-typescript.yml
  scripts/measure-typescript.ts
Due: lint, types, test

chore: read benchmark from script for gh workflow
  .github/workflows/measure-typescript.yml
  scripts/measure-typescript.ts
Due: lint, types, test

fix: use aria-current for drawer links on web
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: don't comment on closed PRs
  .github/workflows/closed-issue.yml
Due: none

fix(native): provide LinkingContext during NavigationContainer fallback
  packages/native/src/NavigationContainer.tsx
Due: lint, types, test

chore: upgrade dependencies
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: upgrade bob
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add standard navigation compatibility
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: don't swallow errors in ts benchmark
  scripts/measure-typescript.ts
Due: lint, types, test

feat: add standard navigation compatibility (#13122)
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/core/src/StaticNavigation.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: add standard navigation compatibility
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: add standard navigation compatibility (#13124)
  example/package.json
  example/src/Screens/StandardNavigator/MyStackDynamic.tsx
  example/src/Screens/StandardNavigator/MyStackNavigator.tsx
  example/src/Screens/StandardNavigator/MyStackStatic.tsx
  example/src/Screens/StandardNavigator/createMyStackNavigator.tsx
  example/src/Screens/StandardNavigator/typechecks.tsx
  example/src/screens.tsx
  packages/native/package.json
  packages/native/src/createStandardNavigationFactories.tsx
  packages/native/src/index.tsx
  packages/native/src/useMemoArray.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: gracefully handle multiple versions of elements for useFrameSize
  packages/elements/src/useFrameSize.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix(core): prevent useNavigation(name) from degrading on large trees
  packages/core/src/useNavigation.tsx
Due: lint, types, test

Apply suggestion from @satya164
  packages/core/src/useNavigation.tsx
Due: lint, types, test

fix: fix useNavigation(name) degrading navigation type on large trees (#13145)
  packages/core/src/useNavigation.tsx
Due: lint, types, test

chore: add more verification checks for types
  .github/workflows/ci.yml
  example/__typechecks__/standalone/assets.d.ts
  example/__typechecks__/standalone/index.check.tsx
  example/__typechecks__/standalone/tsconfig.json
  example/__typechecks__/static.check.tsx
  lefthook.yml
  package.json
  scripts/measure-typescript.ts
  tsconfig.json
Due: lint, types, test, dependencies

chore: add more verification checks for types (#13146)
  .github/workflows/ci.yml
  example/__typechecks__/standalone/assets.d.ts
  example/__typechecks__/standalone/index.check.tsx
  example/__typechecks__/standalone/tsconfig.json
  example/__typechecks__/static.check.tsx
  lefthook.yml
  package.json
  scripts/measure-typescript.ts
  tsconfig.json
Due: lint, types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

ci: reuse native e2e build artifacts
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

ci: factor e2e workflow helpers
  .github/actions/calculate-expo-fingerprint/action.yml
  .github/actions/install-maestro/action.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

perf: avoid scanning all routes for useRoute type lookup
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
Due: lint, types, test

perf: don't build all route types for useRoute name validation
  packages/core/src/types.tsx
  packages/core/src/useRoute.tsx
Due: lint, types, test

refactor: constrain useRoute name like useNavigation
  packages/core/src/useRoute.tsx
Due: lint, types, test

refactor: tweak comments
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
  packages/core/src/useRoute.tsx
Due: lint, types, test

refactor: improve TypeScript memory usage and performance (#13149)
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
  packages/core/src/useRoute.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
