Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: properly configure scrollEdgeAppearance for bottom tabs on iOS
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

ci: tweak ci workflow for android
  .github/workflows/e2e-android.yml
  example/e2e/launch.yml
Due: none

ci: remove android emulator runner
  .github/workflows/e2e-android.yml
Due: none

ci: more improvements
  .github/workflows/e2e-android.yml
Due: none

ci: increase ram
  .github/workflows/e2e-android.yml
Due: none

ci: tweak ci workflow for android (#12971)
  .github/workflows/e2e-android.yml
  example/e2e/launch.yml
Due: none

ci: go to home screen instead of stopApp for faster flows
  example/e2e/launch.yml
Due: none

ci: tweak ci workflow for ios
  .github/workflows/e2e-ios.yml
Due: none

ci: tweak ci workflow for ios (#12973)
  .github/workflows/e2e-ios.yml
Due: none

fix(bottom-tabs): pass platform-specific selectedIcon to Tabs.Screen on Android
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: support hiding native tab bar (#12967)
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix: include tab item appearance in scrollEdgeAppearance for native tabs (#12968)
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix: fix preventing remove from gesture in stack
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

fix: fix preventing remove from gesture in stack (#12975)
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

fix: fix import cycle
  packages/elements/src/Screen.tsx
Due: lint, types, test

chore: update eslint config
  package.json
  yarn.lock
Due: types, test, dependencies

feat: support hiding native tab bar (#12967)
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

fix: include tab item appearance in scrollEdgeAppearance for native tabs (#12968)
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
Due: lint, types, test

feat: drop 'resource' type for icons
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

docs: update JSDoc for tabBarBadgeStyle
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: support zoom transition in native-stack
  example/assets/images/ashim-d-silva.jpg
  example/assets/images/garrett-parker.jpg
  example/assets/images/geranimo.jpg
  example/assets/images/jason-ortego.jpg
  example/assets/images/jay-castor.jpg
  example/assets/images/johannes-plenio.jpg
  example/assets/images/qingbao-meng.jpg
  example/assets/images/sebastian-boring.jpg
  example/assets/images/simon-fitall.jpg
  example/assets/images/yousef-espanioly.jpg
  example/src/Screens/NativeStackZoom.tsx
  example/src/screens.tsx
  packages/native-stack/ReactNavigationNativeStack.podspec
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionAnimator.h
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionAnimator.mm
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionModule.m
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionStore.h
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionStore.mm
  packages/native-stack/ios/ReactNavigationZoomAnchor.h
  packages/native-stack/ios/ReactNavigationZoomAnchor.mm
  packages/native-stack/package.json
  packages/native-stack/src/ZoomAnchor.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/native/NativeStackZoomTransitionModule.ts
  packages/native-stack/src/native/ZoomAnchorNativeComponent.ts
  packages/native-stack/src/types.tsx
  packages/native-stack/src/utils/ZoomTransitionRouteKeyContext.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

refactor: rework zoom API
  example/src/Screens/NativeStackZoom.tsx
  packages/native-stack/src/ZoomAnchor.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/native/NativeStackZoomTransitionModule.ts
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/zoom.tsx
Due: lint, types, test

refactor: rework implementation
  packages/native-stack/ReactNavigationNativeStack.podspec
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionAnimator.h
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionAnimator.mm
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionModule.m
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionStore.h
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionStore.mm
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionUtils.h
  packages/native-stack/ios/ReactNavigationNativeStackZoomTransitionUtils.mm
  packages/native-stack/ios/ReactNavigationZoomTransitionEnabler.h
  packages/native-stack/ios/ReactNavigationZoomTransitionEnabler.mm
  packages/native-stack/package.json
  packages/native-stack/src/native/NativeStackZoomTransitionModule.ts
  packages/native-stack/src/native/ZoomTransitionEnablerNativeComponent.ts
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: rework example
  example/src/Screens/NativeStackZoom.tsx
Due: lint, types, test

chore: upgarde expo to sdk 55
  example/package.json
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: add corner insets API
  example/app.json
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.h
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/ios/ReactNavigationCornerInsetViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.h
  packages/native/ios/ReactNavigationCornerInsetViewShadowNode.mm
  packages/native/ios/ReactNavigationCornerInsetViewState.h
  packages/native/package.json
  packages/native/src/index.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

fix: relayout the insets after transition end
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/ios/ReactNavigationCornerInsetView.mm
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/src/index.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
Due: lint, types, test

fix: remove the always 8px size from corner insets
  packages/native/ios/ReactNavigationCornerInsetView.swift
  packages/native/src/native/CornerInset.ios.tsx
Due: lint, types, test

refactor: mark CornerInset as unstable
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
  packages/native/src/index.tsx
Due: lint, types, test

refactor: use Activity for JS stack
  packages/elements/src/ScreenContent.tsx
  packages/elements/src/internal.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

refactor: tweaks
  example/App.tsx
  packages/elements/src/Container.tsx
  packages/stack/src/__tests__/index.test.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: add an example for screen container
  example/src/Screens/ActivityModes.tsx
  example/src/screens.tsx
Due: lint, types, test

fix: keep inactive content visible
  packages/elements/src/ScreenContent.tsx
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationViewManager.kt
  packages/native/ios/ReactNavigationView.h
  packages/native/ios/ReactNavigationView.mm
  packages/native/src/index.tsx
  packages/native/src/native/ReactNavigationView.native.tsx
  packages/native/src/native/ReactNavigationView.tsx
Due: lint, types, test

chore: upgarde expo to sdk 55
  example/App.tsx
  example/package.json
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

fix: keep inactive content visible
  packages/elements/src/Container.tsx
  packages/elements/src/ScreenContent.tsx
  packages/elements/src/internal.tsx
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationViewManager.kt
  packages/native/ios/ReactNavigationView.h
  packages/native/ios/ReactNavigationView.mm
  packages/native/src/index.tsx
  packages/native/src/native/ReactNavigationView.native.tsx
  packages/native/src/native/ReactNavigationView.tsx
Due: lint, types, test

refactor: remove unnecessary native view
  packages/elements/src/ScreenContent.native.tsx
  packages/elements/src/ScreenContent.tsx
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationPackage.kt
  packages/native/android/src/main/java/org/reactnavigation/ReactNavigationViewManager.kt
  packages/native/ios/ReactNavigationView.h
  packages/native/ios/ReactNavigationView.mm
  packages/native/src/index.tsx
  packages/native/src/native/ReactNavigationView.native.tsx
  packages/native/src/native/ReactNavigationView.tsx
Due: lint, types, test
