Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix(core): guard CONSUMED_PARAMS against non-extensible params objects
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

refactor: use WeakSet instead of Object.defineProperty for CONSUMED_PARAMS
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

refactor: use per-navigator context with WeakRef for consumed params tracking
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

refactor: use undefined for context default
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: use a weak ref instead of mutating params to avoid errors when it's frozen (#13042)
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add `with` method to static configuration
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/native/src/createStaticNavigation.tsx
Due: lint, types, test

chore: fix build error with types
  packages/core/src/types.tsx
Due: lint, types, test

fix(types): handle missing canPreventDefault in EventListenerCallback generic
  packages/core/src/types.tsx
Due: lint, types, test

chore: migrate more navigators to static config
  example/__typechecks__/common.check.tsx
  example/src/Screens/AuthFlow.tsx
  example/src/Screens/DrawerMasterDetail.tsx
  example/src/Screens/NavigatorLayout.tsx
  example/src/Screens/ScreenLayout.tsx
  example/src/Screens/StackBasic.tsx
  example/src/Screens/StackHeaderCustomization.tsx
Due: lint, types, test

feat: support wrapping static config in a component
  example/__typechecks__/static.check.tsx
  example/src/Screens/FullHistoryTabs.tsx
  example/src/Screens/Static.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/native/src/createStaticNavigation.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: upgrade to typescript 6
  example/e2e/playwright.config.ts
  example/package.json
  example/server/env.tsx
  example/server/index.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/devtools/package.json
  packages/devtools/src/useDevToolsBase.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/ScrollViewAdapter.tsx
  packages/routers/package.json
  packages/stack/package.json
  packages/stack/src/utils/useKeyboardManager.tsx
  scripts/generate-sf-symbol-names.ts
  scripts/maestro.ts
  scripts/update-material-symbols.ts
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

fix: automatically change header title color based on content underneath
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

fix: make nested navigator params required
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

fix: fix wrong name for createComponentForStaticNavigation export closes #13045
  packages/core/src/StaticNavigation.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
Due: lint, types, test

refactor: stop specific animation instead of on animated value
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/elements/src/Badge.tsx
  packages/elements/src/Header/Header.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

wip
  example/src/Screens/NativeStackSplitView.tsx
  example/src/Screens/SplitView.md
  example/src/screens.tsx
Due: lint, types, test

wip
  example/src/Screens/NativeStackSplitView.tsx
  example/src/Showcase/SplitViewFilesShowcase.tsx
  example/src/Showcase/SplitViewSettingsShowcase.tsx
  example/src/screens.tsx
Due: lint, types, test

fix: use a weakmap to track consumed params instead of ref
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: use activity for resolving platform color
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolModule.kt
  packages/native/android/src/main/java/org/reactnavigation/MaterialSymbolTypeface.kt
  packages/native/src/native/MaterialSymbol.android.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: fix onPress not being in Button props type
  packages/elements/src/Button.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix onPress on Button
  packages/elements/src/Button.tsx
Due: lint, types, test

feat: rework safe area handling in drawer content scroll view
  packages/drawer/src/views/DrawerContentScrollView.tsx
Due: lint, types, test

refactor: remove forwardRef usage
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/types.tsx
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/ServerContainer.tsx
  packages/native/src/createStaticNavigation.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/types.tsx
  packages/native/src/useBackButton.tsx
  packages/native/src/useDocumentTitle.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
Due: lint, types, test

refactor: remove forwardRef usage (#13062)
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/types.tsx
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/HeaderButton.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/ServerContainer.tsx
  packages/native/src/createStaticNavigation.tsx
  packages/native/src/native/CornerInset.ios.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/types.tsx
  packages/native/src/useBackButton.tsx
  packages/native/src/useDocumentTitle.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
Due: lint, types, test

fix: preserve options of old routes during transition
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: update bob and vite config
  example/package.json
  example/vite.config.mjs
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies
