Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

refactor: rename backIcon to icon in HeaderBackButton
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
Due: lint, types, test

chore: use material theme based on device color scheme
  example/src/index.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

ci: cache more things on ci
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

ci: run individual flows so we can retry the one that failed
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  example/package.json
  scripts/maestro.ts
Due: lint, types, test

chore: setup rnrepo for faster compilations
  example/app.json
  example/package.json
  yarn.lock
Due: types, test, dependencies

chore: use expo-status-bar
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeBottomTabsCustom.tsx
  example/src/edge-to-edge.native.tsx
  example/src/edge-to-edge.tsx
  example/src/index.tsx
Due: lint, types, test

chore: enable rtl toggle for native
  example/src/index.tsx
Due: lint, types, test

chore: update lockfile
  yarn.lock
Due: dependencies

chore: remove edge-to-edge dep
  example/app.json
  example/package.json
  yarn.lock
Due: types, test, dependencies

chore: add FormSheet example (#12448)
  example/src/Screens/NativeStackFormSheet.tsx
  example/src/screens.tsx
Due: lint, types, test

chore: use a theme compatible with older Android by default
  example/src/index.tsx
  example/src/theme.native.tsx
Due: lint, types, test

chore: upgarde expo to sdk 55
  example/package.json
  example/src/index.tsx
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

fix(bottom-tabs): add BottomTabBarHeightContext.Provider to unstable NativeBottomTabView
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
Due: lint, types, test

fix: use material back icon by default on android
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

wip
  example/package.json
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: support badge background color and tab label color on iOS
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: support badge background color and tab label color on iOS
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

refactor: remove redundnant zIndex style
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: respect drawerType='back' in animated zIndex for drawer (#12953)
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
Due: types, test

feat: change behavior for `getId` in stacks
  example/e2e/maestro/stack-basic.yml
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

feat: change behavior for `getId` in stacks (#12962)
  example/e2e/maestro/stack-basic.yml
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: tweak theme colors to match iOS defaults
  packages/native/src/theming/DarkTheme.tsx
  packages/native/src/theming/LightTheme.tsx
Due: lint, types, test

docs: update JSDoc for tabBarBadgeStyle
  packages/bottom-tabs/src/types.tsx
Due: lint, types, test

feat: accept props for component for static config
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
Due: lint, types, test

feat: support inferring types from wrapper component for static config
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

wip
  example/src/index.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/types.tsx
  packages/native/src/useThenable.tsx
Due: lint, types, test

feat: use inert on the web for more navigators
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/ScreenContent.tsx
  packages/drawer/src/types.tsx
  packages/elements/src/Container.tsx
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/react-native-tab-view/src/SceneView.tsx
Due: lint, types, test

feat: use inert on the web for more navigators (#12964)
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/ScreenContent.tsx
  packages/drawer/src/types.tsx
  packages/elements/src/Container.tsx
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/react-native-tab-view/src/SceneView.tsx
Due: lint, types, test

refactor: drop 'resource' type for icons
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add display option to hide tab bar in bottom tabs
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

Reproduction of missing onTransitionStart and End
  example/src/Screens/StackDrawer.tsx
  example/src/screens.tsx
Due: lint, types, test
