Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

feat: add a persitor prop to persist and restore state (#12842)
  example/src/index.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/types.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/native/src/useThenable.tsx
Due: lint, types, test

feat: add `useBottomTabAnimation` (#12866)
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/utils/BottomTabAnimationContext.tsx
  packages/bottom-tabs/src/utils/useBottomTabAnimation.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

refactor: memoize tab animation context
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

fix: fix useTabAnimation for native implementation
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

fix: expose 0 tab bar height for native
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
Due: lint, types, test

feat: add isFullScreen package
  example/react-native.config.js
  packages/native/IsFullScreen.podspec
  packages/native/package.json
  packages/native/src/IsFullScreen.ios.tsx
  packages/native/src/IsFullScreen.tsx
  packages/native/src/index.tsx
  packages/native/src/is-full-screen/ios/IsFullScreen.h
  packages/native/src/is-full-screen/ios/IsFullScreen.mm
  packages/native/src/is-full-screen/src/NativeIsFullScreen.ts
  packages/native/src/is-full-screen/src/index.tsx
Due: lint, types, test

feat: it seems that react-native.config.js s unnecessary
  example/react-native.config.js
Due: lint, types, test

fix: move things around
  packages/native/ReactNavigationNativeModule.podspec
  packages/native/ios/ReactNavigation.h
  packages/native/ios/ReactNavigation.mm
  packages/native/package.json
  packages/native/src/IsFullScreen.ios.tsx
  packages/native/src/is-full-screen/ios/IsFullScreen.h
  packages/native/src/is-full-screen/src/index.tsx
  packages/native/src/native-module/NativeReactNavigation.ts
Due: lint, types, test

chore: fix example on mobile safari
  example/server/index.tsx
  example/src/index.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
Due: lint, types, test

fix: move IsFullScreen to one file
  packages/native/src/IsFullScreen.ios.tsx
  packages/native/src/IsFullScreen.tsx
Due: lint, types, test

fix: ReactNavigationNativeModule -> ReactNavigation
  packages/native/ReactNavigation.podspec
Due: none

fix: safeAreaLayoutForVerticalAdaptivity
  packages/native/ios/ReactNavigation.h
  packages/native/ios/ReactNavigation.mm
  packages/native/src/native-module/NativeReactNavigation.native.ts
  packages/native/src/native-module/NativeReactNavigation.ts
  packages/native/src/native-module/NativeReactNavigationImpl.ts
Due: lint, types, test

chore: use custom conditions instead of moduleNameMapper for jest
  package.json
Due: types, test, dependencies

fix: make hooks for insets
  packages/native/ios/ReactNavigation.h
  packages/native/ios/ReactNavigation.mm
  packages/native/package.json
  packages/native/src/IsFullScreen.tsx
  packages/native/src/SafeAreaAdaptivity.tsx
  packages/native/src/index.tsx
  yarn.lock
Due: lint, types, test, dependencies

fix: more isFullWindow
  packages/native/src/native-module/NativeReactNavigation.ts
  packages/native/src/native-module/NativeReactNavigationImpl.ts
Due: lint, types, test

feat: make sure older xcode and ios works
  packages/native/ios/ReactNavigation.mm
Due: none

fix: types
  packages/native/src/SafeAreaAdaptivity.tsx
  packages/native/src/native-module/NativeReactNavigation.ts
Due: lint, types, test

chore: rename example app to React Navigation Example
  example/app.json
Due: types, test

ci: fix ci scripts
  .github/workflows/e2e-ios.yml
Due: none

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: rename safe area -> corners insets
  packages/native/ios/ReactNavigation.mm
  packages/native/src/CornersInsetsAdaptivity.tsx
  packages/native/src/index.tsx
  packages/native/src/native-module/NativeReactNavigation.ts
  packages/native/src/native-module/NativeReactNavigationImpl.ts
Due: lint, types, test

feat: Fix content positioning for header and drawer based on corners insets
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: remove spec imports
  packages/native/src/CornersInsetsAdaptivity.tsx
  packages/native/src/native-module/NativeReactNavigation.ts
Due: lint, types, test

fix: fix types in Header
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: CornersInsets
  packages/native/src/native-module/NativeReactNavigationImpl.ts
Due: lint, types, test

fix: areInsetsEqual
  packages/native/src/CornersInsetsAdaptivity.tsx
Due: lint, types, test

feat: default linking to auto for static config
  example/src/index.tsx
  packages/native/src/createStaticNavigation.tsx
Due: lint, types, test

chore: fix typo in JSDoc
  packages/native/src/createStaticNavigation.tsx
Due: lint, types, test

feat: rework API
  packages/native/ios/ReactNavigation.mm
  packages/native/src/CornersInsetsAdaptivity.tsx
  packages/native/src/index.tsx
  packages/native/src/native-module/NativeReactNavigation.ts
  packages/native/src/native-module/NativeReactNavigationImpl.ts
Due: lint, types, test

feat: rework API
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: remove native build warnings
  packages/native/ios/ReactNavigation.mm
Due: none

fix: use Navigation generic type for layout prop
  example/__typechecks__/static.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

feat: rewamp the native logic
  packages/native/ios/ReactNavigation.h
  packages/native/ios/ReactNavigation.mm
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentDescriptor.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.mm
  packages/native/ios/ReactNavigationCornerAdaptivityViewShadowNode.cpp
  packages/native/ios/ReactNavigationCornerAdaptivityViewShadowNode.h
  packages/native/ios/ReactNavigationCornerAdaptivityViewState.h
  packages/native/package.json
  packages/native/src/CornersInsetsAdaptivity.tsx
  packages/native/src/index.tsx
  packages/native/src/native-module/CornerAdaptivityView.ios.tsx
  packages/native/src/native-module/CornerAdaptivityView.tsx
  packages/native/src/native-module/NativeReactNavigation.native.ts
  packages/native/src/native-module/NativeReactNavigation.ts
  packages/native/src/native-module/NativeReactNavigationImpl.ts
  packages/native/src/native-module/ReactNavigationCornerAdaptivityViewNativeComponent.ts
Due: lint, types, test

fix: adjust examples
  packages/drawer/src/views/DrawerContentScrollView.tsx
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: adjust examples
  packages/elements/src/Header/Header.tsx
Due: lint, types, test

fix: default exports
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.mm
  packages/native/src/native-module/CornerAdaptivityView.ios.tsx
  packages/native/src/native-module/ReactNavigationCornerAdaptivityViewNativeComponent.ts
Due: lint, types, test

fix: wdyw
  packages/native/ios/ReactNavigationCornerAdaptivityViewComponentView.mm
Due: none

docs: update link to GitHub contribution guide
  CONTRIBUTING.md
Due: none
