Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

refactor: replace input with ParamList
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/types.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

refactor: rename createStaticScreenFactory to createScreenFactory
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

refactor: consolidate NavigatorTypeBagFactory to NavigatorTypeBagBase
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/types.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

refactor: further simplifications
  packages/core/src/StaticNavigation.tsx
  packages/core/src/types.tsx
Due: lint, types, test

refactor: tweaks
  packages/core/src/StaticNavigation.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
Due: lint, types, test

refactor: simplify types for custom navigators (#13080)
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

chore: remove options not supported in tsgo
  tsconfig.json
Due: types, test

refactor: improve type inference performance
  packages/core/src/StaticNavigation.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationState.tsx
Due: lint, types, test

fix: improve type inference performance (#13081)
  packages/core/src/StaticNavigation.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationState.tsx
Due: lint, types, test

chore: add a script to compare performance
  .github/workflows/measure-typescript.yml
  scripts/measure-typescript.ts
Due: lint, types, test

refactor: improve type inference performance
  .github/workflows/measure-typescript.yml
Due: none

chore: add a script to compare TypeScript performance (#13082)
  .github/workflows/measure-typescript.yml
  scripts/measure-typescript.ts
Due: lint, types, test

refactor: dispatch back instead of reset if we determine it's a simple back
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: move header measurement to separate view without minHeight
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: preserve accessibility on android when header transparent is true (#13075)
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

refactor: dispatch back instead of reset if we determine it's a simple pop (#13077)
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: fix formSheet fitToContents not working
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: add a retain action to stack
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

fix: add demo for retain
  example/e2e/maestro/stack-retain.yml
  example/e2e/tests/maestro.test.ts
  example/src/Screens/StackRetain.tsx
  example/src/screens.tsx
  packages/routers/src/StackRouter.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: add support for retaining screens in stack (#13076)
  example/e2e/maestro/stack-retain.yml
  example/e2e/tests/maestro.test.ts
  example/src/Screens/StackRetain.tsx
  example/src/screens.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: apply feedback
  example/src/Screens/LoaderDemo.tsx
  packages/core/src/DataLoading.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
  packages/core/src/index.tsx
Due: lint, types, test

fix: apply feedback - lint
  packages/core/src/DataLoading.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
Due: lint, types, test

feat: phase 2 init
  example/package.json
  example/src/Screens/LoaderDemo.tsx
  example/src/Shared/ErrorBoundary.tsx
  example/src/index.tsx
  example/src/queryClient.ts
  packages/core/src/DataLoading.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/StaticNavigationContext.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
  packages/core/src/__tests__/useOnActionLoader.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnAction.tsx
  yarn.lock
Due: lint, types, test, dependencies

feat: phase 2 typos
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

fix(bottom-tabs): disable pointer events on inactive tab screens
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

fix(bottom-tabs): disable touch events on unfocused tab screens
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/elements/src/ActivityView.native.tsx
  packages/elements/src/ActivityView.tsx
  packages/elements/src/Container.tsx
Due: lint, types, test

fix(bottom-tabs): disable touch events on unfocused tab screens
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

fix(bottom-tabs): disable pointer events on inactive tab screens (#13086)
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
Due: types, test

fix(react-native-tab-view): forward pageMargin prop from TabView to adapters
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabView.tsx
  packages/react-native-tab-view/src/types.tsx
Due: lint, types, test

fix(react-native-tab-view): forward pageMargin prop from TabView to Pager adapters
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabView.tsx
  packages/react-native-tab-view/src/types.tsx
Due: lint, types, test

chore: fix README title to refer to React Navigation 8
  README.md
Due: none

refactor: replace color dependency with own implementation
  eslint.config.mjs
  package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/elements/src/Color.tsx
  packages/elements/src/__tests__/Color.test.tsx
  packages/material-top-tabs/package.json
  packages/react-native-drawer-layout/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

refactor: replace color dependency with own implementation (#13091)
  eslint.config.mjs
  package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/elements/src/Color.tsx
  packages/elements/src/__tests__/Color.test.tsx
  packages/material-top-tabs/package.json
  packages/react-native-drawer-layout/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test, dependencies

feat: add icon support to Button
  example/src/Screens/ComponentsButton.tsx
  example/src/screens.tsx
  packages/elements/src/Button.tsx
Due: lint, types, test

fix: accept react element as Button children
  packages/elements/src/Button.tsx
Due: lint, types, test

fix: add disabled styling for button
  packages/elements/src/Button.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
