Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: tweak checks for correct types
  example/src/index.tsx
  example/src/screens.tsx
  example/types.check.tsx
Due: lint, types, test

chore: upgrade lerna
  package.json
  yarn.lock
Due: types, test

fix: improve when back button is shown in nested native stacks (#10761)
  example/assets/cpu.jpg
  example/src/Screens/NativeStackHeaderCustomization.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

chore: fix warnings and errors printed during tests
  packages/core/README.md
  packages/core/package.json
  packages/material-bottom-tabs/src/__tests__/index.test.tsx
  packages/native/src/useLinking.native.tsx
  yarn.lock
Due: lint, types, test

fix: strongly type the `component` prop on `RouteConfigComponent` (#10519)
  example/src/Screens/AuthFlow.tsx
  example/src/Screens/LinkComponent.tsx
  example/src/Screens/NotFound.tsx
  example/src/index.tsx
  example/src/screens.tsx
  example/types.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: fix isRTL check in drawer
  packages/drawer/src/views/modern/Drawer.tsx
Due: lint, types, test

chore: use npm-run-all to sequentially run tasks (#10780)
  example/package.json
  package.json
  packages/native-stack/package.json
  yarn.lock
Due: types, test

chore: remove broken sponsors check
  .github/workflows/sponsor.yml
Due: none

chore: tweak regex for checking typescript playground
  .github/workflows/check-repro.yml
Due: none

fix: fix incorrect height in useHeaderHeight in native-stack (#10827)
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native-stack/src/views/HeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: fix previous screen detach too early (#10813)
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: update yarn.lock
  yarn.lock
Due: none

Revert "fix: migrate off setNativeProps (#10767)"
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

fix: restore native behavior of back button
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: export `PanGestureHandlerGestureEvent` as a type (#10814)
  packages/drawer/src/views/GestureHandlerNative.tsx
  packages/stack/src/views/GestureHandlerNative.tsx
Due: lint, types, test

feat: add freezeOnBlur prop (#10834)
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/bottom-tabs/src/views/ScreenFallback.tsx
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/drawer/src/views/ScreenFallback.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/types.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: update dependencies (#10833)
  .circleci/config.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo.yml
  CONTRIBUTING.md
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/org/reactnavigation/example/MainActivity.java
  example/android/app/src/main/java/org/reactnavigation/example/newarchitecture/MainApplicationReactNativeHost.java
  example/android/app/src/main/jni/Android.mk
  example/android/build.gradle
  example/android/settings.gradle
  example/ios/.xcode.env
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/ReactNavigation.xcodeproj/project.pbxproj
  example/ios/ReactNavigation/AppDelegate.mm
  example/ios/ReactNavigation/SplashScreen.storyboard
  example/ios/ReactNavigation/Supporting/Expo.plist
  example/package.json
  netlify.toml
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

fix: migrate off setNativeProps (#10767)
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix headerTransparent with custom header in native-stack (#10919)
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

Revert "fix: add additional check before running `animate` in `componentDidUpdate` (#10871)"
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

chore: set --openssl-legacy-provider on commands that uses webpack (#10972)
  .circleci/config.yml
  example/package.json
  netlify.toml
  package.json
  packages/flipper-plugin-react-navigation/package.json
Due: types, test

fix: add additional check before running `animate` in `componentDidUpdate` (#10871)
  packages/stack/src/views/Stack/Card.tsx
Due: lint, types, test

feat: expose animationEnabled in material top tabs
  example/package.json
  packages/material-top-tabs/package.json
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabView.tsx
  yarn.lock
Due: lint, types, test

chore: properly apply cache on circleci (#10888)
  .circleci/config.yml
Due: none

chore: publish
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
Due: types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: publish
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: migrate to lerna-lite for proper yarn berry support (#11002)
  .gitignore
  example/package.json
  lerna.json
  package.json
  packages/bottom-tabs/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

fix: supersede Platform.isTVOS for Platform.isTV (#10973)
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/TransitionConfigs/CardStyleInterpolators.tsx
Due: lint, types, test

ci: fix caching for yarn
  .github/actions/setup/action.yml
Due: none

ci: migrate to github actions for CI (#10999)
  .circleci/config.yml
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/rebase.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
  README.md
  example/package.json
  package.json
  yarn.lock
Due: types, test

fix: migrate setNativeProps to state (#10968)
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardSheet.tsx
Due: lint, types, test
