Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

feat: add ability to render native buttons in header on iOS (#12657)
  example/package.json
  example/src/Screens/NativeStack.tsx
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/native-stack/package.json
  packages/native-stack/src/index.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  packages/react-native-drawer-layout/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

ci: use xcode 26 on ci
  .github/workflows/e2e-ios.yml
Due: none

feat: improve API for icons in header buttons
  example/assets/icons/README.md
  example/assets/icons/user-round-plus.png
  example/assets/icons/user-round-plus@2x.png
  example/assets/icons/user-round-plus@3x.png
  example/src/Screens/NativeStack.tsx
  packages/native-stack/package.json
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  yarn.lock
Due: lint, types, test

ci: use xcode 26 on ci (#12804)
  .github/workflows/e2e-ios.yml
Due: none

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

fix: don't override headerRight with headerRightItems on Android
  example/src/Screens/NativeStack.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

refactor: rework API for icons in bottom tabs
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/bottom-tabs/src/experimental/types.tsx
  packages/native-stack/src/types.tsx
  yarn.lock
Due: lint, types, test

fix: remove hardcoded font size on iOS as it's not needed anymore
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
Due: lint, types, test

feat: support showing different icons for selected & unselected states
  example/assets/icons/list-music.png
  example/assets/icons/list-music@2x.png
  example/assets/icons/list-music@3x.png
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/bottom-tabs/src/experimental/types.tsx
Due: lint, types, test

fix: derive indicator color from theme on Android
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
Due: lint, types, test

fix: prevent header from disappearing after modal navigation
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

feat: header inside tabs
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/bottom-tabs/src/experimental/types.tsx
  packages/elements/package.json
  packages/elements/src/NativeHeaderUtils/FontProcessor.native.tsx
  packages/elements/src/NativeHeaderUtils/FontProcessor.tsx
  packages/elements/src/NativeHeaderUtils/debounce.tsx
  packages/elements/src/NativeHeaderUtils/types.ts
  packages/elements/src/NativeHeaderUtils/useAnimatedHeaderHeight.tsx
  packages/elements/src/NativeHeaderUtils/useHeaderConfig.tsx
  packages/elements/src/NativeHeaderUtils/useHeaderConfigProp.tsx
  packages/elements/src/index.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  yarn.lock
Due: lint, types, test

feat: header inside tabs
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/elements/src/NativeHeaderUtils/useHeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: header inside tabs
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
Due: lint, types, test

feat: header inside tabs
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/elements/src/NativeHeaderUtils/useHeaderConfig.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Change error handling in useBottomTabBarHeight
  packages/bottom-tabs/src/utils/useBottomTabBarHeight.tsx
Due: lint, types, test

Update fullScreenGesture-related docblocks
  packages/native-stack/src/types.tsx
Due: lint, types, test

feat: restore unhandled state after route names change
  example/e2e/maestro/auth-flow.yml
  example/src/Screens/AuthFlow.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/package.json
  packages/core/src/__tests__/__fixtures__/MockRouter.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/isRecordEqual.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  yarn.lock
Due: lint, types, test

feat: restore unhandled state after route names change (#12812)
  example/e2e/maestro/auth-flow.yml
  example/src/Screens/AuthFlow.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/package.json
  packages/core/src/__tests__/__fixtures__/MockRouter.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/isRecordEqual.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  yarn.lock
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

Add backgroundComponent property
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

fix: add missing peer dep to elements
  packages/elements/package.json
Due: types, test

feat: add ability to show native header
  example/src/Screens/ExperimentalBottomTabs.tsx
  packages/bottom-tabs/src/experimental/ExperimentalBottomTabView.tsx
  packages/bottom-tabs/src/experimental/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/experimental/NativeScreen/debounce.tsx
  packages/bottom-tabs/src/experimental/NativeScreen/types.ts
  packages/bottom-tabs/src/experimental/NativeScreen/useAnimatedHeaderHeight.tsx
  packages/bottom-tabs/src/experimental/NativeScreen/useHeaderConfig.tsx
  packages/bottom-tabs/src/experimental/types.tsx
  packages/elements/package.json
  packages/elements/src/Lazy.tsx
  packages/elements/src/index.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/utils/debounce.tsx
  packages/native-stack/src/utils/useAnimatedHeaderHeight.tsx
  packages/native-stack/src/views/FontProcessor.native.tsx
  packages/native-stack/src/views/FontProcessor.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
  yarn.lock
Due: lint, types, test

refactor: move native tabs to /unstable entry-point
  eslint.config.mjs
  example/src/Screens/NativeBottomTabs.tsx
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/experimental/index.tsx
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/debounce.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/types.ts
  packages/bottom-tabs/src/unstable/NativeScreen/useAnimatedHeaderHeight.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/index.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: fix importing unstable tabs
  example/package.json
  example/src/Screens/NativeBottomTabs.tsx
  yarn.lock
Due: lint, types, test

chore: add fallbacks for web
  example/src/Screens/NativeBottomTabs.native.tsx
  example/src/Screens/NativeBottomTabs.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.native.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.tsx
Due: lint, types, test

chore: remove leftover file
  app.json
Due: types, test

feat: add unstable native bottom tabs integration (#12791)
  eslint.config.mjs
  example/assets/icons/book-user.png
  example/assets/icons/book-user@2x.png
  example/assets/icons/book-user@3x.png
  example/assets/icons/heart.png
  example/assets/icons/heart@2x.png
  example/assets/icons/heart@3x.png
  example/assets/icons/list-music.png
  example/assets/icons/list-music@2x.png
  example/assets/icons/list-music@3x.png
  example/assets/icons/music.png
  example/assets/icons/music@2x.png
  example/assets/icons/music@3x.png
  example/assets/icons/newspaper.png
  example/assets/icons/newspaper@2x.png
  example/assets/icons/newspaper@3x.png
  example/package.json
  example/src/Screens/NativeBottomTabs.native.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/assets.d.ts
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/debounce.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/types.ts
  packages/bottom-tabs/src/unstable/NativeScreen/useAnimatedHeaderHeight.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.native.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/index.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/elements/src/Lazy.tsx
  packages/elements/src/index.tsx
  yarn.lock
Due: lint, types, test

feat: add unstable native bottom tabs integration (#12791)
  eslint.config.mjs
  example/assets/icons/book-user.png
  example/assets/icons/book-user@2x.png
  example/assets/icons/book-user@3x.png
  example/assets/icons/heart.png
  example/assets/icons/heart@2x.png
  example/assets/icons/heart@3x.png
  example/assets/icons/list-music.png
  example/assets/icons/list-music@2x.png
  example/assets/icons/list-music@3x.png
  example/assets/icons/music.png
  example/assets/icons/music@2x.png
  example/assets/icons/music@3x.png
  example/assets/icons/newspaper.png
  example/assets/icons/newspaper@2x.png
  example/assets/icons/newspaper@3x.png
  example/package.json
  example/src/Screens/NativeBottomTabs.native.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/assets.d.ts
  example/src/screens.tsx
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/debounce.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/types.ts
  packages/bottom-tabs/src/unstable/NativeScreen/useAnimatedHeaderHeight.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.native.tsx
  packages/bottom-tabs/src/unstable/createNativeBottomTabNavigator.tsx
  packages/bottom-tabs/src/unstable/index.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/elements/src/Lazy.tsx
  packages/elements/src/index.tsx
  tsconfig.json
  yarn.lock
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix: add missing options
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
Due: types, test

fix: disable prevent default for native tabs
  example/src/Screens/NativeBottomTabs.native.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
Due: lint, types, test
