Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

chore: setup server rendering with vite (#13191)
  example/App.tsx
  example/assets.d.ts
  example/e2e/playwright.config.ts
  example/e2e/tests/index.test.ts
  example/e2e/tests/server.test.ts
  example/index.html
  example/package.json
  example/server.tsx
  example/server/babel.config.js
  example/server/env.tsx
  example/server/index.tsx
  example/server/resolve-hooks.tsx
  example/src/index.tsx
  example/vite.config.mjs
  pnpm-lock.yaml
Due: lint, types, test

refactor: make common action types generic over param list
  packages/routers/src/CommonActions.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

refactor: make common action creators return narrowly typed actions
  packages/routers/src/CommonActions.tsx
Due: lint, types, test

refactor: make router action types generic over param list
  packages/native/src/__tests__/Link.test.tsx
  packages/routers/src/DrawerRouter.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/TabRouter.tsx
Due: lint, types, test

feat: make dispatch typesafe based on param list and navigator actions
  example/src/Screens/NativeStackPreventRemove.tsx
  example/src/Screens/StackPreventRemove.tsx
  example/src/Showcase/DrawerShowcase.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/__tests__/concurrent.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationCache.tsx
  packages/core/src/useNavigationHelpers.tsx
  packages/core/src/usePreventRemove.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/material-top-tabs/src/types.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native-stack/src/types.tsx
  packages/native/src/useLinkProps.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  packages/stack/src/types.tsx
Due: lint, types, test

test: add type tests for typesafe dispatch
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
Due: lint, types, test

perf: reduce type instantiations for typed dispatch
  packages/core/src/types.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
Due: lint, types, test

refactor: extract shared params payload type for actions
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/SwitchRouter.tsx
  packages/routers/src/TabRouter.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

fix: accept built-in router actions when navigator type is unknown
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
Due: lint, types, test

chore: fix formatting
  packages/native/src/__tests__/Link.test.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
Due: lint, types, test

refactor: derive dispatchable actions from the root navigator type
  example/__typechecks__/common.check.tsx
  example/__typechecks__/standalone/dynamic/index.check.tsx
  example/__typechecks__/standalone/static/index.check.tsx
  example/src/Screens/StackPreventRemove.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/createNavigationContainerRef.tsx
  packages/core/src/types.tsx
  packages/core/src/usePreventRemove.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
  packages/native/src/__tests__/useLinking.test.tsx
Due: lint, types, test

chore: add plan for typesafe dispatch
  PLAN.md
Due: none

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: exclude unsupported platforms for native components
  packages/native/src/native/MaterialSymbolViewNativeComponent.ts
  packages/native/src/native/ReactNavigationCornerInsetViewNativeComponent.ts
  packages/native/src/native/SFSymbolViewNativeComponent.ts
Due: lint, types, test

wip
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/react-native-drawer-layout/src/index.tsx
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/utils/responsiveValue.tsx
  packages/react-native-drawer-layout/src/utils/useResponsiveValue.native.tsx
  packages/react-native-drawer-layout/src/utils/useResponsiveValue.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/Drawer.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: fix type errors on callbacks on inline navigators
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

feat: make native package work without react-native-web
  example/metro.config.js
  example/vite.config.mjs
  jest.config.js
  package.json
  packages/elements/package.json
  packages/elements/src/__tests__/Button.test.tsx
  packages/elements/src/__tests__/Button.web.test.tsx
  packages/native/package.json
  packages/native/src/Link.native.tsx
  packages/native/src/Link.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/__tests__/Link.native.test.tsx
  packages/native/src/__tests__/Link.web.test.tsx
  packages/native/src/constants.native.tsx
  packages/native/src/constants.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/theming/fonts.native.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/useLinkProps.tsx
  pnpm-lock.yaml
Due: lint, types, test, dependencies

refactor: make batching exception-safe in store
  packages/core/src/useSyncState.tsx
Due: lint, types, test

fix: keep button focusable while loading
  packages/elements/src/Button.tsx
  packages/elements/src/PlatformPressable.tsx
Due: lint, types, test

feat(elements): support custom asset-catalog symbols in SFSymbol
  packages/native/ios/ReactNavigationSFSymbolView.swift
Due: none

feat(elements): add aspectRatio to image icons for non-square rendering
  packages/elements/src/PlatformIcon.tsx
  packages/elements/src/types.tsx
Due: lint, types, test

feat(bottom-tabs): per-tab icon size & active-indicator sizing on the native tab bar
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/bottom-tabs/src/views/BottomTabViewNativeImpl.tsx
  packages/bottom-tabs/src/views/TabBarIcon.tsx
Due: lint, types, test

fix: sync drawer content a11y via animatedProps
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/Overlay.native.tsx
Due: lint, types, test

fix: ensure resetRoot always resets the root navigator's state
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/native/src/__tests__/useLinking.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

feat: support custom asset-catalog symbols in SFSymbol (#13167)
  packages/native/ios/ReactNavigationSFSymbolView.swift
Due: none

feat: make native package work without react-native-web
  example/metro.config.js
  example/vite.config.mjs
  packages/native/src/Link.native.tsx
  packages/native/src/Link.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/constants.native.tsx
  packages/native/src/constants.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/theming/fonts.native.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

feat: make native package work without react-native-web (#13195)
  example/metro.config.js
  example/vite.config.mjs
  packages/native/src/Link.native.tsx
  packages/native/src/Link.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/constants.native.tsx
  packages/native/src/constants.tsx
  packages/native/src/native/CornerInset.tsx
  packages/native/src/native/MaterialSymbol.tsx
  packages/native/src/theming/fonts.native.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

fix: improve useNavigationState with concurrent rendering
  packages/core/package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationIndependentTree.tsx
  packages/core/src/NavigationStateContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/useNavigationState.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationState.tsx
  packages/core/src/useSyncState.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test

fix: improve useNavigationState with concurrent rendering (#13196)
  packages/core/package.json
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/NavigationIndependentTree.tsx
  packages/core/src/NavigationStateContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/useNavigationState.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationState.tsx
  packages/core/src/useSyncState.tsx
  packages/drawer/package.json
  packages/elements/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test

chore: fix eslint to resolve source export
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: types, test, dependencies

refactor: rework some types
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/findFocusedRoute.tsx
  packages/core/src/getActionFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/getStateFromRouteParams.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
