Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

ci: store debug output for both failure and cancel
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

ci: update avd configuration
  .github/workflows/e2e-android.yml
Due: none

ci: tweak avd configuration
  .github/workflows/e2e-android.yml
Due: none

ci: tweak avd configuration (#12889)
  .github/workflows/e2e-android.yml
Due: none

feat: add `useBottomTabAnimation`
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/utils/BottomTabAnimationContext.tsx
  packages/bottom-tabs/src/utils/useBottomTabAnimation.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

fix: don't clear params unnecessarily
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

fix(bottom-tabs): expose icon type
  packages/bottom-tabs/src/index.tsx
Due: lint, types, test

refactor: rename onChangeText to onChange for header
  example/src/Screens/NativeStack.tsx
  example/src/Screens/SimpleStack.tsx
  packages/elements/src/Header/HeaderSearchBar.tsx
  packages/elements/src/types.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix: handle screens in dynamic config in useNavigation
  example/__typechecks__/common.check.tsx
  example/src/Screens/BottomTabs.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigation.tsx
Due: lint, types, test

fix: adjust useNavigationState type for dynamic navigators
  example/__typechecks__/common.check.tsx
  packages/core/src/useNavigationState.tsx
Due: lint, types, test

fix: return proper state type for generic navigation if possible
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationState.tsx
Due: lint, types, test

refactor: don't create GenericNavigation for routes that don't need it
  packages/core/src/types.tsx
Due: lint, types, test

refactor: reorganize types
  packages/core/src/types.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

fix: handle params type for generic navigation
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

refactor: use NavigationProp directly if route name is known
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: glitching on initial load
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
Due: lint, types, test

refactor: simplify static config type
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

fix: accept more properties in static linking config
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

feat: remove UNSTABLE prefix from routeNamesChangeBehavior
  example/src/Screens/AuthFlow.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

feat: align header item types with react-native-screens
  packages/bottom-tabs/src/views/NativeScreen/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: add new props to NativeStack example
  example/src/Screens/NativeStack.tsx
Due: lint, types, test

test: add e2e tests for tab view examples
  .gitignore
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/e2e/maestro/tab-view.yml
  example/e2e/tests/maestro.test.ts
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
Due: lint, types, test

test: add e2e tests for tab view examples (#12896)
  .gitignore
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/e2e/maestro/tab-view.yml
  example/e2e/tests/maestro.test.ts
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
Due: lint, types, test

chore: update pager view to latest alpha
  example/package.json
  packages/material-top-tabs/package.json
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

chore: tweak linking objects for each example
  example/__typechecks__/common.check.tsx
  example/src/Screens/AuthFlow.tsx
  example/src/Screens/BottomTabs.tsx
  example/src/Screens/CustomLayout.tsx
  example/src/Screens/DynamicTabs.tsx
  example/src/Screens/Layouts.tsx
  example/src/Screens/LinkComponent.tsx
  example/src/Screens/MasterDetail.tsx
  example/src/Screens/MaterialTopTabs.tsx
  example/src/Screens/MixedHeaderMode.tsx
  example/src/Screens/MixedNativeStack.tsx
  example/src/Screens/MixedStack.tsx
  example/src/Screens/ModalStack.tsx
  example/src/Screens/NativeBottomTabs.tsx
  example/src/Screens/NativeStack.tsx
  example/src/Screens/NativeStackHeaderCustomization.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/NativeStackPreventRemove.tsx
  example/src/Screens/SimpleStack.tsx
  example/src/Screens/StackHeaderCustomization.tsx
  example/src/Screens/StackPreloadFlow.tsx
  example/src/Screens/StackPreventRemove.tsx
  example/src/Screens/StackTransparent.tsx
  example/src/Screens/Static.tsx
  example/src/Screens/TabPreloadFlow.tsx
  example/src/Screens/TabView.tsx
  example/src/index.tsx
Due: lint, types, test

chore: store drawer type and position in params
  example/src/Screens/DrawerView.tsx
Due: lint, types, test

test: add e2e tests for drawer examples
  example/e2e/maestro/drawer-view-back-left.yml
  example/e2e/maestro/drawer-view-back-right.yml
  example/e2e/maestro/drawer-view-front-left.yml
  example/e2e/maestro/drawer-view-front-right.yml
  example/e2e/maestro/drawer-view-slide-left.yml
  example/e2e/maestro/drawer-view-slide-right.yml
  example/e2e/maestro/drawer-view.yml
Due: none

fix: react-native-tab-view glitching on initial load (#12627)
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
Due: lint, types, test

chore: publish
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test

fix: include parent type for basic navigation
  example/__typechecks__/common.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

chore: update react-native-screens
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/native-stack/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

test: test for multiple screens with detachPreviousScreen: false
  example/e2e/maestro/stack-transparent.yml
Due: none

fix: disable header height workarounds when new `react-native-screens` implementation is used (#12852)
  packages/bottom-tabs/src/unstable/NativeScreen/NativeScreen.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: override user interface style for native navigation to match theme
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/NativeScreen/useHeaderConfig.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix typo
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: add sheetShouldOverflowTopInset prop
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
