Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

ci: update ios setup on ci
  .github/workflows/e2e-ios.yml
Due: none

chore: upgrade dependencies
  example/app.json
  example/e2e/playwright.config.ts
  example/e2e/tests/server.test.ts
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigation.tsx
  packages/core/src/useNavigationState.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  packages/stack/src/views/Stack/CardStack.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: upgrade dependencies (#13063)
  example/app.json
  example/e2e/playwright.config.ts
  example/e2e/tests/server.test.ts
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigation.tsx
  packages/core/src/useNavigationState.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  packages/stack/src/views/Stack/CardStack.tsx
  yarn.lock
Due: lint, types, test, dependencies

ci: use maestror-runner instead of maestro
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  eslint.config.mjs
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/e2e/tests/maestro.test.ts
  scripts/maestro.ts
  tsconfig.json
Due: lint, types, test

test: fix e2e flows on ios for maestro-runner
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  example/e2e/maestro/bottom-tabs-preload-flow.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/showcase-native-stack.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/src/Screens/BottomTabsPreloadFlow.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  example/src/Shared/Albums.tsx
  scripts/maestro.ts
Due: lint, types, test

test: use directional swipes in maestro flows
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
Due: none

test: make more tests work on Android
  example/e2e/maestro/libraries-drawer-layout.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/native-stack-prevent-remove.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/stack-header-customization.yml
  example/e2e/maestro/stack-prevent-remove.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  scripts/maestro.ts
Due: lint, types, test

feat: add a reuse option to preload
  packages/core/src/types.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

feat: add a reuse option to preload (#13066)
  packages/core/src/types.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

fix: fix type inference for nested CompositeNavigationProp
  example/__typechecks__/static.check.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: fix preloaded screens becoming visible on web
  packages/native-stack/src/views/NativeStackView.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

feat: support preloading nested screens
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  package.json
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test, dependencies

feat: make header translucent by default on iOS
  example/src/Screens/NativeStackCardModal.tsx
  example/src/Screens/NativeStackHeaderCustomization.tsx
  example/src/Screens/NativeStackPreventRemove.tsx
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: revert defaulting iOS header to translucent
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

fix: use explicit headerTintColor for header title if provided
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

chore(example): add bottom tabs navigation
  example/src/userinterface-bug.tsx
Due: lint, types, test

chore(example): prepare for header transparent repro
  example/src/userinterface-bug.tsx
Due: lint, types, test

chore(example): create userinterfacestyle bug example
  example/App.tsx
  example/app.json
  example/src/userinterface-bug.tsx
Due: lint, types, test

fix(native-stack): revert headerBackgroundColor transparent logic on iOS
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore(example): transparent background in header on iOS26
  example/src/userinterface-bug.tsx
Due: lint, types, test

chore(example): create example on why useColorScheme isnt sufficient
  example/src/userinterface-bug.tsx
Due: lint, types, test

chore(example): revert the main example
  example/src/index.tsx
Due: lint, types, test

fix: handle type inference for query param without pattern
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

wip
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/routers/src/types.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

fix: handle routes moved to preloadedRoutes in stack
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

fix: expose initialRouteName and screens in static config linking types
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

fix: preserve accessibility on android when header transparent is true
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

fix: clear comment
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

fix: change back old version
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

fix: add height
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

fix: don't keep screens visible in stack if animation isn't enabled
  packages/stack/src/types.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: minHeight instead of height
  packages/elements/src/Screen.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/views/Stack/CardContainer.tsx
Due: lint, types, test

refactor: simplify navigator types
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/createNavigatorFactory.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/index.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test

refactor: simplify the type bag
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/core/src/__tests__/StaticNavigation.test.tsx
  packages/core/src/types.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/native-stack/src/navigators/createNativeStackNavigator.tsx
  packages/native/src/__stubs__/createStackNavigator.tsx
  packages/native/src/__tests__/ServerContainer.test.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
Due: lint, types, test
