Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

fix: run loaders for newly focused nested routes
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/DataLoading.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/DataLoading.test.tsx
  packages/core/src/__tests__/useOnActionLoader.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

feat: show loading on Button for pending navigations
  example/src/Screens/Loaders.tsx
  packages/elements/src/Button.tsx
Due: lint, types, test

refactor: move consumed params tracking to container
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/ConsumedParamsContext.tsx
  packages/core/src/SceneView.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

feat: show loading on Button for pending navigations (#13179)
  example/src/Screens/Loaders.tsx
  packages/elements/src/Button.tsx
Due: lint, types, test

fix: fix incorrect target detection for links
  packages/elements/src/PlatformPressable.tsx
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

feat(native-stack): Support XCAsset header icons
  example/__typechecks__/static.check.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

fix: handle link actions, hrefs, and disabled state correctly
  example/__typechecks__/common.check.tsx
  example/e2e/tests/Link.test.ts
  example/src/Screens/ComponentsLink.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/elements/src/__tests__/Button.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/useDeepStableValue.tsx
  packages/native/src/useLinkProps.tsx
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

fix: handle link actions, hrefs, and disabled state correctly (#13152)
  example/__typechecks__/common.check.tsx
  example/e2e/tests/Link.test.ts
  example/src/Screens/ComponentsLink.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/PlatformPressable.tsx
  packages/elements/src/__tests__/Button.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/useDeepStableValue.tsx
  packages/native/src/useLinkProps.tsx
  packages/react-native-tab-view/src/PlatformPressable.tsx
Due: lint, types, test

fix: use nested screen from params when creating path
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/getStateFromRouteParams.test.tsx
  packages/core/src/__tests__/useStateForPath.test.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/getStateFromRouteParams.tsx
Due: lint, types, test

fix: handle link actions, hrefs, and disabled state correctly (#13152)
  example/e2e/tests/Link.test.ts
  example/src/Screens/LinkComponent.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/useDeepStableValue.tsx
  packages/native/src/useLinkProps.tsx
Due: lint, types, test

feat: add in prop to useLinkProps and Link
  example/__typechecks__/common.check.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/__tests__/Button.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/useLinkProps.tsx
  scripts/measure-typescript.ts
Due: lint, types, test

feat: add in prop to useLinkProps, Link & Button (#13182)
  example/__typechecks__/common.check.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/elements/src/Button.tsx
  packages/elements/src/__tests__/Button.test.tsx
  packages/native/src/Link.tsx
  packages/native/src/__tests__/Link.test.tsx
  packages/native/src/useLinkProps.tsx
  scripts/measure-typescript.ts
Due: lint, types, test

refactor: various improvements to types
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

refactor: various improvements to types (#13185)
  example/__typechecks__/common.check.tsx
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
  packages/core/src/utilities.tsx
Due: lint, types, test

ci: run e2e tests nightly with nightly version of screens
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
Due: none

fix: prevent drawer from getting stuck during navigation
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

chore: update standard-navigation
  example/package.json
  packages/native/package.json
  pnpm-lock.yaml
Due: types, test

chore: update standard-navigation
  example/package.json
  packages/native/package.json
  yarn.lock
Due: types, test, dependencies

feat: support drawerItemTestID for drawer navigator
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
Due: lint, types, test

chore: upgrade expo sdk to 56
  .github/actions/setup/action.yml
  example/babel.config.js
  example/package.json
  example/vite.config.mjs
  jest/setup.js
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test, dependencies

chore: upgrade expo sdk to 56
  example/app.json
  example/babel.config.js
  example/package.json
  example/src/Screens/BottomTabs.tsx
  example/src/index.tsx
  jest/setup.js
  package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/tsconfig.build.json
  packages/core/package.json
  packages/core/tsconfig.build.json
  packages/devtools/package.json
  packages/devtools/tsconfig.build.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/drawer/tsconfig.build.json
  packages/elements/package.json
  packages/elements/tsconfig.build.json
  packages/material-top-tabs/package.json
  packages/material-top-tabs/tsconfig.build.json
  packages/native-stack/package.json
  packages/native-stack/tsconfig.build.json
  packages/native/package.json
  packages/native/tsconfig.build.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/InteractionManager.tsx
  packages/react-native-drawer-layout/tsconfig.build.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/tsconfig.build.json
  packages/routers/package.json
  packages/routers/tsconfig.build.json
  packages/stack/package.json
  packages/stack/src/views/InteractionManager.tsx
  packages/stack/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

chore: upgrade expo sdk to 56 (#13181)
  example/app.json
  example/babel.config.js
  example/package.json
  example/src/Screens/BottomTabs.tsx
  example/src/index.tsx
  jest/setup.js
  package.json
  packages/bottom-tabs/package.json
  packages/bottom-tabs/tsconfig.build.json
  packages/core/package.json
  packages/core/tsconfig.build.json
  packages/devtools/package.json
  packages/devtools/tsconfig.build.json
  packages/drawer/package.json
  packages/drawer/src/__tests__/index.test.tsx
  packages/drawer/tsconfig.build.json
  packages/elements/package.json
  packages/elements/tsconfig.build.json
  packages/material-top-tabs/package.json
  packages/material-top-tabs/tsconfig.build.json
  packages/native-stack/package.json
  packages/native-stack/tsconfig.build.json
  packages/native/package.json
  packages/native/tsconfig.build.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/InteractionManager.tsx
  packages/react-native-drawer-layout/tsconfig.build.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/tsconfig.build.json
  packages/routers/package.json
  packages/routers/tsconfig.build.json
  packages/stack/package.json
  packages/stack/src/views/InteractionManager.tsx
  packages/stack/tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: lint, types, test, dependencies

chore: reword
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

feat(native-stack): add options to disable inset application for header (#13170)
  packages/native-stack/src/types.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: upgrade expo sdk to 56 (#13184)
  .github/actions/setup/action.yml
  example/babel.config.js
  example/package.json
  example/vite.config.mjs
  jest/setup.js
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  pnpm-lock.yaml
Due: lint, types, test, dependencies

fix: account for disabled top inset for header height
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/useHeaderConfigProps.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: account for disabled top inset for header height
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

chore: publish
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
Due: types, test

feat: implement new native stack
  example/src/Screens/NativeStackNext.tsx
  example/src/screens.tsx
  packages/native-stack/package.json
  packages/native-stack/src/next/NativeStackView.tsx
  packages/native-stack/src/next/createNativeStackNavigator.tsx
  packages/native-stack/src/next/index.tsx
Due: lint, types, test

fix: avoid Android Fabric drawer flash from hitSlop remounts
  packages/react-native-drawer-layout/src/types.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
  packages/react-native-drawer-layout/src/views/Overlay.native.tsx
Due: lint, types, test

fix: don't revert reset when dispatching another action immediately after
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

fix: don't ignore navigation from layout effects when screens change
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

fix: validate navigator type for state passed in params
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

fix: don't overwrite state changes made by 'beforeRemove' listeners
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/useOnAction.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
