Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

refactor: drop custom fromEntries in favor of Object.fromEntries
  packages/core/src/StaticNavigation.tsx
  packages/core/src/fromEntries.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/validatePathConfig.tsx
Due: lint, types, test

fix: inactive screen visible for one frame
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: lint and more readable code
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

feat: add bottom tabs animation
  example/src/Screens/BottomTabsAnimated.tsx
  example/src/screens.tsx
  packages/bottom-tabs/src/TransitionConfigs/SceneStyleInterpolators.tsx
  packages/bottom-tabs/src/TransitionConfigs/TransitionSpecs.tsx
  packages/bottom-tabs/src/__tests__/index.test.tsx
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/utils/useAnimatedValueArray.tsx
  packages/bottom-tabs/src/utils/useAnimatedValueObject.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/core/src/checkDuplicateRouteNames.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

feat: remove sceneAnimationOptions object from nav options
  example/src/Screens/BottomTabsAnimated.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

WDR Package 1.0.0
  package.json
  packages/react-native-tab-view/src/TabBar.tsx
Due: lint, types, test

Packages
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
Due: types, test

feat: refactor bottom-tabs animation
  packages/bottom-tabs/src/views/BottomTabView.tsx
Due: lint, types, test

feat: clean up code and fix review
  example/src/Screens/BottomTabsAnimated.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/utils/useAnimatedHashMap.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

log history
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

fix: bug with out of sync index in createHistoryMemory
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

fix: separate condition for detecting popstate
  packages/native/src/useLinking.tsx
Due: lint, types, test

feat: keep history entries after page reload
  packages/native/src/__tests__/createMemoryHistory.test.tsx
  packages/native/src/createMemoryHistory.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

feat: keep the root key for partial state while using resetRoot
  packages/native/src/useLinking.tsx
  packages/routers/src/StackRouter.tsx
Due: lint, types, test

feat(drawer): to allow developer to override styles for DrawerItem Link Pressable
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

feat: allow bottom tab cross fade transitions
  packages/bottom-tabs/src/TransitionConfigs/TransitionSpecs.tsx
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/core/src/checkDuplicateRouteNames.tsx
  packages/elements/src/Background.tsx
Due: lint, types, test

fix: correct supported react-native-reanimated version
  packages/drawer/package.json
  packages/react-native-drawer-layout/package.json
Due: types, test

chore: update example app deps
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/SceneView.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

chore: update example app to SDK 48 (#11380)
  example/package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/SceneView.tsx
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

fix: update yarn.lock
  yarn.lock
Due: none

chore: sync yarn.lock
  yarn.lock
Due: none

fix: prevent material tabBarItem from re-rendering when using material-top-tabs
  packages/core/package.json
  packages/drawer/package.json
  packages/material-top-tabs/package.json
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/react-native-tab-view/src/TabBarItem.tsx
  yarn.lock
Due: lint, types, test

fix: make back button ripple visible
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

fix aria selected
  packages/drawer/src/views/DrawerItem.tsx
Due: lint, types, test

refactor: more accurate ripple radius
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

fix: fix infering params when a screen is in a group
  example/__typechecks__/static.check.tsx
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

wip
  .github/actions/setup/action.yml
  packages/drawer/package.json
Due: types, test

ci: don't skip install if package.json files changed (#11390)
  .github/actions/setup/action.yml
  packages/drawer/package.json
Due: types, test

fix: drawer position on window resize
  packages/drawer/src/views/DrawerView.tsx
Due: lint, types, test

chore: update action.yml
  .github/actions/setup/action.yml
Due: none

refactor: update HeaderBackButton.tsx
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

chore: upgrade dependencies
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump del-cli to v5
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump @types/react-native to 0.71.3
  example/package.json
  packages/bottom-tabs/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: upgrade types
  packages/core/src/getPathFromState.tsx
  packages/core/src/types.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native/src/Link.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/types.tsx
  packages/stack/src/types.tsx
  packages/stack/src/utils/conditional.tsx
  packages/stack/src/views/Header/HeaderSegment.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/Card.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: fix typescript in example app
  example/src/Screens/MasterDetail.tsx
  example/src/Screens/TabView/CustomTabBar.tsx
  example/src/Shared/Albums.tsx
  example/src/index.tsx
Due: lint, types, test

chore: bump prettier
  package.json
  yarn.lock
Due: types, test

chore: make prettier & typescript happy
  packages/core/src/checkDuplicateRouteNames.tsx
  packages/core/src/types.tsx
Due: lint, types, test

fix: avoid crash on old android
  packages/elements/src/Header/HeaderBackButton.tsx
Due: lint, types, test

chore: align deps with main branch
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test
