Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

fix: let headerShadowVisible: true display a shadow even if headerTransparent is true (#10993)
  packages/native-stack/src/views/HeaderConfig.tsx
Due: lint, types, test

fix: add accessibility props to NativeStack screens (#11022)
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native-stack/src/__tests__/index.test.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native/package.json
  packages/stack/package.json
  yarn.lock
Due: lint, types, test

fix: only call onGestureStart when criteria met in drawer (#10929)
  packages/drawer/src/views/modern/Drawer.tsx
Due: lint, types, test

test: fix integration tests failing intermittently
  example/e2e/tests/Link.test.ts
Due: lint, types, test

docs: update the link to the published expo app
  example/README.md
Due: none

ci: migrate classic updates to EAS (#11010)
  .github/workflows/expo-preview.yml
  .github/workflows/expo.yml
  example/app.json
  example/package.json
Due: types, test

chore: add tab-view and flipper plugin to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/check-labels.yml
  .github/workflows/versions.yml
Due: none

chore: add comment for out-of-tree platforms
  .github/workflows/triage.yml
Due: none

docs: remove example links from tabview readme
  packages/react-native-tab-view/README.md
Due: none

docs: add react-native-tab-view to README
  README.md
Due: none

fix: url updates inconsistently when navigation to the same screen
  packages/native/src/useLinking.tsx
Due: lint, types, test

feat: expose tabBarGap option in material top tabs
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

feat: expose tabBarGap option in material top tabs (#11038)
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

refactor!: drop support for key property in navigate
  packages/core/src/types.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/TabRouter.tsx
  packages/routers/src/__tests__/CommonActions.test.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
  packages/stack/src/views/Stack/StackView.tsx
Due: lint, types, test

feat!: add `popTo` method for stack and remove going back behaviour of `navigate`
  example/src/Screens/NativeStack.tsx
  example/src/Screens/SimpleStack.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/types.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix!: align onReady callback and navigationRef.isReady
  example/src/index.tsx
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/types.tsx
  packages/native/src/NavigationContainer.tsx
Due: lint, types, test

feat: add navigateDeprecated for backward compatibility
  packages/core/src/types.tsx
  packages/routers/src/BaseRouter.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/DrawerRouter.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/TabRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

refactor!: remove deprecated options & warnings (#10912)
  packages/bottom-tabs/package.json
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/drawer/package.json
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/material-top-tabs/package.json
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/stack/package.json
  packages/stack/src/navigators/createStackNavigator.tsx
  yarn.lock
Due: lint, types, test

refactor!: disable child navigators handling actions by default (#10905)
  packages/core/src/BaseNavigationContainer.tsx
  packages/core/src/DeprecatedNavigationInChildContext.tsx
  packages/core/src/NavigationIndependentTree.tsx
  packages/core/src/NavigationIndependentTreeContext.tsx
  packages/core/src/__tests__/BaseNavigationContainer.test.tsx
  packages/core/src/__tests__/createNavigationContainerRef.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/useFocusEffect.test.tsx
  packages/core/src/__tests__/useIsFocused.test.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useNavigationCache.test.tsx
  packages/core/src/__tests__/useNavigationState.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/useRoute.test.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/core/src/useNavigationIndependentTree.tsx
  packages/core/src/useOnAction.tsx
  packages/native/src/NavigationContainer.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

refactor!: change tabBarTestID to tabBarButtonTestID for clarity
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/material-bottom-tabs/src/types.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
Due: lint, types, test

refactor: pass the route object to navigate for tabs/drawer
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/material-top-tabs/src/views/MaterialTopTabView.tsx
Due: lint, types, test

chore: update build script for smaller sourcemap & sourcemap for types
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: upgrade typescript to 4.9.3
  example/package.json
  package.json
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/core/src/__tests__/getActionFromState.test.tsx
  packages/core/src/__tests__/getFocusedRouteNameFromRoute.test.tsx
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useDescriptors.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/useRoute.test.tsx
  packages/core/src/getPathFromState.tsx
  packages/core/src/types.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useNavigationCache.tsx
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/src/Sidebar.tsx
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/native/src/Link.tsx
  packages/native/src/__tests__/extractPathFromURL.test.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/routers/src/__tests__/BaseRouter.test.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
  packages/stack/package.json
  packages/stack/src/utils/debounce.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  yarn.lock
Due: lint, types, test

ci: cache downloads from Playwright
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  example/package.json
  yarn.lock
Due: types, test

refactor: move tab-view to direct dependency of material-top-tabs
  example/package.json
  packages/material-top-tabs/package.json
  yarn.lock
Due: types, test

refactor!: improve the API for Link component
  example/e2e/tests/Link.test.ts
  example/src/Screens/LinkComponent.tsx
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/material-bottom-tabs/src/views/MaterialBottomTabView.tsx
  packages/native/src/Link.tsx
  packages/native/src/index.tsx
  packages/native/src/useLinkProps.tsx
  packages/native/src/useLinkTo.tsx
  packages/native/src/useLinkTools.tsx
Due: lint, types, test

ci: use nvmrc for setting up node
  .github/actions/setup/action.yml
  .nvmrc
Due: none

fix: drawerstatuscontext should be exported
  packages/drawer/src/index.tsx
  packages/drawer/src/utils/DrawerStatusContext.tsx
Due: lint, types, test

feat: split updating state to batches on long lists
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

fix: split updating state to batches on long lists (#11046)
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

chore: add contributors in release notes
  lerna.json
Due: types, test

feat: make changes to PR comments on view prop styles and tabbar position condition
  packages/bottom-tabs/src/views/BottomTabBar.tsx
Due: lint, types, test

chore: bump all packages to patch to force new release
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-tab-view/package.json
  packages/routers/package.json
  packages/stack/package.json
Due: types, test

chore: publish
  example/CHANGELOG.md
  example/package.json
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/flipper-plugin-react-navigation/CHANGELOG.md
  packages/flipper-plugin-react-navigation/package.json
  packages/material-bottom-tabs/CHANGELOG.md
  packages/material-bottom-tabs/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

refactor: change header title font size
  packages/elements/src/Header/HeaderTitle.tsx
Due: lint, types, test

refactor: add fix to default android header height
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
  packages/native-stack/src/__tests__/index.test.tsx
Due: lint, types, test

refactor: add border-radius size and height for drawer item, also extended drawer width for android
  packages/drawer/src/views/DrawerItem.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/elements/src/Header/getDefaultHeaderHeight.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
