Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

dependencies:
  run: yarn check-dependency-version-consistency .

fix: fix calculating indicator position on web
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

feat: support margins for the tab indicator
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

feat: support custom width for the tab bar indicator
  packages/react-native-tab-view/src/TabBarIndicator.tsx
Due: lint, types, test

chore: publish
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  yarn.lock
Due: types, test, dependencies

fix: bump peer deps to match required versions
  packages/bottom-tabs/package.json
  packages/core/package.json
  packages/devtools/package.json
  packages/drawer/package.json
  packages/elements/package.json
  packages/material-top-tabs/package.json
  packages/native-stack/package.json
  packages/native/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/package.json
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/react-native-tab-view/CHANGELOG.md
  packages/react-native-tab-view/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

chore: use higher density icons on web
  example/assets/icons/book-user.png
  example/assets/icons/book-user@1x.png
  example/assets/icons/chevron-down.png
  example/assets/icons/chevron-down@1x.png
  example/assets/icons/chevron-right.png
  example/assets/icons/chevron-right@1x.png
  example/assets/icons/heart.png
  example/assets/icons/heart@1x.png
  example/assets/icons/list-music.png
  example/assets/icons/list-music@1x.png
  example/assets/icons/message-circle.png
  example/assets/icons/message-circle@1x.png
  example/assets/icons/music.png
  example/assets/icons/music@1x.png
  example/assets/icons/newspaper.png
  example/assets/icons/newspaper@1x.png
  example/assets/icons/user-round-plus.png
  example/assets/icons/user-round-plus@1x.png
Due: none

fix(types): add explicit canPreventDefault to event maps for skipLibCheck consumers
  packages/bottom-tabs/src/types.tsx
  packages/core/src/types.tsx
  packages/native-stack/src/types.tsx
Due: lint, types, test

chore: add showcase for native stack
  example/assets/places/banff.jpg
  example/assets/places/crater-lake.jpg
  example/assets/places/grand-canyon.jpg
  example/assets/places/lake-tahoe.jpg
  example/assets/places/redwood.jpg
  example/assets/places/yellowstone.jpg
  example/assets/places/yosemite.jpg
  example/assets/places/zion.jpg
  example/src/Shared/ListGroupItem.tsx
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/Showcase.tsx
  example/src/index.tsx
  example/src/screens.tsx
Due: lint, types, test

chore: add showcase for material top tabs
  example/assets/showcase/food/food-01.jpg
  example/assets/showcase/food/food-02.jpg
  example/assets/showcase/food/food-03.jpg
  example/assets/showcase/food/food-04.jpg
  example/assets/showcase/food/food-05.jpg
  example/assets/showcase/food/food-06.jpg
  example/assets/showcase/food/food-07.jpg
  example/assets/showcase/food/food-08.jpg
  example/assets/showcase/food/food-09.jpg
  example/assets/showcase/food/food-10.jpg
  example/assets/showcase/food/food-11.jpg
  example/assets/showcase/food/food-12.jpg
  example/assets/showcase/food/food-13.jpg
  example/assets/showcase/food/food-14.jpg
  example/assets/showcase/food/food-15.jpg
  example/assets/showcase/food/food-16.jpg
  example/assets/showcase/food/food-17.jpg
  example/assets/showcase/food/food-18.jpg
  example/assets/showcase/food/food-19.jpg
  example/assets/showcase/food/food-20.jpg
  example/package.json
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  example/src/Showcase/Showcase.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: add showcase for drawer
  example/assets/icons/landmark.png
  example/assets/icons/landmark@2x.png
  example/assets/icons/landmark@3x.png
  example/assets/icons/layout-dashboard.png
  example/assets/icons/layout-dashboard@2x.png
  example/assets/icons/layout-dashboard@3x.png
  example/assets/icons/pie-chart.png
  example/assets/icons/pie-chart@2x.png
  example/assets/icons/pie-chart@3x.png
  example/package.json
  example/src/Showcase/DrawerShowcase.tsx
  example/src/Showcase/Showcase.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: use higher density icons on web
  example/assets/icons/circle-play.png
  example/assets/icons/circle-play@1x.png
  example/assets/icons/disc-3.png
  example/assets/icons/disc-3@1x.png
  example/assets/icons/landmark.png
  example/assets/icons/landmark@1x.png
  example/assets/icons/layout-dashboard.png
  example/assets/icons/layout-dashboard@1x.png
  example/assets/icons/library.png
  example/assets/icons/library@1x.png
  example/assets/icons/pie-chart.png
  example/assets/icons/pie-chart@1x.png
  example/assets/icons/radio-tower.png
  example/assets/icons/radio-tower@1x.png
  example/assets/icons/radio.png
  example/assets/icons/radio@1x.png
  example/assets/icons/search.png
  example/assets/icons/search@1x.png
  example/assets/icons/sparkles.png
  example/assets/icons/sparkles@1x.png
Due: none

chore: display showcases on main screen
  example/src/Showcase/DrawerShowcase.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  example/src/Showcase/NativeBottomTabsShowcase.tsx
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/Showcase.tsx
  example/src/screens.tsx
Due: lint, types, test

chore: add showcase for stack
  example/assets/showcase/dinos/allosaurus.png
  example/assets/showcase/dinos/ankylosaurus.png
  example/assets/showcase/dinos/apatosaurus.png
  example/assets/showcase/dinos/brachiosaurus.png
  example/assets/showcase/dinos/carnotaurus.png
  example/assets/showcase/dinos/ceratosaurus.png
  example/assets/showcase/dinos/coelophysis.png
  example/assets/showcase/dinos/compsognathus.png
  example/assets/showcase/dinos/deinonychus.png
  example/assets/showcase/dinos/dilophosaurus.png
  example/assets/showcase/dinos/diplodocus.png
  example/assets/showcase/dinos/eoraptor.png
  example/assets/showcase/dinos/gallimimus.png
  example/assets/showcase/dinos/giganotosaurus.png
  example/assets/showcase/dinos/herrerasaurus.png
  example/assets/showcase/dinos/iguanodon.png
  example/assets/showcase/dinos/kentrosaurus.png
  example/assets/showcase/dinos/maiasaura.png
  example/assets/showcase/dinos/oviraptor.png
  example/assets/showcase/dinos/pachycephalosaurus.png
  example/assets/showcase/dinos/parasaurolophus.png
  example/assets/showcase/dinos/plateosaurus.png
  example/assets/showcase/dinos/procompsognathus.png
  example/assets/showcase/dinos/spinosaurus.png
  example/assets/showcase/dinos/stegosaurus.png
  example/assets/showcase/dinos/styracosaurus.png
  example/assets/showcase/dinos/therizinosaurus.png
  example/assets/showcase/dinos/triceratops.png
  example/assets/showcase/dinos/tyrannosaurus-rex.png
  example/assets/showcase/dinos/velociraptor.png
  example/package.json
  example/src/Showcase/StackShowcase.tsx
  example/src/screens.tsx
  yarn.lock
Due: lint, types, test, dependencies

chore: treat text as regex to match maestro
  example/e2e/tests/maestro.test.ts
Due: lint, types, test

feat: support drawerItemTestID for drawer navigator
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerItemList.tsx
  packages/drawer/src/views/DrawerToggleButton.tsx
Due: lint, types, test

chore: evaluate boolean expressions with playwright
  example/e2e/tests/maestro.test.ts
Due: lint, types, test

chore: only use regex when .* is used for playwright
  example/e2e/tests/maestro.test.ts
Due: lint, types, test

fix: tweak inactiveBehavior for stack
  packages/stack/src/__tests__/index.test.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: add e2e tests for showcase
  example/e2e/maestro/showcase-drawer.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/showcase-native-bottom-tabs.yml
  example/e2e/maestro/showcase-native-stack.yml
  example/e2e/maestro/showcase-stack.yml
  example/src/Showcase/DrawerShowcase.tsx
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
Due: lint, types, test

chore: remove native prefix from bottom tabs shaowcase
  example/e2e/maestro/showcase-bottom-tabs.yml
  example/src/Showcase/BottomTabsShowcase.tsx
  example/src/screens.tsx
Due: lint, types, test

chore: use theme font instead of hardcoded
  example/src/Showcase/DrawerShowcase.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
Due: lint, types, test

fix: makes layout update logic consistent
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

refactor: use scheduleOnRN instead of deprecated runOnJS
  packages/drawer/package.json
  packages/react-native-drawer-layout/package.json
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

chore: publish
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

chore: use auto instead of null for height/width so it works on expo web
  example/src/Showcase/BottomTabsShowcase.tsx
  example/src/Showcase/MaterialTopTabsShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
Due: lint, types, test

chore: don't set title to empty string to make web title work
  example/src/Showcase/NativeStackShowcase.tsx
  example/src/Showcase/StackShowcase.tsx
Due: lint, types, test

fix: use inert attribute to block keyboard focus on unfocused screens
  packages/stack/src/views/Stack/CardA11yWrapper.tsx
  packages/stack/src/views/Stack/__tests__/CardA11yWrapper.test.tsx
Due: lint, types, test

fix: use Activity for stack header
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

fix: use Activity for stack header (#13040)
  packages/stack/src/views/Header/HeaderContainer.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  dependencies: any of: {package.json,yarn.lock}
