Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test

lint:
  run: yarn lint {staged_files}

types:
  run: yarn tsc --noEmit

test:
  run: yarn test

chore: remove version number from issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: make pluralization consistent
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: remove zIndex from overlay to avoid flicker
  packages/react-native-drawer-layout/src/views/Overlay.native.tsx
Due: lint, types, test

chore: publish
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
Due: types, test

docs: update README for example app
  example/README.md
Due: none

feat: provide gesture in DrawerGestureContext
  packages/react-native-drawer-layout/src/index.tsx
  packages/react-native-drawer-layout/src/utils/DrawerGestureContext.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

feat: export NavigatorProps and BackBehavior types
  packages/bottom-tabs/src/index.tsx
  packages/drawer/src/index.tsx
  packages/native-stack/src/index.tsx
  packages/routers/src/index.tsx
Due: lint, types, test

fix: nanoid vulberable version
  packages/core/package.json
  packages/devtools/package.json
  packages/native/package.json
  packages/routers/package.json
  yarn.lock
Due: types, test

fix: solve yarn lock file error
  yarn.lock
Due: none

feat: provide gesture in DrawerGestureContext (#12326)
  packages/react-native-drawer-layout/src/index.tsx
  packages/react-native-drawer-layout/src/utils/DrawerGestureContext.tsx
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: align path normalization behavior in static config
  packages/core/src/StaticNavigation.tsx
Due: lint, types, test

feat: move freezing logic in native-stack to navigation
  packages/native-stack/src/views/NativeStackView.native.tsx
Due: lint, types, test

feat: export *NavigatorProps for each navigator
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/types.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/drawer/src/types.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/material-top-tabs/src/types.tsx
  packages/native-stack/src/index.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  packages/stack/src/types.tsx
Due: lint, types, test

feat: add shouldFreeze to all navigators
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/bottom-tabs/src/views/ScreenFallback.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/drawer/src/views/ScreenFallback.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

fix: yarn lock file changes
  yarn.lock
Due: none

feat: export *NavigatorProps for each navigator (#12327)
  packages/bottom-tabs/src/index.tsx
  packages/bottom-tabs/src/navigators/createBottomTabNavigator.tsx
  packages/bottom-tabs/src/types.tsx
  packages/drawer/src/index.tsx
  packages/drawer/src/navigators/createDrawerNavigator.tsx
  packages/drawer/src/types.tsx
  packages/material-top-tabs/src/index.tsx
  packages/material-top-tabs/src/navigators/createMaterialTopTabNavigator.tsx
  packages/material-top-tabs/src/types.tsx
  packages/native-stack/src/index.tsx
  packages/stack/src/index.tsx
  packages/stack/src/navigators/createStackNavigator.tsx
  packages/stack/src/types.tsx
Due: lint, types, test

fix: nanoid vulberable version (#12328)
  packages/core/package.json
  packages/devtools/package.json
  packages/native/package.json
  packages/routers/package.json
  yarn.lock
Due: types, test

fix: correctly extract path from url when the url contains multiple `?` characters
  packages/native/src/__tests__/extractPathFromURL.test.tsx
  packages/native/src/extractPathFromURL.tsx
Due: lint, types, test

fix: flush state updates before `setPreventRemove` called
  packages/core/src/useScheduleUpdate.tsx
Due: lint, types, test

fix: correctly extract path from url with multiple `?` characters (#12334)
  packages/native/src/__tests__/extractPathFromURL.test.tsx
  packages/native/src/extractPathFromURL.tsx
Due: lint, types, test

fix: flush state updates before `setPreventRemove` called (#12335)
  packages/core/src/useScheduleUpdate.tsx
Due: lint, types, test

refactor: add newline
  packages/core/src/useScheduleUpdate.tsx
Due: lint, types, test

fix: don't freeze active and preloaded screens (#12332)
  packages/bottom-tabs/src/views/BottomTabView.tsx
  packages/bottom-tabs/src/views/ScreenFallback.tsx
  packages/drawer/src/views/DrawerView.tsx
  packages/drawer/src/views/ScreenFallback.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/stack/src/views/Screens.tsx
  packages/stack/src/views/Stack/CardStack.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test

chore: bump reanimated
  yarn.lock
Due: none

refactor: use useLatestCallback
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: fix pressables not receiving touch in drawer
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

chore: publish
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  yarn.lock
Due: types, test

Introducing React Navigation Guru on Gurubase.io
  README.md
Due: none

chore: always cache actions regardless of failure
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/snackager.yml
Due: none

chore: configure maestro tests on CI for iOS & Android
  .github/workflows/ci.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .gitignore
  example/app.json
  example/e2e/maestro/auth-flow.yml
  example/e2e/maestro/bottom-tabs.yml
  example/e2e/maestro/drawer-view.yml
  example/e2e/maestro/dynamic-tabs.yml
  example/e2e/maestro/link-component.yml
  example/e2e/maestro/master-detail.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/mixed-header-mode.yml
  example/e2e/maestro/mixed-native-stack.yml
  example/e2e/maestro/mixed-stack.yml
  example/e2e/maestro/modal-stack.yml
  example/e2e/maestro/native-stack-header-customization.yml
  example/e2e/maestro/native-stack-prevent-remove.yml
  example/e2e/maestro/native-stack.yml
  example/e2e/maestro/navigator-layout.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/simple-stack.yml
  example/e2e/maestro/stack-header-customization.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/e2e/maestro/stack-prevent-remove.yml
  example/e2e/maestro/stack-transparent.yml
  example/e2e/maestro/static-screen.yml
  example/e2e/maestro/tab-preload-flow.yml
  example/e2e/maestro/tab-view.yml
  example/e2e/tests/maestro.test.ts
  example/package.json
  example/src/index.tsx
Due: lint, types, test

add badge
  README.md
Due: none

fix: fix page not being resized to fit the screen on web
  packages/stack/src/views/Stack/CardSheet.tsx
Due: lint, types, test

chore: publish
  packages/stack/CHANGELOG.md
  packages/stack/package.json
Due: types, test

fix: make locale available in container fallback
  packages/native/src/NavigationContainer.tsx
Due: lint, types, test

feat: animatable font size and color
  example/src/Screens/MaterialTopTabs.tsx
  packages/material-top-tabs/src/types.tsx
  packages/material-top-tabs/src/views/MaterialTopTabBar.tsx
  packages/material-top-tabs/src/views/MaterialTopTabView.tsx
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
  packages/react-native-tab-view/src/TabBar.tsx
  packages/react-native-tab-view/src/TabBarItem.tsx
  packages/react-native-tab-view/src/TabBarItemLabel.tsx
  packages/react-native-tab-view/src/TabView.tsx
  packages/react-native-tab-view/src/types.tsx
Due: lint, types, test

fix(type): useNativeDriver prop missing
  packages/react-native-tab-view/src/PagerViewAdapter.tsx
Due: lint, types, test

fix(type): add useNativeDriver on PanResponderAdapter
  packages/react-native-tab-view/src/PanResponderAdapter.tsx
Due: lint, types, test

fix: full screen modal on Web in nested navigator
  packages/native-stack/src/views/NativeStackView.tsx
Due: lint, types, test

Path conditions:
  lint: any of: *.{js,ts,tsx}
  types: any of: *.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
