Repository react-navigation/react-navigation: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, dependencies

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{json,js,ts,tsx}"
      run: yarn tsc --noEmit
    test:
      glob: "*.{json,js,ts,tsx}"
      run: yarn test
    dependencies:
      glob: "{package.json,yarn.lock}"
      run: yarn check-dependency-version-consistency .
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: fix ripple effect for button on android
  packages/elements/src/Button.tsx
Due: lint, types, test

test: fix maestro tests
  example/e2e/maestro/stack-retain.yml
  example/src/Screens/NativeStackPreventRemove.tsx
  example/src/Screens/StackRetain.tsx
Due: lint, types, test

feat: treat preloaded screens same as regular screens
  packages/core/src/SceneView.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useDescriptors.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useOnAction.tsx
  packages/core/src/useOnGetState.tsx
  packages/core/src/useOnPreventRemove.tsx
  packages/routers/src/BaseRouter.tsx
  packages/routers/src/CommonActions.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/types.tsx
Due: lint, types, test

test: update nanoid mocks to create deterministic unique keys
  packages/routers/src/__tests__/BaseRouter.test.tsx
  packages/routers/src/__tests__/DrawerRouter.test.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/__tests__/TabRouter.test.tsx
Due: lint, types, test

feat: rework preload handling in stack
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/types.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

feat: rework preload handling in stack (#13094)
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  packages/core/src/__tests__/getPathFromState.test.tsx
  packages/core/src/__tests__/index.test.tsx
  packages/core/src/__tests__/useEventEmitter.test.tsx
  packages/core/src/__tests__/useNavigation.test.tsx
  packages/core/src/__tests__/useOnAction.test.tsx
  packages/core/src/__tests__/usePreventRemove.test.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/native-stack/src/views/NativeStackView.native.tsx
  packages/native-stack/src/views/NativeStackView.tsx
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
  packages/routers/src/types.tsx
  packages/stack/src/views/Stack/CardStack.tsx
  packages/stack/src/views/Stack/StackView.tsx
  packages/stack/src/views/Stack/__tests__/StackView.test.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/react-native-drawer-layout/CHANGELOG.md
  packages/react-native-drawer-layout/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

ci: use maestror-runner instead of maestro
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  eslint.config.mjs
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/e2e/tests/maestro.test.ts
  scripts/maestro.ts
  tsconfig.json
Due: lint, types, test

test: use directional swipes in maestro flows
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
Due: none

test: make more tests work on Android
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  example/e2e/maestro/libraries-drawer-layout.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/screen-layout.yml
  example/e2e/maestro/showcase-material-top-tabs.yml
  example/e2e/maestro/showcase-native-stack.yml
  example/e2e/maestro/stack-header-customization.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  scripts/maestro.ts
Due: lint, types, test

test: fix e2e flows on ios for maestro-runner
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  example/e2e/maestro/bottom-tabs-preload-flow.yml
  example/e2e/maestro/material-top-tabs.yml
  example/e2e/maestro/native-stack-preload-flow.yml
  example/e2e/maestro/showcase-native-stack.yml
  example/e2e/maestro/stack-preload-flow.yml
  example/e2e/maestro/tab-view-auto-width-tab-bar.yml
  example/e2e/maestro/tab-view-coverflow.yml
  example/e2e/maestro/tab-view-custom-tab-bar.yml
  example/e2e/maestro/tab-view-scroll-adapter.yml
  example/e2e/maestro/tab-view-scrollable-tab-bar.yml
  example/src/Screens/BottomTabsPreloadFlow.tsx
  example/src/Screens/NativeStackPreloadFlow.tsx
  example/src/Screens/StackPreloadFlow.tsx
  example/src/Shared/Albums.tsx
  scripts/maestro.ts
Due: lint, types, test

ci: update maestro runner version
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none

Disable native driver for all platforms on BottomTabViewCustom.tsx
  packages/bottom-tabs/src/views/BottomTabViewCustom.tsx
Due: lint, types, test

refactor: dispatch back instead of reset if we determine it's a simple pop (#13077)
  packages/native/src/__tests__/useLinking.test.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

refactor: backport API changes from 8.x and add deprecations
  packages/bottom-tabs/src/types.tsx
  packages/bottom-tabs/src/unstable/NativeBottomTabView.native.tsx
  packages/bottom-tabs/src/unstable/types.tsx
  packages/bottom-tabs/src/views/BottomTabBar.tsx
  packages/bottom-tabs/src/views/BottomTabItem.tsx
  packages/drawer/src/types.tsx
  packages/drawer/src/views/DrawerView.tsx
Due: lint, types, test

refactor: support module augmentation for default types
  packages/core/src/StaticNavigation.tsx
  packages/core/src/index.tsx
  packages/core/src/types.tsx
  packages/native/src/theming/DarkTheme.tsx
  packages/native/src/theming/DefaultTheme.tsx
  packages/native/src/theming/fonts.tsx
  packages/native/src/types.tsx
Due: lint, types, test

refactor: minor performance improvements
  packages/core/src/checkSerializable.tsx
  packages/core/src/getActionFromState.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/useEventEmitter.tsx
  packages/core/src/useNavigationBuilder.tsx
  packages/core/src/useRouteCache.tsx
  packages/routers/src/BaseRouter.tsx
Due: lint, types, test

chore: publish
  packages/bottom-tabs/CHANGELOG.md
  packages/bottom-tabs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devtools/CHANGELOG.md
  packages/devtools/package.json
  packages/drawer/CHANGELOG.md
  packages/drawer/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/material-top-tabs/CHANGELOG.md
  packages/material-top-tabs/package.json
  packages/native-stack/CHANGELOG.md
  packages/native-stack/package.json
  packages/native/CHANGELOG.md
  packages/native/package.json
  packages/routers/CHANGELOG.md
  packages/routers/package.json
  packages/stack/CHANGELOG.md
  packages/stack/package.json
  yarn.lock
Due: types, test, dependencies

fix: add make-shift excess property checking
  example/__typechecks__/static.check.tsx
  packages/core/src/createNavigatorFactory.tsx
Due: lint, types, test

fix: improve disabled and focusable behavior
  packages/core/src/index.tsx
  packages/elements/src/PlatformPressable.tsx
Due: lint, types, test

fix: fix swipeMinVelocity not being respected in drawer
  packages/react-native-drawer-layout/src/views/Drawer.native.tsx
Due: lint, types, test

fix: don't handle invalid source for POP
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: fix URLs with hashes not being matched correctly
  packages/native/src/__tests__/createMemoryHistory.test.tsx
  packages/native/src/createMemoryHistory.tsx
Due: lint, types, test

fix: fix preload to only handle routes from current navigator
  packages/routers/src/StackRouter.tsx
Due: lint, types, test

fix: fix linking prefix matching host with additional characters
  packages/native/src/__tests__/extractPathFromURL.test.tsx
  packages/native/src/extractPathFromURL.tsx
Due: lint, types, test

fix: handle errors in parsing query params gracefully
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/native/src/useLinking.native.tsx
  packages/native/src/useLinking.tsx
Due: lint, types, test

fix: fix replace and popTo not updating params
  packages/routers/src/StackRouter.tsx
  packages/routers/src/__tests__/StackRouter.test.tsx
Due: lint, types, test

fix: strip reserved param names from the URL
  packages/core/src/__tests__/getStateFromPath.test.tsx
  packages/core/src/getStateFromPath.tsx
  packages/core/src/useNavigationBuilder.tsx
Due: lint, types, test

ci: remove unused rebase action
  .github/workflows/rebase.yml
Due: none

ci: pin github actions to SHA
  .github/actions/setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/e2e-web.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/measure-typescript.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

ci: fix bugs in actions
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/closed-issue.yml
Due: none

chore: handle refs better when constructing git command
  scripts/measure-typescript.ts
Due: lint, types, test

ci: add proper permission for workflows
  .github/workflows/check-labels.yml
  .github/workflows/check-repro.yml
  .github/workflows/ci.yml
  .github/workflows/closed-issue.yml
  .github/workflows/e2e-web.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/measure-typescript.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  .github/workflows/versions.yml
Due: none

ci: verify SHA for maestro downloads
  .github/workflows/e2e-android.yml
  .github/workflows/e2e-ios.yml
Due: none
